@{
    Layout = null;
}@using Friday.mvc.Models
@model Friday.mvc.Areas.Category.Models.CategoryModel
<div>
     
    <div class="subView subView0 j_SubView hidden" data-spm="3.420198.322489">
   
          <h3 class="subItem-hd">
            超市百货模式</h3>
        <div class="subItem-list">
            <ul>  

       @{ 
                for ( int i=0;i<Model.shopModes.Count ;i++ )
                {
                     var itemShop=Model.shopModes.ElementAt(i);
                    
                <li class="first"><a href="http://120.192.31.164:7525/merchant/index?scid=@itemShop.Id" target="_blank"
                    title="@itemShop.Name">
                    <img src="@itemShop.sBrand" width="90"
                        height="45" alt="@itemShop.Name"><span>@itemShop.Name</span><b></b></a> </li>
                }
                
                }
            </ul>
            <a class="subItem-more" href=""
                target="_blank">更多品牌<s class="menuIcon"></s></a>
        </div>
       
    </div>
      <div class="subView subView0 j_SubView hidden" data-spm="3.420198.322489">
        <h3 class="subItem-hd">
            订餐模式</h3>
        <div class="subItem-list">
            <ul>
                   @for ( int i=0;i<Model.orderFoodModes.Count ;i++ )
                {
                    var itemFoodOrderMode = Model.orderFoodModes.ElementAt(i);
                    
                <li class="first"><a href="http://120.192.31.164:7525/merchant/index?scid=@itemFoodOrderMode.Id" target="_blank"
                    title="@itemFoodOrderMode.Name">
                    <img src="@itemFoodOrderMode.sBrand" width="90"
                        height="45" alt="@itemFoodOrderMode.Name"><span>@itemFoodOrderMode.Name</span><b></b></a> </li>
                }
                
               
            </ul>
            <a class="subItem-more" href=" "
                target="_blank">更多品牌<s class="menuIcon"></s></a>
        </div>
    </div>
            
</div>
