@{
    ViewBag.Title = "PersonalCenter";
}
@using Friday.mvc.Areas.PersonalCenter.Models
@model PersonalCenterModel
@*<html class="ks-webkit537 ks-webkit ks-chrome26 ks-chrome">*@
<!DOCTYPE HTML>
<html>
<head>
    <meta name="data-spm" content="a1z02" />
    <title>我的邻居在线！我喜欢 </title>
    <script>        window.g_config = { appId: 5 };
        g_hb_monitor_st = +new Date;</script>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <meta name="description" content="中国最大、最安全的网上交易社区，尽享邻居在线乐趣！" />
    @*<link rel="shortcut icon" href="http://www.linjuzaixian.com/Images/favicon.ico" type="image/x-icon" />*@
    <!-- start vmc css 3.1-->
    @*    <link rel="stylesheet" href="http://a.tbcdn.cn//??p/global/1.0/global-min.css,apps/mytaobao/3.0/mt/base/base.css,apps/mytaobao/4.0/home/20130326/page/init.css?t=2013050901.css" />*@
    @*<link rel="stylesheet" href=@Url.Content("/p/global/1.0/global-min.css") />*@
    <link rel="stylesheet" href=@Url.Content("/apps/mytaobao/3.0/mt/base/base.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/mytaobao/4.0/home/20130326/page/init.css") />
    <link rel="stylesheet" href=@Url.Content("/p/c2c/header-top-min.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    <!-- end vmc css 3.1-->
    <!-- start vmc js 3.1 -->
    @*<script src="http://a.tbcdn.cn//??s/kissy/1.3.0/kissy-min.js,p/global/1.0/global-min.js,apps/mytaobao/4.0/common/package-config.js,p/sns/1.1/sns.js,p/snsdk/core.js?t=2013050901.js"></script>*@
    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    @*    <script src=@Url.Content("/p/global/1.0/global-min.js")></script>*@
    <script src="@Url.Content("/p/mall/base/global-v2.js")"></script>
    <script src="@Url.Content("/apps/tmall/mui/tml/tml.js")"></script>
    <script src="@Url.Content("/apps/tmall/fp/2012/core.js")"></script>
    <script src=@Url.Content("/apps/mytaobao/4.0/common/package-config.js")></script>
    @*    <script src=@Url.Content("/p/sns/1.1/sns.js")></script>
    <script src=@Url.Content("/p/snsdk/core.js")></script>*@
    <script src=@Url.Content("/apps/mytaobao/4.0/home/20130326/page/init.js")></script>
    @*<script src="@Url.Content("/apps/tmallbuy/razer/mini/core.js")"></script>*@
    <!-- end vmc js 3.1 -->
    <!--[if lt IE 9]>
    <script src=@Url.Content("/apps/mytaobao/4.0/common/html5shiv.js")></script>
    <script src=@Url.Content("/apps/mytaobao/4.0/common/round-vml.js")></script>
    <link rel="stylesheet" href=@Url.Content("/apps/mytaobao/4.0/home/20130326/page/init-ie.css") />
    <![endif]-->
</head>
<body>
    @Html.Partial("_SiteNav")
    @Html.Partial("_Header")
    <div id="layout-center">
        @*        <script>            TB.Global.init();</script>*@
        <!-- end vmcommon/mytaobao -->
        <div class="grid-c2">
            <div class="col-main">
                <div class="main-wrap">
                    <article id="userinfo" class="mt-user-info-box">
                        <div class="mt-userinfo clearfix">
                            <div class="name-info">
                                <span class="name">
                                    <a title="@Model.systemUser.Name" target="_blank" href="">@Model.systemUser.Name</a>
                                    <span class="nick">(@Model.systemUser.LoginUser.LoginName)</span>
                                </span>
                                @*        <span class="prestige">
                                        
<a href=" " target="_blank" data-spm="d1000296"><img src="http://www.linjuzaixian.com/Images/b_red_2.gif" title="27个买家信用积分，请点击查看详情" border="0" align="absmiddle" class="rank" /></a>                    </span>*@
                                @*        <div id="J_MyAlipayBtn" class="mt-alipay-wrap">
            <!--认证标志-->
        <span class="realy-name">
		<a class="icon" title="支付宝实名认证" target="_blank" href=" " data-spm="d1000297"></a>
	</span>
                <span class="my-alipay">
	<a class="my-alipaybtn" target="_blank"
	   href="http://lab.alipay.com/user/i.htm?src=yy_content_jygl&amp;sign_from=3000&amp;sign_account_no=20880029743406830156" data-spm="d1000298">
	   我的支付宝
	</a>
    <div id="J_MyAlipayInfo" class="my-alipayinfo hidden chromehack">
        <ul>
            <li class="check-amount">
                <!--有余额 -->
                <span id="J_AliPayMoney" class="hidden"><em></em>元</span>
                <!-- 查看余额  -->
                <a href="" data-spm="d1000299" data-snstracelog="{'url':'http://log.mmstat.com/sns.16.18'}">查看余额</a>
            </li>
            <li><a href=" " target="_blank" data-spm="d1000300" data-snstracelog="{'url':'http://log.mmstat.com/sns.16.19'}">充值</a></li>
            <li><a href="  " target="_blank" data-spm='d1000302'>转账付款</a></li>
            <li><a href=" " target="_blank" data-spm="d1000301" data-snstracelog="{'url':'http://log.mmstat.com/sns.16.20'}">消费记录</a></li>
        </ul>
    </div>
</span>
        </div>*@

                            </div>
                            @*<div class="shopping-info">
            <span class="to-pay">待付款<em class="num">0</em></span>
                <span class="to-sure">待确认收货<em class="num">0</em></span>
                <a href="   " class="to-reply" target="_blank" data-spm="d1000304">
            待评价<em class="num">1</em></a>
        <!---该处只有不为0时显示 START-->
            	<a href=" " class="address" target="_blank" data-spm="d1000308">收货地址管理</a>
	</div>*@
                        </div>
                    </article>
                    <article id="userinfomore" class="mt-userinfo-sub">
                        @*    <div class="sub-info">
    <ul class="main-ul">
        <li class="coin">
                                                <p class="tao-coin"><a href=" " target="_blank" data-spm="d1000326">领<em>5</em>淘金币</a></p>
                                        <p class="day-task"><a href=" " target="_blank" data-spm="d1000331">玩任务赚金币</a></p>
        </li>
                                <li class="vip">
            <ul>
                <li class="member">会员等级 <a class="v1" title="v1会员" href=" " target="_blank" data-spm="d1000327"></a>  </li>
                <li class="my-privilegeinfo">
                    <span id="J_MyPrivilegeBtn" class="my-privilegebtn">我的优惠信息</span>
                    <div id="J_MyPrivilegeInfo" class="myprivilegeinfo-content hidden">
                        <ul>
                                                            <li class="my-super"><span class="label">我的特权：</span>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/change-16-16.png" title="V4以上尊享优先入场"/>
                                        </a>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/v4buy-16-16.png" title="V4以上用户购物每天可领取更多淘金币"/>
                                        </a>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/V1buy-16-16.png" title="每天在会员俱乐部，不同级别会员签到可领取不同的淘金币"/>
                                        </a>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/zhe-16-16.png" title="V1以上用户尊享折上折特权"/>
                                        </a>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/birthday-16-16.png" title="会员生日当月享受生日特供商品"/>
                                        </a>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/wangwangpifu-16-16.png" title="专属旺旺皮肤/头像，彰显尊贵身份"/>
                                        </a>
                                                                            <a href=" " target="_blank">
                                            <img src="http://www.linjuzaixian.com/Images/shandian-16-16.png" title="即点即退，瞬间到账"/>
                                        </a>
                                                                    </li>
                                                        <li><span class="label">邻居在线积分： <em></em></span><a target="_blank" href=" ">积分购物</a></li>
                            <li><span class="label">店铺优惠券：<em></em>张</span><a target="_blank" href=" ">查看</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</div>*@



                    </article>
                    <article id="usernew">
                        <style type="text/css">
                            .newUserCon {
                                height: 205px;
                                width: 828px;
                                overflow: hidden;
                            }

                                .newUserCon li {
                                    float: left;
                                    height: 205px;
                                }

                                    .newUserCon li.item-1, .newUserCon li.item-2 {
                                        width: 277px;
                                    }

                                        .newUserCon li.item-1 a {
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            background: url(http://www.linjuzaixian.com/Images/jianmianli__-277-205.gif) no-repeat;
                                        }

                                        .newUserCon li.item-2 a {
                                            display: block;
                                            width: 100%;
                                            height: 100%;
                                            background: url(http://www.linjuzaixian.com/Images/jiaowotao-277-205.gif) no-repeat;
                                        }

                                    .newUserCon li.item-3 {
                                        width: 274px;
                                        height: 205px;
                                        background: url(http://www.linjuzaixian.com/Images/dajiadoumaisha-276-205.gif) no-repeat;
                                    }

                                        .newUserCon li.item-3 .labelCon {
                                            margin-top: 60px;
                                        }

                                    .newUserCon li.item-1 a:hover, .newUserCon li.item-2 a:hover {
                                        filter: alpha(opacity=85);
                                        -moz-opacity: 0.85;
                                        -khtml-opacity: 0.85;
                                        opacity: 0.85;
                                    }

                            .labelCon {
                                line-height: 40px;
                                font-family: "Microsoft Yahei", "oúì?";
                                font-size: 15px;
                            }

                                .labelCon span {
                                    float: left;
                                    width: 67px;
                                    height: 40px;
                                    text-align: center;
                                    overflow: hidden;
                                }

                            .style1 {
                                color: #676767;
                            }

                            .style2 {
                                color: #ff9191;
                                font-size: 19px;
                            }

                            .style3 {
                                color: #858585;
                            }

                            .style4 {
                                color: #666666;
                            }

                            .style5 {
                                color: #98815e;
                                font-size: 17px;
                            }

                            .style6 {
                                color: #6cde67;
                            }

                            .style7 {
                                color: #ff925c;
                                font-size: 19px;
                            }

                            .style8 {
                                color: #6fbdff;
                                font-size: 14px;
                            }

                            .style9 {
                                color: #ff925c;
                                font-size: 17px;
                            }

                            .style10 {
                                color: #6cde67;
                            }

                            .style11 {
                                color: #9bddd6;
                            }

                            .style12 {
                                color: #fbca19;
                                font-size: 19px;
                            }
                        </style>
                        <script type="text/javascript">
                            KISSY.ready(function (S) {
                                var $ = S.all;
                                var styleArr = ['style1', 'style2', 'style3', 'style4', 'style5', 'style6', 'style7', 'style8', 'style9', 'style10', 'style11', 'style12'];
                                var textArr = [];
                                var linkArr = [];
                                var arr = [];
                                var tml = '<span><a href="{link}" target="_blank" class="{style}">{text}</a></span>';
                                var tmlHtml = '';
                                var num;
                                var repeat;
                                var aList = $("#J_labelCon a");
                                var roundNumArr = [];

                                S.each(aList, function (v) {
                                    textArr.push($(v).text());
                                    linkArr.push($(v).attr('href'));
                                })

                                styleArr.sort(RandomSort);
                                if (aList.length >= styleArr.length) {
                                    roundNumArr = getRoundArr(styleArr, linkArr);
                                }

                                for (var i = 0, l = roundNumArr.length; i < l; i++) {
                                    tmlHtml += S.substitute(tml, {
                                        link: linkArr[roundNumArr[i]],
                                        style: styleArr[i],
                                        text: textArr[roundNumArr[i]]
                                    })
                                }

                                S.one('#J_labelCon').html(tmlHtml);

                                function RandomSort(a, b) {
                                    return (Math.round(Math.random()) - 0.5);
                                }

                                function getRoundArr(bassArr, originalArr) {
                                    var n = bassArr.length || 12;
                                    while (arr.length < n) {
                                        repeat = false;
                                        num = parseInt(originalArr.length * Math.random());
                                        if (arr.length > 0) {
                                            for (var i = 0; i < arr.length; i++) {
                                                if (arr[i] == num) {
                                                    repeat = true;
                                                    break;
                                                }
                                            }
                                            if (!repeat) {
                                                arr.push(num);
                                            }

                                        } else {
                                            arr.push(num);
                                        }

                                    }
                                    return arr;
                                }


                            })
                        </script>
                        <div id="J_newUser" class="newUserCon">
                            <ul class="newUserList">
                                <li class="item-1">

                                    <a href="http://www.linjuzaixian.com/merchant/searchproduct" target="_blank" data-spm-anchor-id="a1z02.1.a2145jt.1"></a>

                                </li>
                                <li class="item-2">

                                    <a href="http://www.linjuzaixian.com/merchant/searchproduct" target="_blank"></a>

                                </li>
                                <li class="item-3">
                                    <div id="J_labelCon" class="labelCon">
                                        @if (Model.GlobalGoodsTypes != null && Model.GlobalGoodsTypes.Count != 0)
                                        {
                                            Random r = new Random();
                                            for (int index = 0; index < Model.GlobalGoodsTypes.Count; index++)
                                            {
                                                var item = Model.GlobalGoodsTypes.ElementAt(index);

                                                var s = r.Next(1, 12);
                                                var style = "style" + s;
                       
                                            <span>

                                                @if (string.IsNullOrEmpty(item.Description))
                                                {
                                                    @:<a href="http://www.linjuzaixian.com/Merchant/SearchProduct?from=sn_1_cat-qp&amp;area_code=370100&amp;style=g&amp;sort=s&amp;q=%D0%AC&amp;n=60&amp;s=0&amp;cat=@item.Id#J_crumbs" target="_blank" class="@style">@Html.Encode(item.Name)</a>
                                                }
                                                else
                                                {
                                                    @:<a href="http://www.linjuzaixian.com/Merchant/index?scid=@item.Description" target="_blank" class="@style">@Html.Encode(item.Name)</a>                       
                                                }
                                            </span>
                                            }
                                        }


                                    </div>
                                </li>
                            </ul>
                        </div>
                    </article>
                    <article id="has-buy">
                        <div class="J_zoomIn" data-spm="5864393">
                            <div class="inner">
                                <header>
                                    @*<h2><a href="http://trade.taobao.com/trade/itemlist/list_bought_items.htm?tracelog=yimaidaotitle" target="_blank" data-spm="d4908581">已买到的宝贝</a></h2>*@
                                    <h2><a href="javascript: return false;" style="cursor: default" target="_blank" data-spm="d4908581">已买到的宝贝</a></h2>
                                </header>
                                @{
                                    if (Model.Commodities.Count != 0)
                                    {
                                    <div class="J_hasbuy_scroll hasbuy-2">
                                        <section>
                                            <ul class="hasbuy-item-list">
                                                @{
                                        for (int i = 0; i < ((Model.Commodities.Count) > 6 ? 6 : Model.Commodities.Count); i++)
                                        {
                                                    <li>
                                                        <a href="http://www.linjuzaixian.com/merchant/detail/index?brandId=@Model.Commodities.ElementAt(i).Id" target="_blank" title="@Model.Commodities.ElementAt(i).Name" data-spm="d4908585">
                                                            <img src="@Model.Commodities.ElementAt(i).Image"/></a>
                                                        <p><span class="rmb">￥</span>@(Model.OrderOfCommodity.ElementAt(i).Sku.price)</p>
                                                    </li>                                    
                                        }  
                                                }

                                            </ul>
                                        </section>

                                        <section class="hasbuy-item-1">
                                            <span class="nodata-icon">购物的路如人生，只有不断向前才有更美的风景，继续购吧！</span>
                                        </section>
                                    </div> 
                                    }
                                    else
                                    {
                                    <div class="J_hasbuy_scroll hasbuy-0">
                                        <section class="hasbuy-item-0">
                                            <a class="nodata-icon">没有宝贝在路上</a>
                                            <p class="app-mark"><span><a>去购物吧，没有包裹在路上总觉得缺点什么。</a></span></p>
                                        </section>
                                    </div>
                
                
                                    }
                                }
                                @*            <div class="J_hasbuy_scroll hasbuy-2">
                   <section >
                        <ul class="hasbuy-item-list">
                           <li>
                               <a href="http://item.taobao.com/item.htm?id=20136140849" target="_blank" title="Afs Jeep冲锋衣正品 两件套 可脱卸内胆男士防风加厚户外棉衣服-2" data-spm="d4908585"><img src="http://img04.taobaocdn.com/bao/uploaded/i4/69908471/T2puqmXXXcXXXXXXXX_!!69908471.jpg_80x80.jpg"/></a>
                               <p><span class="rmb">￥</span>339.00</p>
                           </li>
                        </ul>
                    </section>
                
                <section class="hasbuy-item-1">
                     <span class="nodata-icon">购物的路如人生，只有不断向前才有更美的风景，继续购吧！</span>
                </section>
            </div>

            <div class="J_hasbuy_scroll hasbuy-0">
                    <section class="hasbuy-item-0">
                        <a class="nodata-icon">没有宝贝在路上</a>
                        <p class="app-mark"><span><a>去购物吧，没有包裹在路上总觉得缺点什么。</a></span></p>
                    </section>
            </div>*@

                            </div>
                        </div>
                    </article>
                    <article id="shop-cart">
                        <div class="inner" data-spm="5864397">
                            <header>
                                <h2><a href="http://www.linjuzaixian.com/CartPay/Home/MyCartPay" target="_blank" data-spm="d4908597">购物车</a></h2>
                                <span class="sub" id="J_cart_discount_box"></span>
                                <a class="more" href="http://www.linjuzaixian.com/CartPay/Home/MyCartPay" target="_blank" data-spm="d4908601">更多</a>
                            </header>
                            <div id="J_cart_container">
                                @{
                                    if (Model.CartOfCommodities.Count == 0)
                                    {
                                    <div class="shop-cart-list cart-0">
                                        <a class="nodata-icon">购物车没有宝贝</a>
                                        <p class="app-mark"><span><a data-spm="d4908601" href="http://www.linjuzaixian.com/CartPay/Home/MyCartPay" target="_blank">把想买的宝贝放进来吧，有了优惠我会提醒你哦。</a></span></p>
                                    </div>
                                    }
                                    else
                                    {
                                        for (int i = 0; i < ((Model.CartOfCommodities.Count) > 3 ? 3 : Model.CartOfCommodities.Count); i++)
                                        {
                                    <dl class="shop-cart-list cart-3">
                                        <dt class="item-image">
                                            <a href="http://www.linjuzaixian.com/merchant/detail/index?brandId=@Model.CartOfCommodities.ElementAt(i).Commodity.Id" target="_blank" data-spm="d4908605">
                                                <img src="@Model.CartOfCommodities.ElementAt(i).Commodity.Image"></a>
                                        </dt>

                                        <dd class="item-name">
                                            <a href="http://www.linjuzaixian.com/merchant/detail/index?brandId=@Model.CartOfCommodities.ElementAt(i).Commodity.Id" target="_blank" title="@Model.CartOfCommodities.ElementAt(i).Commodity.Name" data-spm="d4908609">
                                                @{
                                        
                                            if (Model.CartOfCommodities.ElementAt(i).Commodity.Name.Length > 15)
                                            {
                                                    <text>@(Model.CartOfCommodities.ElementAt(i).Commodity.Name.Substring(0, 15) + "...")</text>
                                            }
                                            else
                                            {
                                                    <text>@(Model.CartOfCommodities.ElementAt(i).Commodity.Name.Substring(0, Model.CartOfCommodities.ElementAt(i).Commodity.Name.Length))</text>
                                            }
                                                }
                                            </a>
                                        </dd>

                                        <dd class="item-price">
                                            @{
                                            if (Model.CartOfCommodities.ElementAt(i).Commodity.OldPrice <= Model.CartOfCommodities.ElementAt(i).Commodity.Price)
                                            {
                                                <p class="new-price"><span class="rmb">￥</span>@(Model.CartOfCommodities.ElementAt(i).Sku.price)</p>
                                            }
                                            else
                                            {
                                                <p class="old-price"><span class="rmb">￥</span>@(Model.CartOfCommodities.ElementAt(i).Sku.price)</p>
                                                <p class="new-price"><span class="rmb">￥</span>@(Model.CartOfCommodities.ElementAt(i).Sku.price)</p>
                                                <p><span class="less-price">省@(Model.CartOfCommodities.ElementAt(i).Sku.price - Model.CartOfCommodities.ElementAt(i).Sku.price)</span></p>
                                            }
                                            }

                                        </dd>
                                    </dl>                             
                                        }
                                    }
                                }
                            </div>
                        </div>
                    </article>
                    <article id="app-collect-shop" class="mt-app">
                        <div class="inner">
                            <header>
                                <h3><a href="http://www.linjuzaixian.com/myBrandsIndex.html" target="_blank">我收藏的店铺</a><i data-title="店铺动态全新改版！点击图标，发现惊喜" class="why"></i></h3>
                            </header>


                            <!-- 如果接口失败 -->
                            <!-- 四个店铺 -->

                            <section class="shop-2">
                                @{
                                    for (int i = 0; i < ((Model.FavMerchants.Count) > 3 ? 3 : Model.FavMerchants.Count); i++)
                                    {
                                    <a  href="http://www.linjuzaixian.com/merchant/index?scid=@Model.FavMerchants.ElementAt(i).Id" target="_blank" data-title="@Model.FavMerchants.ElementAt(i).Name" class="J_collect_shop">
                                        <img src="@Model.FavMerchants.ElementAt(i).Logo"/>
                                    </a>                                   
                                    }
                                }


                            </section>
                            <footer>
                                <a href="http://www.linjuzaixian.com/merchant/searchproduct" target="_blank">新品上架</a>
                                <a href="http://www.linjuzaixian.com/merchant/searchproduct" target="_blank">优惠活动</a>
                            </footer>

                        </div>
                    </article>
                    <article id="app-more" class="mt-app">
                        <div class="inner">
                            更多内容，敬请期待...
                        </div>
                    </article>
                </div>
            </div>
            <section class="col-sub">
                <!--sns mytaobao_menu.vm-->



                <!-- 6 -->
                <aside class="mt-menu" id="J_MtSideMenu">
                    <div class="mt-avatar">
                        <div class="mt-avatar-box" id="J_MtAvatarBox">
                            @*<a class="mt-user-avatar" href="" target="_blank">*@
                            <img src="http://www.linjuzaixian.com/Images/avatar-100.png"></img>@*</a>*@
                            @*<a class="mt-avatar-operation hide" id="J_MtAvatarOperation" href=" ">上传新头像</a>*@
                        </div>
                        @*			<div class="mt-edit-userinfo">
				<a href=" " class="mt-edit-info">编辑资料</a>
				<a href=" " class="mt-edit-private">隐私设置</a>
			</div>*@
                    </div>

                    <div class="mt-menu-tree">
                        <dl class="mt-menu-item" data-spm="a2109">
                            <dt class="fs14">我的交易</dt>
                            <dd>
                                <a href="http://www.linjuzaixian.com/CartPay/Home/MyCartPay" target="_blank" role="menuitem" data-spm="d1000367">我的购物车</a>
                            </dd>

                            <dd id="favorite"><a href="http://www.linjuzaixian.com/myBrandsIndex.html" data-spm="d1000374">我的收藏</a></dd>

                        </dl>



                    </div>

                </aside>




            </section>
        </div>
    </div>
    <!-- from vmcommon -->
    @Html.Partial("_Footer")
    <!-- end vmcommon -->
    <script type="text/javascript">
        FB.config({
            path: 'http://www.linjuzaixian.com/apps/mytaobao/4.0/',
            name: 'home',
            version: '1.0',
            pub: '20130326'
        });
        //业务逻辑代码
        KISSY.use('page/init');
    </script>
</body>
</html>
