@{
    ViewBag.Title = "CartPay";
}
@*<html class="ks-webkit537 ks-webkit ks-chrome26 ks-chrome">*@
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href=@Url.Content("/tbsp/tbsp.css") />
    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src=@Url.Content("/s/kissy/1.3.0/datalazyload-min.js")></script>
    <script src=@Url.Content("/s/kissy/1.3.0/switchable-min.js")></script>
    <script src=@Url.Content("/p/global/1.0/global-min.js")></script>
    @*<script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/init.js")></script>*@
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/global.js")></script>
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/app.js")></script>
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/model.js")></script>
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/view.js")></script>
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/topsearch.js")></script>
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/feedback.js")></script>
    <script src=@Url.Content("/apps/martrix-mission/feedback.js")></script>
    <script src=@Url.Content("/apps/cart/mini/minicart-min.js")></script>
    <script src=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/recommend.js")></script>
    <script src=@Url.Content("/p/header/webww-min.js")></script>
    <script src=@Url.Content("/p/header/adapter-min.js")></script>

    <script src="@Url.Content("/apps/tmall/tml/1.0/tml/tml.js")"></script>
    <script src="@Url.Content("/p/mall/base/global-v2.js")"></script>
    <script src="@Url.Content("/apps/tmall/fp/2012/core.js")"></script>
@*    <script src="@Url.Content("/apps/tmallbuy/razer/mini/core.js")"></script>*@
    <meta charset="gbk" />
    <title>购物车-Tmall.com邻居</title>
    <script>        window.g_config = {
            appId: 19, toolbar: false, startTime: new Date()
        };
        window._poc = [['_setRate', 100]];
        function lcd() {
            var doc = document, head = doc.getElementsByTagName('head')[0] || doc.documentElement, node = doc.createElement('script');
            node.async = true;
            node.src = '/CartPay/Home/Render_Cart?varName=mcartdata';
            head.insertBefore(node, head.firstChild);
            g_mcart_request = +new Date()
        }
        lcd()</script>
    <meta name="description" content="中国最大、最安全的网上交易社区，尽享淘宝乐趣！" />
    <meta name="keywords" content="淘宝,掏宝,网上购物,购物,论坛,联盟,买,卖,1元,一元,电脑,视听,MP3,MD,CD,VCD,DV,耗材,化妆,相机,数码,配件,珠宝,手表,艺术,宠物,求购,出租,出售,二手,汽车,音响,保健,讨价换价,一口价,拍卖,auction,sell,buy,price,bid" />
    <meta name="format-detection" content="telephone=no" />
    <link href="http://localhost:7525/Images/TmallT16-16.png" rel="shortcut icon"
        type="image/x-icon" />
    <!-- start vmc css 3.1-->
@*    <link rel="stylesheet" href=@Url.Content("/p/global/1.0/global-min.css") />*@    
    <link rel="stylesheet" href=@Url.Content("/p/c2c/header-top-min.css") />
    <link rel="stylesheet" href=@Url.Content("/sys/p4p/css/p4pthemes.css") />

    <link rel="stylesheet" href=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/global.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/core.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallbuy/pub/cart/1.1.1/recommend.css") />

    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />


    <script src=@Url.Content("/s/aplus_v2.js")></script> 
    <script src=@Url.Content("/s/fdc/spm.js")></script>
    <script src=@Url.Content("/s/fdc/spmact.js")></script>

    <script>        TB.Global.run = function () { }</script>
    <script>        siteStyle = 'tb';
    </script>
    <meta name="spm-id" content="a220l.18" />
</head>
<body class="site-tb">
    <script type="text/javascript">
        (function (d) {
            var t = d.createElement("script");
            t.type = "text/javascript";
            t.async = true;
            t.id = "tb-beacon-aplus";
            t.setAttribute("exparams", "category=&userid=123072695&aplus");
            //t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
            t.src = "http://localhost:7525/s/aplus_v2.js"
            d.getElementsByTagName("head")[0].appendChild(t);
        })(document);
    </script>
    
        <!-- start vmc 3.1 -->
    @Html.Partial("_SiteNav")
    @Html.Partial("_Header")
    <div id="page">

        <!-- system-announce -->
        <!-- end vmc 3.1 -->

        <div id="content">
            <div class="flow-steps">
                <ol class="num5">
                    <li class="current"><span class="first">1. 查看购物车</span></li>
                    <li><span>2. 拍下商品</span></li>
                    <li><span>3. 付款到支付宝</span></li>
                    <li><span>4. 确认收货</span></li>
                    <li class="last"><span>5. 评价</span></li>
                </ol>
            </div>
            <div id="mcart">
                <div class="m-loading" id="J_MLoading">
                    <p>
                        正在加载购物车，请稍候</p>
                </div>
                <div id="topinfo">
                    <div class="selectAllBox">
                        <label>
                            <input type="checkbox" class="m-chk-all" data-job="selectCart" checked />全选</label></div>
                    <div id="J_StatusBar" class="status-bar" data-total="50" data-limit="45">
                        <div class="status-box">
                            <span class="label">购物车状态：</span>
                            <div class="bar">
                                <div class="normal" data-title="正常宝贝">
                                </div>
                                <div class="disable" data-title="临时失效宝贝">
                                </div>
                                <div class="invalid" data-title="永久失效宝贝">
                                </div>
                            </div>
                            <span class="num"><span class="J_TotalNum"></span>/50</span>
                        </div>
                    </div>
                    <div class="rgt">
                        <span>商品总价(不含运费)：<em class="m-total-fee"></em>元</span> <span>
                            <button type="button" class="m-go" data-job="go" data-point-url="http://www.atpanel.com/jsclick?cartlist=topsettlement">
                                结 算</button></span>
                    </div>
                </div>
                <div id="mcartlist">
                </div>
                <div id="cashier" class="cashier">
                    <div class="lft">
                        <span class="m-chk-box">
                            <label>
                                <input type="checkbox" class="m-chk-all" data-job="selectCart" checked data-point-url="http://www.atpanel.com/tbcart.1.3" />全选</label></span>
                        @*<span><a class="m-batch-del" data-job="batchDel" href="#batchDel" data-point-url="http://www.atpanel.com/jsclick?cartlist=bulkdelete">
                            批量删除</a></span>*@ <span><a class="m-del-invalid" data-job="delInvalid" href="#delInvalid"
                                data-point-url="http://www.atpanel.com/jsclick?cartlist=delunvalid">清除失效宝贝</a></span>
                    </div>
                    <div class="rgt">
                        <span class="m-fee-box">商品总价(不含运费)：<em class="m-total-fee"></em>元</span> <span class="m-use-cod">
                            <ins></ins>
                            <label>
                                <input id="J_FilterCod" type="checkbox" data-job="filterCod" data-point-url="http://www.atpanel.com/jsclick?cartlist=useringcod" />使用货到付款</label></span>
                        <span class="m-go-box">
                            <button type="button" class="m-go" data-job="go" data-point-url="http://www.atpanel.com/jsclick?cartlist=settlement">
                                结 算</button></span>
                    </div>
                </div>
            </div>
            <script>
                var cart_config = {
                    api: {
                        fav: '/CartPay/Home/add_collection_for_cart',
                        update: '/CartPay/Home/Update_Cart',
                        'delete': '/CartPay/Home/deleteCart',
                        check: '/cart/checkCart.do',
                        undel: '/CartPay/Home/undelCart'
                    }
    ,
                    _tb_token_: 'l3zCMDsIIlcG'
                };
            </script>
            <script src="http://localhost:7525/apps/tmallbuy/pub/cart/1.1.1/init.js"></script>
            <textarea id="J_EmptyHtml">
<div id="empty" data-spm="3">
    <h2>您的购物车还是空的，赶紧行动吧！您可以：</h2>
    <ul>
        <li>马上去
        <a href=" " data-point-url="" class="J_MakePoint" target="_blank">挑选商品</a>
        </li>
        <li>看看 <a href=" " target="_blank" data-point-url=" " class="J_MakePoint">已买到的商品</a>
        </li>
    </ul>
</div>
</textarea>
            <div id="J_Recommend" class="recommendBox">
            </div>
        </div>
        @Html.Partial("_Footer")

    </div>
</body>
</html>
