@{
    Layout = null;
}
@using Friday.mvc.Models
@model SearchProductModel

<!doctype html>
<html lang="en">
<head>
    <meta name="spm-id" content="a220m.1000858">
    <meta charset="gbk">
    <meta name="description" content="鞋,品类齐全，欢迎选购！">
    <meta name="keywords" content="鞋,邻居在线,邻居在线商城,taobao">
    <title>邻居在线</title>
    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src="@Url.Content("/p/mall/base/global-v2.js")"></script>
    @*    <script src="@Url.Content("/p/mall/base/header-v2.js")"></script>*@
    <script src="@Url.Content("/apps/tmallsearch/1.0/suggest.js")"></script>
    <script src="@Url.Content("/apps/tmall/tml/1.0/tml/tml.js")"></script>
    <script src="@Url.Content("/apps/tmall/fp/2012/core.js")"></script>
    @*    <script src="@Url.Content("/apps/tmallbuy/razer/mini/core.js")"></script>*@
    <script>        window.g_config = { appId: 7 };</script>
    @*<link rel="shortcut icon" href=@Url.Content("/p/mall/base/favicon.ico")  type="image/x-icon"/>*@
    @*<link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/header-v2.css") />*@
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/css/layout.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/css/base.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/css/mui.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/attr.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/crumb.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/filter.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/error.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/tmall-rec.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/minisite.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/minisite-v3.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/box-item.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/mods/navbar.css") />
    <link rel="stylesheet" href=@Url.Content("/p/c2c/header-top-min.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    @*<script type="text/javascript" async="" id="tb-beacon-aplus" exparams="category=2&amp;userid=&amp;b2c_orid=std%5fquery%3a%25D0%25AC%7cdefalut%5fsearch%3a1&amp;at_type=search&amp;at_bucketid=sbucket%5f13&amp;at_mall_pro_re=739714&amp;aplusat_rn=47b7f16145e0c52544ef258e078d200c&amp;at_rn=47b7f16145e0c52544ef258e078d200c&amp;" src="http://a.tbcdn.cn/s/aplus_v2.js"></script>*@
    <style id="ks-suggest-style">
        .ks-suggest-container {
            background: white;
            border: 1px solid #999;
            z-index: 99999;
        }

        .ks-suggest-shim {
            z-index: 99998;
        }

        .ks-suggest-container li {
            color: #404040;
            padding: 1px 0 2px;
            font-size: 12px;
            line-height: 18px;
            float: left;
            width: 100%;
        }

        .ks-suggest-container .ks-selected {
            background-color: #39F;
            cursor: default;
        }

        .ks-suggest-key {
            float: left;
            text-align: left;
            padding-left: 5px;
        }

        .ks-suggest-result {
            float: right;
            text-align: right;
            padding-right: 5px;
            color: green;
        }

        .ks-suggest-container .ks-selected span {
            color: #FFF;
            cursor: default;
        }

        .ks-suggest-footer {
            padding: 0 5px 5px;
        }

        .ks-suggest-closebtn {
            float: right;
        }

        .ks-suggest-container li, .ks-suggest-footer {
            overflow: hidden;
            zoom: 1;
            clear: both;
        }

        .ks-suggest-container {
            *margin-left: 2px;
            _margin-left: -2px;
            _margin-top: -3px;
        }
    </style>
    @*<script type="text/javascript" async="" src="http://a.tbcdn.cn/s/fdc/??spm.js,spmact.js?v=20130502"></script>*@
    <style>
        .ui-scrolltop {
            display: block;
            position: fixed;
            _position: absolute;
            right: 10px;
            bottom: 200px;
            z-index: 9999;
            height: 60px;
            width: 60px;
            text-indent: -999999px;
            overflow: hidden;
            background: #000 url(http://localhost:7525/Images/backtop.png) 18px 21px no-repeat;
            *background-image: url(http://localhost:7525/Images/backtop.png);
            opacity: 0.5;
            filter: alpha(opacity=50);
            cursor: pointer;
            -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            -o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
        }

            .ui-scrolltop:hover {
                opacity: 1;
                filter: alpha(opacity=100);
                -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
                -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
                -o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
                transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            }

        .ui-scrolltop-hidden {
            visibility: hidden;
            _visibility: visible;
            _display: none;
            opacity: 0;
            filter: alpha(opacity=0);
            -moz-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            -webkit-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            -o-transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
            transition: opacity 0.3s ease-in,opacity 0.3s ease-out;
        }

        .ui-scrolltop-wb {
            background-position: -25px 21px;
            background-color: #fff;
        }
    </style>
    <style>
        .tml-overlay {
            position: absolute;
            left: -9999px;
            top: -9999px;
        }

        .tml-ext-mask {
            background-color: #000;
            opacity: .5;
            filter: alpha(opacity=50);
        }

        .tml-dialog .tml-stdmod-header, .tml-dialog .tml-ext-close {
            background: url(http://localhost:7525/Images/loginhead-126-41.png) no-repeat;
        }

        .tml-dialog {
            padding: 10px;
        }

        .tml-dialog-skin {
            background: #716564;
            opacity: .4;
            filter: alpha(opacity=40);
            position: absolute;
            height: 100%;
            width: 100%;
            _padding: 0 20px 0 0;
            top: 0;
            left: 0;
        }

        .tml-dialog-hasmask .tml-dialog-skin {
            background: #fff;
        }

        .tml-contentbox {
            position: relative;
            z-index: 2;
            height: 100%;
            background: #fff;
            border: 1px solid #908b8b;
            overflow: hidden;
        }

        .tml-dialog .tml-stdmod-header {
            height: 35px;
            line-height: 35px;
            padding-left: 10px;
            border-bottom: 1px solid #8c0400;
            background-color: #b6000c;
            background-position: 20px 10px;
            font-size: 14px;
            font-weight: 700;
        }

        .tml-dialog .tml-stdmod-body {
            overflow: hidden;
        }

        .tml-dialog .tml-ext-close {
            outline: medium none;
            position: absolute;
            z-index: 3;
            right: 20px;
            top: 20px;
            overflow: hidden;
            display: block;
            height: 16px;
            width: 16px;
            line-height: 99em;
            background-position: 0 -25px;
        }

            .tml-dialog .tml-ext-close:hover {
                background-position: -16px -25px;
            }

        .tml-dialog-cat {
            position: absolute;
            top: 0;
            left: 50%;
            margin: -10px 0 0 -23px;
            width: 55px;
            height: 50px;
            background: url(http://localhost:7525/Images/blackcathead-55-20.png) no-repeat;
            _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizinMethod="scale",src="http://img04.taobaocdn.com/tps/i4/T1_z5sXidZXXaU9Uzi-55-20.png");
            _background: 0;
        }

        .tml-dialog-default .tml-stdmod-header {
            background-image: none;
            color: #fff;
        }

        .tml-dialog-gray .tml-stdmod-header {
            background: #e6e6e6;
            border-bottom-color: #d9d9d9;
        }

        .tml-dialog-gray .tml-ext-close {
            background-position: -32px -25px;
        }

            .tml-dialog-gray .tml-ext-close:hover {
                background-position: -48px -25px;
            }

        body .tml-dialog-back {
            padding: 0;
            border: 1px solid #d5323d;
        }

        .tml-dialog-back .tml-stdmod-header {
            background: #fff9f9;
            border-bottom: 1px solid #f5edec;
            line-height: 25px;
            height: 25px;
        }

        .tml-dialog-back .tml-contentbox {
            border: 0;
        }

        .tml-dialog-back .tml-ext-close {
            background-position: -68px -25px;
            right: 10px;
            top: 6px;
        }

            .tml-dialog-back .tml-ext-close:hover {
                background-position: -84px -25px;
            }

        body .tml-dialog-back .tml-dialog-skin {
            padding: 1px 1px 0 0;
            background: #999;
            left: 2px;
            top: 2px;
        }

        .tml-dialog-cfmTitle {
            margin: 15px 5px 0 20px;
            border: 0;
            background-color: #fff;
            color: #666;
        }

        .tml-dialog-btnArea {
            margin: 10px 0 0 20px;
            padding: 0 0 13px 0;
        }

        .tml-dialog-cfmOk, .tml-dialog-cfmCancel {
            margin: 0 10px 0 0;
            padding-left: 20px;
            padding-right: 20px;
        }

        .tml-dialog-cfmTitle .ui-msg-con {
            border: 0;
            background-color: #fff;
        }

        .tml-dialog-prtTip {
            margin: 10px 0 0 20px;
            color: #666;
        }

        .tml-dialog-prtInput {
            width: 318px;
            height: 35px;
            display: block;
            margin: 2px 0 0 20px;
        }

        .tml-dialog-prtError {
            margin: 5px 0 0 20px;
            display: none;
        }

        .tmMCViewFull, .tmMCViewAll, .tmMCGroup.combo .tmMCGroupDel, .tmMCItemDel, .tmMCItemAdd, .tmMCItemMin, .tmMCGroupSlogon, .tmMCHandler .cannotCheck, .tmMCGo, .tmMCPrice, .tmMCViewIcon, .HdlOpen .tmMCHdLeft, .tmMCEx {
            background: url(http://localhost:7525/Images/shop_cart-300-210.png) no-repeat;
        }

        .tmMCHandler {
            background: url(http://localhost:7525/Images/login_cart-67-64.png) no-repeat;
        }

        .ui-msg-icon, .ui-msg-close, .ui-msg-arrow {
            background-image: url(http://localhost:7525/Images/msg.png);
            background-repeat: no-repeat;
        }

        .ui-msg {
            position: relative;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            border: 1px solid #e1e1e1;
            border-radius: 2px;
            background: #f5f5f5;
            padding-left: 24px;
            box-shadow: 1px 1px 1px #f5f5f5;
        }

        .ui-msg-block {
            display: block;
        }

        .ui-msg-con {
            line-height: 16px;
            color: #666;
            background: #fbfbfb;
            padding: 3px 10px 3px 5px;
            border: 1px solid #efefef;
            border-left: 1px solid #e7e7e7;
            margin: -1px;
        }

        .ui-msg-orange .ui-msg-con {
            color: #f19000;
        }

        .ui-msg-red .ui-msg-con {
            color: #b10000;
        }

        .ui-msg-arrow, .ui-msg-close, .ui-msg-icon {
            position: absolute;
        }

        .ui-msg-close {
            width: 18px;
            height: 18px;
            top: 0;
            right: 0;
            background-position: -21px 2px;
            cursor: pointer;
        }

            .ui-msg-close:hover {
                background-position: -40px 1px;
            }

        .ui-msg-arrow {
            width: 5px;
            height: 8px;
            left: -5px;
            top: 7px;
        }

        .ui-msg-arrow-top, .ui-msg-arrow-down {
            width: 8px;
            height: 5px;
            background-position: -5px 0;
            top: -5px;
            left: 7px;
        }

        .ui-msg-arrow-down {
            background-position: -13px 0;
            top: auto;
            bottom: -5px;
        }

        .ui-msg-icon {
            width: 23px;
            height: 22px;
            top: 0;
            left: 0;
        }

        .ui-msg-error .ui-msg-icon {
            background-position: -61px -26px;
        }

        .ui-msg-stop .ui-msg-icon {
            background-position: -61px -1px;
        }

        .ui-msg-ok .ui-msg-icon {
            background-position: -61px -51px;
        }

        .ui-msg-tip .ui-msg-icon {
            background-position: -61px -103px;
        }

        .ui-msg-attention .ui-msg-icon {
            background-position: -61px -79px;
        }

        .ui-msg-question .ui-msg-icon {
            background-position: -61px -126px;
        }

        .ui-msg-alert .ui-msg-icon {
            background-position: -61px -153px;
        }

        .ui-msg-notice .ui-msg-icon {
            background-position: -61px -177px;
        }

        .ui-msg-clean, .ui-msg-clean .ui-msg-clean {
            border: none;
            background: none;
            box-shadow: none;
        }

            .ui-msg-clean .ui-msg-con {
                padding-left: 0;
                border: none;
            }

        .ui-page-tip {
            background: #fbfbfb;
            border-color: #efefef;
        }

            .ui-page-tip .ui-msg-con {
                border-left: 1px solid #fbfbfb;
                padding-left: 0;
            }

        .ui-top-tip {
            padding-left: 58px;
        }

            .ui-top-tip .ui-msg-con {
                line-height: 20px;
                padding: 18px 28px 18px 12px;
                font-weight: bold;
                font-size: 14px;
            }

            .ui-top-tip .ui-msg-icon {
                width: 57px;
                height: 56px;
            }

            .ui-top-tip .ui-msg-error .ui-msg-icon {
                background-position: 11px -20px;
            }

            .ui-top-tip .ui-msg-stop .ui-msg-icon {
                background-position: 11px -1px;
            }

            .ui-top-tip .ui-msg-ok .ui-msg-icon {
                background-position: 11px -66px;
            }

            .ui-top-tip .ui-msg-tip .ui-msg-icon {
                background-position: 11px -114px;
            }

            .ui-top-tip .ui-msg-attention .ui-msg-icon {
                background-position: 11px -165px;
            }

            .ui-top-tip .ui-msg-question .ui-msg-icon {
                background-position: 11px -215px;
            }

            .ui-top-tip .ui-msg-alert .ui-msg-icon {
                background-position: 11px -265px;
            }

            .ui-top-tip .ui-msg-notice .ui-msg-icon {
                background-position: 13px -315px;
            }

            .ui-top-tip .ui-msg-stop .ui-msg-icon {
                background-position: 12px -362px;
            }

        .ui-msg-empty, .ui-msg-empty .ui-msg-con {
            background: none;
            border: none;
            padding: 1px;
            box-shadow: none;
        }

            .ui-msg-empty .ui-msg-icon {
                position: static;
                display: inline-block;
            }

        .tmMC {
            margin-right: 4px;
            color: #fff;
            z-index: 100100;
            width: 66px;
            zoom: 1;
            position: relative;
        }

        .tmMC-proxy {
            padding-right: 7px;
            height: 31px;
        }

        .tmMCHandler {
            width: 66px;
            height: 31px;
            overflow: hidden;
            cursor: pointer;
            position: relative;
            z-index: 100001;
        }

        .HdlShort:hover .tmMCEx, .tmMC .hdlHover .tmMCEx {
            background-image: -220px -100px;
        }

        .tmMCHandler .tmMCNum {
            padding-left: 38px;
            _display: inline;
        }

        .HdlOpen .tmMCNum {
            padding-left: 34px;
            display: inline-block;
        }

        .tmMC .unlogin_hover {
            background-position: 0 -32px;
        }

            .tmMC .unlogin_hover .tmMCNum {
                display: none;
            }

        .tmMCEx {
            display: none;
            float: left;
            background-position: -220px -98px;
            width: 15px;
            height: 9px;
            overflow: hidden;
            margin: 13px 0 0 32px;
        }

        .HdlShort .tmMCEx {
            background-position: -220px -108px;
        }

        .tmMCHdLeft {
            display: none;
            float: left;
            position: relative;
            z-index: 100000;
            width: 284px;
            height: 31px;
            overflow: hidden;
            opacity: .9;
            filter: alpha(opacity=90);
            cursor: pointer;
        }

        .HdlOpen .tmMCHdLeft {
            background-position: 0 -64px;
        }

        .tmMCHdLeft:hover {
            filter: alpha(opacity=95);
            opacity: .95;
        }

        .HdlShort .tmMCHdLeft {
            width: 284px;
        }

            .HdlShort .tmMCHdLeft:hover .tmMCEx, .HdlShort .tmMCHandler .hover .tmMCEx {
                background-position: -235px -108px;
            }

        .tmMCHdLeft:hover .tmMCEx, .tmMCHandler .hover .tmMCEx {
            background-position: -235px -98px;
        }

        .tmMCPrice {
            float: left;
            margin-left: 10px;
        }

        .tmMC .HdlOpen {
            width: 283px;
            overflow: visible;
            background: none;
            cursor: default;
        }

        .HdlOpen .tmMCBody, .HdlOpen .tmMCHdLeft, .HdlOpen .tmMCGo {
            display: block;
        }

        .HdlOpen .tmMCNum {
            display: none;
        }

        .HdlOpen .tmMCHdLeft .tmMCNum {
            display: inline-block;
        }

        .tmMC .tmMCBotLink {
            margin-top: 1px;
            float: left;
            color: #000;
            height: 31px;
            position: relative9;
            z-index: 10000109;
            line-height: 33px;
            cursor: pointer;
        }

            .tmMC .tmMCBotLink:hover {
                color: #FEB1B2;
                text-decoration: underline;
            }

        .tmMCViewIcon {
            width: 15px;
            height: 15px;
            background-position: -188px -32px;
            position: absolute;
            top: 3px;
            right: 2px;
            display: none;
        }

            .tmMCViewIcon:hover {
                background-position: -203px -32px;
            }

        .tmMCPrice {
            margin-top: 2px;
            float: right;
            padding-right: 8px;
            height: 31px;
            line-height: 31px;
            font-weight: bold;
            background-position: -286px -24px;
            font-family: "Arial";
            padding-left: 15px;
        }

        .tmMCGo {
            display: none;
            position: relative;
            z-index: 100000;
            float: right;
            width: 65px;
            height: 31px;
            overflow: hidden;
            background-position: -67px 0;
            text-indent: -999px;
            cursor: pointer;
        }

        .HdlShort .tmMCGo {
            display: none;
        }

        .tmMCHandler .cannotCheck {
            background-position: -67px -32px;
            cursor: default;
        }

            .tmMCHandler .cannotCheck:hover {
                background-position: -67px -32px;
            }

        .tmMCGo:hover {
            background-position: -67px 0;
        }

        .tmMCNum span {
            display: block;
        }

        .tmMCBody, .tmMCTopBorder {
            background-image: url("");
            *background-image: url();
            border: 1px solid #d6d6d6;
            background-color: #f2f2f2;
            position: absolute;
            width: 275px;
        }

        .tmMCTopBorder {
            height: 33px;
            top: -4px;
            left: 3px;
            display: none;
        }

        .tmMCBody {
            padding-top: 8px;
            padding-bottom: 20px;
            display: none;
            color: #000;
            text-align: left;
            margin: 0 auto -4px auto;
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
            -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
            box-shadow: 0 0 3px rgba(0,0,0,0.2);
            filter: progid:DXImageTransform.Microsoft.Shadow(color="#e5e5e5",Direction=90,Strength=1);
            top: -30px;
            left: 3px;
        }

        .tmMCLoading {
            display: none;
            background: url("data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH5BAkKAAAAIf4aQ3JlYXRlZCB3aXRoIGFqYXhsb2FkLmluZm8AIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOw==") 50% 50% no-repeat;
            *background: url(http://img03.taobaocdn.com/tps/i3/T1W3mKXdJXXXXXXXXX-16-16.gif) 50% 50% no-repeat;
            width: 100%;
            height: 20px;
            text-indent: -999px;
            overflow: hidden;
        }

        .tmMCTip {
            margin: 0 auto 7px;
            width: 165px;
            display: block;
        }

            .tmMCTip .ui-msg-con {
                background-color: transparent;
            }

                .tmMCTip .ui-msg-con a {
                    color: #2953A6;
                    margin-left: 1px;
                }

        .HdlShort .tmMCCon {
            margin-top: 5px;
        }

        .tmMCCon {
            width: 265px;
            overflow: hidden;
            position: relative;
            margin: 0 auto 0 9px;
            padding-bottom: 4px;
        }

            .tmMCCon::-webkit-scrollbar-track-piece {
                background-color: rgba(0,0,0,0);
                -webkit-border-radius: 0;
            }

            .tmMCCon::-webkit-scrollbar {
                width: 6px;
                height: 8px;
            }

            .tmMCCon::-webkit-scrollbar-thumb {
                height: 50px;
                background-color: rgba(0,0,0,0.4);
                -webkit-border-radius: 4px;
            }

                .tmMCCon::-webkit-scrollbar-thumb:hover {
                    height: 50px;
                    background-color: rgba(0,0,0,0.5);
                    -webkit-border-radius: 4px;
                }

        .tmMCGroup {
            width: 257px;
            overflow: hidden;
            _zoom: 1;
        }

        .tmMCGroupTitle {
            height: 18px;
            line-height: 18px;
            vertical-align: bottom;
        }

        .tmMCAllCheckWp {
            position: relative;
            float: left;
            color: #808080;
            margin: 0 5px 0 6px;
            width: 250px;
            height: 38px;
            *margin-left: 2px;
            _display: inline;
        }

            .tmMCAllCheckWp label, .tmMCAllCheck {
                position: relative;
                top: 10px;
            }

        .tmMCAllCheck {
            vertical-align: middle;
            margin: 0 5px 0 0!important;
            margin-top: -2px!important;
            margin-bottom: 1px!important;
        }

        .tmMCGroupCheckWp {
            float: left;
            margin-right: 5px;
        }

        .tmMCGroupCheck {
            vertical-align: middle;
            margin: 0!important;
            margin-top: -2px!important;
            margin-bottom: 1px!important;
        }

        .tmMCGroupName {
            color: #808080;
            float: left;
            white-space: nowrap;
            width: 220px;
            text-overflow: ellipsis;
            height: 18px;
            overflow: hidden;
        }

        .tmMCGroupPrice {
            float: right;
            color: #999;
            padding-right: 14px;
        }

        .tmMCGroupSlogon {
            float: left;
            background-position: -157px -45px;
            background-position: -151px -47px9;
            color: #fff;
            height: 19px;
            width: 69px;
            line-height: 20px;
            overflow: hidden;
            font-family: B8BF53;
            padding-left: 5px;
            margin: 0 0 0 3px;
        }

        .tmMCSlogonItem {
            display: block;
        }

        .tmMCItemWp {
            border: 1px solid #E3E3E3;
            width: 255px;
            border-bottom: none;
            background: #fff;
            cursor: default;
            margin: 2px 0 5px 0;
        }

            .tmMCItemWp .tmMCUncheck {
                background: #f5f5f4;
            }

        .tmMCUnCheck {
            background: #fff url(http://img02.taobaocdn.com/tps/i2/T1JFuKXbhgXXXXXXXX-5-5.png);
        }

        .tmMCItem {
            width: 100%;
            height: 56px;
            margin: 0 auto;
            overflow: hidden;
            border-bottom: 1px solid #E3E3E3;
            position: relative;
            _zoom: 1;
        }

        .tmMCItemCheckWp, .tmMCItemImg, .tmMCItemDesc, .tmMCItemPrice, .tmMCItemDel {
            float: left;
        }

        .tmMCItemCheckWp {
            font-weight: normal;
            width: 12px;
            height: 60px;
            margin: 0 5px;
            *margin: 0 9px 0 1px;
            _margin: 0 1px;
            color: #fff;
        }

        #J_TMiniCart input[type="checkbox"] {
            margin: 0;
        }

        #J_TMiniCart .tmMCItemCheck {
            margin-top: 20px!important;
            *margin-top: 18px!important;
        }

        .tmMCBody .check {
            color: #000;
        }

        .tmMCItemImg {
            margin: 3px 0 auto 3px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            *display: block;
            *font-size: 44px;
            *font-family: Arial;
            width: 50px;
            height: 50px;
        }

        .tmMCItemImg {
            vertical-align: middle;
        }

        .tmMCItemskuWp {
            float: left;
            width: 108px;
            height: 40px;
            margin-left: 8px;
            padding-top: 10px;
        }

        .tmMCItemSku {
            display: block;
            width: 100%;
            color: #999;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .tmMCItemDesc {
            width: 50px;
            margin: 20px 0 0 0;
            overflow: hidden;
        }

        .tmMCItemQty {
            text-align: center;
        }

        .tmMCItemAdd, .tmMCItemMin {
            visibility: hidden;
            float: left;
            width: 16px;
            height: 16px;
            background-position: -284px -88px;
            cursor: pointer;
        }

        .tmMCItemAdd {
            width: 16px;
        }

        .tmMCItemAdd {
            background-position: -284px -120px;
        }

        .tmMCItemMin:hover {
            background-position: -284px -104px;
        }

        .tmMCItemAdd:hover {
            background-position: -284px -152px;
        }

        .tmMCItemQtyNum {
            float: left;
            margin: -1px 2px 0;
            *margin-top: 0;
            color: #999;
            _display: inline;
            width: 14px;
            line-height: 16px;
            word-wrap: break-word;
            word-break: break-all;
        }

        .tmMCItem .disableMin {
            background-position: -284px -72px;
            width: 16px;
            cursor: default;
        }

        .tmMCItem .disableAdd {
            background-position: -284px -136px;
            cursor: default;
        }

        .tmMCItemPrice {
            margin: 20px 0 0 0;
            color: #666;
            width: 72px;
            text-align: right;
            word-wrap: break-word;
            word-break: break-all;
        }

        .tmMCItemDel {
            color: #f00;
            cursor: pointer;
            background-position: -251px -32px;
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            right: 11px;
            top: 4px;
        }

            .tmMCItemDel:hover {
                background-position: -237px -32px;
            }

        .tmMCItem:hover .tmMCItemCheckWp, .tmMCBody .hover .tmMCItemCheckWp {
            display: inline-block;
        }

        .tmMCItem:hover .tmMCItemDel, .tmMCBody .hover .tmMCItemDel {
            display: block;
        }

        .tmMCItem:hover .tmMCItemAdd, .tmMCBody .hover .tmMCItemAdd, .tmMCItem:hover .tmMCItemMin, .tmMCBody .hover .tmMCItemMin {
            visibility: visible;
        }

        .tmMCGroup.combo {
            position: relative;
        }

            .tmMCGroup.combo .tmMCGroupDel {
                color: #f00;
                cursor: pointer;
                background-position: -250px -32px;
                display: block;
                width: 14px;
                height: 14px;
                position: absolute;
                right: 12px;
                top: 24px;
                z-index: 999;
            }

            .tmMCGroup.combo.chover .tmMCGroupDel {
                display: block;
            }

                .tmMCGroup.combo.chover .tmMCGroupDel:hover {
                    background-position: -236px -32px;
                }

            .tmMCGroup.combo .tmMCItemCheckWp {
                visibility: hidden;
            }

            .tmMCGroup.combo .tmMCItemMin {
                visibility: hidden;
                _display: none;
            }

            .tmMCGroup.combo .tmMCItemAdd {
                visibility: hidden;
                _display: none;
            }

            .tmMCGroup.combo .tmMCItemQtyNum {
                _margin-left: 16px;
            }

        .tmMCViewMore {
            cursor: pointer;
        }

        .tmMCViewAll {
            cursor: pointer;
            display: block;
            width: 257px;
            height: 26px;
            margin: 5px auto 0 -4px;
            background-position: 0 -154px;
        }

            .tmMCViewAll:hover {
                background-position: 0 -180px;
            }

        .tmMCBtnArea {
            width: 256px;
            height: 30px;
            margin: 5px auto 0;
            position: relative;
        }

        .tmMCLose, .tmMCLose:hover, .tmMCLose:visited {
            color: #999;
            text-decoration: none;
        }

        .tmMCViewFull {
            position: absolute;
            display: block;
            right: 1px;
            top: 0;
            width: 112px;
            height: 26px;
            overflow: hidden;
            background-position: 0 -128px;
        }

            .tmMCViewFull:hover {
                background-position: -113px -128px;
            }

        .tmMCBusy, .tmMCBusy:hover {
            width: 190px;
            margin: 5px auto 0;
            height: 20px;
            line-height: 20px;
            color: #999;
        }

        .tmMCTryFull, .tmMCTryFull:hover, .tmMCTryFull:visited {
            color: #2953A6;
            text-decoration: none;
        }

        .tmMCIframe {
            position: absolute;
            width: 275px;
            z-index: -1;
            border: 0;
            top: 0;
        }

        #tm-minLogin {
            border: 1px solid #c30009;
            background: #FAFAFA;
            width: 412px;
            height: 272px;
            overflow: hidden;
            position: fixed;
            _position: absolute;
            left: 50%;
            top: 50%;
            margin: -136px 0 0 -206px;
            z-index: 10000000;
        }

        .tmml-close, .tmml-title {
            background: url(http://img02.taobaocdn.com/tps/i2/T13h1uXgdEXXXXXXXX-90-16.png) no-repeat;
        }

        .tmml-hd {
            position: relative;
            background: #fff8f7;
            border-bottom: 1px solid #f3e9e7;
        }

        .tmml-title {
            line-height: 99em;
            height: 24px;
            overflow: hidden;
            background-position: 0 4px;
            margin: 0 0 0 5px;
            width: 82px;
        }

        .tmml-close {
            position: absolute;
            top: 8px;
            right: 10px;
            width: 8px;
            height: 8px;
            line-height: 99em;
            overflow: hidden;
            background-position: -82px -2px;
            cursor: pointer;
        }

        .tmml-mask {
            position: absolute;
            width: 50px;
            background: #FAFAFA;
            height: 100%;
        }

        #tm-minLogin iframe {
            margin-top: -39px;
            margin-left: 43px;
        }

        .tmMCGuide {
            opacity: 0;
            position: fixed;
            _position: absolute;
            bottom: 0;
            right: 176px;
            z-index: 99999;
        }

        .guideHepler {
            position: absolute;
            bottom: 5px;
            right: 120px;
            z-index: 99;
        }

        .confirmGuide {
            position: absolute;
            padding: 90px 115px;
            right: 110px;
            bottom: 0;
            _padding: 0;
            _width: 230px;
            _height: 180px;
            background: url(http://img02.taobaocdn.com/tps/i2/T1KznpXh8dXXaYREvd-155-79.png) no-repeat;
            _background-image: url(http://img01.taobaocdn.com/tps/i1/T1WM_jXmFuXXaYREvd-155-79.png);
            cursor: pointer;
            z-index: 100;
        }

        .closeGuide {
            position: absolute;
            background: url(about:blank);
            display: block;
            text-indent: -100em;
            width: 30px;
            height: 20px;
            top: 33px;
            left: 95px;
        }

        .guideDetail {
            opacity: 0;
            display: none9;
            position: relative;
        }

        :root .guideDetail {
            display: block9;
        }

        .endGuide {
            position: absolute;
            background: url(about:blank);
            display: block;
            text-indent: -100em;
            width: 35px;
            height: 35px;
            top: 2px;
            left: 4px;
            cursor: pointer;
            z-index: 99;
        }

        .guideDetailBg {
            position: absolute;
            width: 666px;
            height: 280px;
            right: 0;
            bottom: 0;
            background: url(http://img01.taobaocdn.com/tps/i1/T1vSYpXjdgXXXgxU2b-666-280.png) no-repeat;
            _background-image: url(http://img04.taobaocdn.com/tps/i4/T1EbDpXXXkXXXgxU2b-666-280.png);
        }

        .guideCarousel {
            position: absolute;
            width: 370px;
            height: 160px;
            top: 50px;
            left: 60px;
            z-index: 100;
        }

        .guidePrev, .guideNext {
            position: absolute;
            text-indent: -100em;
            width: 30px;
            height: 30px;
            z-index: 9999;
            cursor: pointer;
            outline: none;
            top: 55px;
        }

        .guidePrev {
            background: url(http://img02.taobaocdn.com/tps/i2/T1V1PnXnNtXXbSBwfc-30-30.png) no-repeat;
            left: -40px;
        }

        .guideNext {
            left: 370px;
            background: url(http://img01.taobaocdn.com/tps/i1/T1kAbjXlxuXXbSBwfc-30-30.png) no-repeat;
        }

        .guideDisable {
            display: none;
        }

        .guideScroller {
            position: relative;
            width: 370px;
            height: 160px;
            overflow: hidden;
        }

        .guideConten {
            position: absolute;
            width: 1110px;
        }

        .guideContent li {
            float: left;
            width: 370px;
            height: 160px;
            display: block;
        }

        .guideContent img {
            vertical-align: middle;
            margin-right: 10px;
        }
    </style>
    <style>
        #J_BrandBar {
            font-size: 12px;
            cursor: pointer;
            background-color: #EEEEEE;
            width: 120px;
            margin: 2px 5px 0 5px;
            height: 28px;
            border: solid 1px #d0d0d0;
            -moz-border-radius: 3px 3px 0px 0px;
            -khtml-border-radius: 3px 3px 0px 0px;
            -webkit-border-radius: 3px 3px 0px 0px;
            border-radius: 3px 3px 0px 0px;
        }

            #J_BrandBar:hover, #J_BrandBar.hoverBrandBar {
                background-color: #d9d1d1;
                border-color: #bcb0b0;
            }

        .BrandFlyer {
            width: 20px;
            height: 20px;
            float: left;
            margin: 4px;
            background: url(http://localhost:7525/Images/RedHeart-20-20.png);
            background-repeat: no-repeat;
            *background: none;
            *filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="http://img02.taobaocdn.com/tps/i2/RedHeart-20-20.png");
        }

        #J_BrandBar a, #J_BrandBar a:hover {
            line-height: 20px;
            display: block;
            margin: 4px;
            float: left;
            color: #181818;
            text-decoration: none;
        }
    </style>
    <style>
        #J_CommonBottomBar {
            position: fixed;
            bottom: 0;
            right: 0;
            z-index: 100002;
            _position: absolute;
            _bottom: auto;
        }

            #J_CommonBottomBar td {
                vertical-align: bottom;
                _position: relative;
                _overflow: hidden;
            }

        .tm_cmbar_clearfix::after {
            clear: both;
        }

        .tm_cmbar_clearfix::after, .tm_cmbar_clearfix::before {
            display: table;
            content: "";
            overflow: hidden;
        }

        .tm_cmbar_clearfix {
            zoom: 1;
        }

        #J_CommonBottomBar .tm_cmbar {
            position: relative;
        }
    </style>
</head>
<body>
    <div class="ks-suggest-container mall-suggest-container" style="position: absolute; visibility: hidden; left: 686px; top: 76px; width: 538px;">
        <div class="ks-suggest-content">
        </div>
        <div class="ks-suggest-footer">
        </div>
    </div>
    <input type="hidden" value="6WL3REzzmdLb" id="J_TbToken">
    <!-- 20130418|20130426  -->
    <script>        g_hb_monitor_st = +new Date; window._poc = window._poc || []; var TMPoc = { add: function (a) { window._poc.push(["_trackCustomTime", "tt_" + a, +new Date]) } }; (function () { var c = KISSY, a = c.DOM, j = c.Event, e = c.all, f = window, i = document, g = i.body, m = c.UA.ie, h = m < 9, b = m == 6, d = c.UA.core == "webkit"; if (m) { a.addClass(g, "ie" + m) } f.g_config = c.merge(f.g_config || {}, { v: "1.0", t: "20130418", aldt: "20130228", vps: d ? [1210 + 17, 1410 + 17] : [1210, 1410] }); f.LIST = f.LIST || {}; LIST.msg = c.mix({}, c.EventTarget); LIST.updateView = function (l, k) { k = k || 0; if (!l) { f.g_config.view = 0 } else { if (k == f.g_config.vps.length || l < f.g_config.vps[k]) { f.g_config.view = k } else { this.updateView(l, ++k) } } }; LIST.changeView = function (t) { var l = a.viewportWidth(), k = f.g_config.view || 0; if (t) l -= 17; this.updateView(l); if (h) { a.removeClass(g, "w" + k); a.addClass(g, "w" + f.g_config.view) } return l }; LIST.changeView(1); j.on(f, "resize", function () { var k = f.g_config.view || 0, l = LIST.changeView(); if (f.g_config.view !== k) { LIST.msg.fire("viewchange", { vp: l, view: f.g_config.view }) } }) })();</script>
    @{


        <!-- system-announce -->
        <!--TMall:OptClose-->

    
        <!-- 1111 -->
        <!-- 新风尚顶天banner -->
        @Html.Partial("_SiteNav")
        @Html.Partial("_Header")
        <div class="page">
            <script>                TMall.THeader.init();</script>
            <div class="crumb" id="J_crumbs">
                <div class="crumbCon">
                    <div class="crumbSlide" id="J_CrumbSlide">
                        <a title="上一页" class="crumbSlide-prev" id="J_CrumbSlidePrev" style="visibility: hidden;">&lt;</a> <i class="crumbSlide-prev-shadow"></i>
                        <div class="crumbClip">
                            <ul class="crumbSlide-con clearfix" id="J_CrumbSlideCon" data-atp="{loc},{i},,,,{t},rightnav,">
                                <li><a class="crumbStrong" href="SearchProduct?cat=&s=0&n=60&sort=@ViewData["sort"]&style=g&zk_type=0&vmarket=0&search_condition=23&pic_detail=1&area_code=370100&from=sn_1_rightnav&active=1#J_crumbs" title="全部"
                                    data-i="cat" data-t="3" atpanel="2,cat,,,,3,rightnav,">全部</a> <i class="crumbArrow">&gt;</i> </li>
                                @{
                                    for (int i = 0; i < Model.headBarGlobalGoodsType.Count; i++)
                                    {
                                        if (Model.listBarGlobalGoodsType.ElementAt(i).Count == 0)
                                        {
                                    <li><a class="crumbStrong" href="SearchProduct?cat=@Model.headBarGlobalGoodsType.ElementAt(i).Id&s=0&n=60&sort=@ViewData["sort"]&style=g&zk_type=0&vmarket=0&search_condition=23&pic_detail=1&area_code=370100&from=sn_1_rightnav&active=1#J_crumbs"
                 title="@Model.headBarGlobalGoodsType.ElementAt(i).Name" data-i="cat" data-t="3" atpanel="2,cat,,,,3,rightnav,">@Model.headBarGlobalGoodsType.ElementAt(i).Name</a>
                                        <i class="crumbArrow">&gt;</i> </li>
                                        }
                                        else
                                        {
                                    <li>
                                        <div class="crumbDrop j_CrumbDrop">
                                            <a class="crumbStrong crumbDrop-hd j_CrumbDropHd" href="SearchProduct?cat=@Model.headBarGlobalGoodsType.ElementAt(i).Id&s=0&n=60&sort=@ViewData["sort"]&style=g&zk_type=0&vmarket=0&search_condition=23&pic_detail=1&area_code=370100&from=sn_1_rightnav&active=1#J_crumbs" title="@Model.headBarGlobalGoodsType.ElementAt(i).Name" data-i="cat" data-t="3" atpanel="3,cat,,,,3,rightnav,">@Model.headBarGlobalGoodsType.ElementAt(i).Name</a><i></i>
                                            <div class="crumbDrop-bd j_CrumbDropBd" style="width: 834px;">
                                                @{
                                            var itemCount = Model.listBarGlobalGoodsType.ElementAt(i).Count;

                                            var ulCount = itemCount / 6;
                                            for (var u = 0; u < ((itemCount % 6 == 0) ? ulCount : ulCount + 1); u++)
                                            {
                                                    <ul>
                                                        @{
                                                for (var a = u * 6; a < (((u + 1) * 6 > itemCount) ? itemCount : (u + 1) * 6); a++)
                                                {
                                                    if (Model.listBarGlobalGoodsType.ElementAt(i).ElementAt(a).Id == Model.headBarGlobalGoodsType.ElementAt(i).Id)
                                                    {
                                                            <li><a class="crumbDrop-disable" atpanel="0,cat-dropdown,,,,cat=50105579,rightnav,"
                                            href="javascript:;" title="@Model.listBarGlobalGoodsType.ElementAt(i).ElementAt(a).Name">@Model.listBarGlobalGoodsType.ElementAt(i).ElementAt(a).Name</a>
                                                            </li>
                                                    }
                                                    else
                                                    {
                                                            <li><a atpanel="1,cat-dropdown,,,,51132008,rightnav,"
                                                href="SearchProduct?cat=@Model.listBarGlobalGoodsType.ElementAt(i).ElementAt(a).Id&s=0&n=60&sort=@ViewData["sort"]&style=g&zk_type=0&vmarket=0&search_condition=23&pic_detail=1&area_code=370100&from=sn_1_rightnav&active=1#J_crumbs"
                                                title="@Model.listBarGlobalGoodsType.ElementAt(i).ElementAt(a).Name">@Model.listBarGlobalGoodsType.ElementAt(i).ElementAt(a).Name</a>
                                                            </li>
                                                    }
                                                }
                                                        }
                                                    </ul>
                                            }

                                                }
                                            </div>
                                        </div>
                                        <i class="crumbArrow">&gt;</i> </li>
                                        }
                                    }
                                }
                                <li class="crumbSearch">
                                    <form action="SearchProduct" id="J_CrumbSearchForm">
                                        <label class="crumbSearch-label" for="J_CrumbSearchInuput">
                                            <input type="text" name="keyword" value="@ViewData["skeyword"]" class="crumbSearch-input" id="J_CrumbSearchInuput">
                                        </label>
                                        <input type="submit" value="" id="J_CrumbSearchBtn" class="crumbSearch-btn" onclick="atpanelFun(',secondsearch,,,,20,rightnav,')">
                                        <input type="hidden" name="area_code" value="370100">
                                        <input type="hidden" name="sort" value="s">
                                        <input type="hidden" name="style" value="g">
                                        <input type="hidden" name="vmarket" value="0">
                                        @* <input type="hidden" name="cat" id="" value="2">  *@
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <i class="crumbSlide-next-shadow"></i><a title="下一页" class="crumbSlide-next" id="J_CrumbSlideNext"
                            style="visibility: hidden;">&gt;</a>
                    </div>
                    <p class="crumbTitle">
                        共<span>
                            @{
                                var AllNum = 0;
                                if (Model.headGlobalGoodsType.Count > 2)
                                {
                                    AllNum = Model.count;
                                }
                                else
                                {
                                    AllNum = Model.headGlobalGoodsTypeNum.ElementAt(Model.headGlobalGoodsTypeNum.Count - 1);
                                }
     
                                <text>@AllNum</text>
                            }
                        </span>件相关商品
                    </p>
                </div>
            </div>
            <div class="main  ">
                <form action="SearchProduct" id="J_FilterNavForm">
                    <div class="attrs">
                        <div class="cateAttrs" data-spm="a220m.1000858.1000721">
                            @{
                                if (@Model.headGlobalGoodsType.Count >= 2)
                                {
                                    for (int i = 0; i < 2; i++)
                                    {
                                <div class="j_Cate attr">
                                    <div class="attrKey" data-atp="{loc},{cat},,,spu-cat-qp,3,cat-qp,">
                                        <a title="@Model.headGlobalGoodsType.ElementAt(i).Name" href="SearchProduct?from=sn_1_cat-qp&area_code=370100&style=g&sort=@ViewData["sort"]&q=%D0%AC&n=60&s=0&cat=@Model.headGlobalGoodsType.ElementAt(i).Id#J_crumbs"
                            atpanel="1,50026637,,,spu-cat-qp,3,cat-qp,">@Model.headGlobalGoodsType.ElementAt(i).Name</a>
                                    </div>
                                    <div class="attrValues">
                                        <ul class="av-expand" data-atp="{loc},{cat},,,spu-cat-qp,3,cat-qp," style="height: auto;">
                                            @{
                                        int numIndex = 0;
                                        foreach (friday.core.domain.GlobalGoodsType globalGoodsType in @Model.listGlobalGoodsTypes.ElementAt(i))
                                        {
                                            var listGlobalGoodsTypesNum = Model.listGlobalGoodsTypesNum.ElementAt(i);
                                    
                                                <li><a title="@globalGoodsType.Name; (@listGlobalGoodsTypesNum.ElementAt(numIndex))" href="SearchProduct?from=sn_1_cat-qp&area_code=370100&style=g&sort=@ViewData["sort"]&q=%D0%AC&n=60&s=0&cat=@globalGoodsType.Id#J_crumbs"
                                    atpanel="1,50106425,,,spu-cat-qp,3,cat-qp,">@globalGoodsType.Name<span>(@listGlobalGoodsTypesNum.ElementAt(numIndex))</span>
                                                </a></li>
                                            numIndex++;
                                        }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                    }
                                    if (@Model.headGlobalGoodsType.Count > 2)
                                    {
                                <div class="j_Cate attr">
                                    <div class="attrKey">
                                        其他分类
                                    </div>
                                    <div class="attrValues">
                                        <ul class="av-expand" data-atp="{loc},{cat},,,spu-cat-qp,3,cat-qp," style="height: auto;">
                                            @{
                                        for (int i = 2; i < @Model.headGlobalGoodsType.Count; i++)
                                        {
                                                <li><a title="@Model.headGlobalGoodsType.ElementAt(i).Name; (@Model.headGlobalGoodsTypeNum.ElementAt(i))" href="SearchProduct?from=sn_1_cat-qp&area_code=370100&style=g&sort=@ViewData["sort"]&q=%D0%AC&n=60&s=0&cat=@Model.headGlobalGoodsType.ElementAt(i).Id#J_crumbs"
                                atpanel="1,50106425,,,spu-cat-qp,3,cat-qp,">@Model.headGlobalGoodsType.ElementAt(i).Name<span>(@Model.headGlobalGoodsTypeNum.ElementAt(i))</span>
                                                </a></li>
                                        }
                                            }
                                        </ul>
                                    </div>
                                </div> 
                                    }
                                }
                                else
                                {
                                    if (@Model.headGlobalGoodsType.Count == 1 && @Model.listGlobalGoodsTypes.ElementAt(0).Count != 0)
                                    {
                                <div class="j_Cate attr">
                                    <div class="attrKey" data-atp="{loc},{cat},,,spu-cat-qp,3,cat-qp,">
                                        <a title="@Model.headGlobalGoodsType.ElementAt(0).Name" href="SearchProduct?from=sn_1_cat-qp&area_code=370100&style=g&sort=@ViewData["sort"]&q=%D0%AC&n=60&s=0&cat=@Model.headGlobalGoodsType.ElementAt(0).Id#J_crumbs"
                            atpanel="1,50026637,,,spu-cat-qp,3,cat-qp,">@Model.headGlobalGoodsType.ElementAt(0).Name</a>
                                    </div>
                                    <div class="attrValues">
                                        <ul class="av-expand" data-atp="{loc},{cat},,,spu-cat-qp,3,cat-qp," style="height: auto;">
                                            @{
                                        var index = 0;
                                        foreach (friday.core.domain.GlobalGoodsType globalGoodsType in @Model.listGlobalGoodsTypes.ElementAt(0))
                                        {
                                            var listGlobalGoodsTypesNum = Model.listGlobalGoodsTypesNum.ElementAt(0);
                                    
                                                <li><a title="@globalGoodsType.Name; (@listGlobalGoodsTypesNum.ElementAt(index))" href="SearchProduct?from=sn_1_cat-qp&area_code=370100&style=g&sort=@ViewData["sort"]&q=%D0%AC&n=60&s=0&cat=@globalGoodsType.Id#J_crumbs"
                                    atpanel="1,50106425,,,spu-cat-qp,3,cat-qp,">@globalGoodsType.Name<span>(@listGlobalGoodsTypesNum.ElementAt(index))</span>
                                                </a></li>
                                            index++;
                                        }
                                            }
                                        </ul>
                                    </div>
                                </div>
                                    }
                                }
                            }

                        </div>

                        <div class="attrs-border">
                        </div>
                        <div class="attrExtra">
                            <p class="relKeyRec" data-spm="a220m.1000858.1000723" data-atp="{loc},{q},,,spu-key,5,key,">
                                <span>您是不是想找</span>
                                @for (var index = 0; index < Model.globalGoodsTypes.Count(); index++)
                                {
                                    var item = Model.globalGoodsTypes.ElementAt(index); 
                                    <a href="SearchProduct?keyword=@item.Name" atpanel="1,%C6%BD%B5%D7%D0%AC,,,spu-key,5,key,">@item.Name</a>
        
                                }
                            </p>
                        </div>
                    </div>
                    <input type="hidden" name="area_code" value="370100">
                    <input type="hidden" name="sort" value="s">
                    <input type="hidden" name="style" value="g">
                    <input type="hidden" name="vmarket" value="0"><input type="hidden" name="q" value="">
                    <input type="hidden" name="cat" value="2"><input type="hidden" name="brand" value="">
                    <input type="hidden" name="prop" value="">
                </form>
                <div class="filter clearfix" id="J_Filter" data-spm="a220m.1000858.1000724">
                    <div class="fArea fOriginArea" id="J_FOriginArea">
                        <b class="fA-text">发货地 </b><i class="f-ico-triangle-rb"></i>
                        <div class="fA-list">
                            <div class="fAl-hd clearfix">
                                <a class="fAl-all" href="">所有地区</a>
                                <span class="fAl-curLoc">
                                    @{
                                        if (Model.currentFirstSchool != null)
                                        {
                                        <a href="" atpanel="1,@Model.currentFirstSchool.Name),,,spu-floc,20,floc,">@(Model.currentFirstSchool.Name.Length > 4 ? (Model.currentFirstSchool.Name.Substring(0, 3) + "..") : Model.currentFirstSchool.Name)</a> 
                                        } 
                                    }

                                    @{
                                        if (Model.currentSecondSchool != null)
                                        {
                                        <a href="" atpanel="2,(@Model.currentSecondSchool.Name),,,spu-floc,20,floc,">@(Model.currentSecondSchool.Name.Length > 4 ? (Model.currentSecondSchool.Name.Substring(0, 3) + "..") : Model.currentSecondSchool.Name)</a>
                                        }
                                    }
                                </span>


                                <form class="fAl-custom" action="">
                                    <input type="text" data-val="输入城市名" id="J_FOAInput" name="loc">
                                    <input type="hidden" value="@ViewData["skeywords"]" name="q">
                                    <input type="hidden" name="cat" value="@ViewData["cat"]">
                                    <input type="hidden" name="sort" value="@ViewData["sort"]">
                                    <input type="hidden" name="style" value="@ViewData["style"]">
                                    <input type="hidden" name="vmarket" value="0">
                                    <input type="hidden" name="area_code" value="370100">
                                    <button type="submit" class="ui-btn-s-primary fAlc-btn" atpanel=",,,,spu-floc,20,floc,">
                                        确定</button>
                                </form>
                            </div>
                            @{
                                if (Model.currentFirstSchool != null)
                                {
                                <ul class="fAl-loc" data-atp=",{text},,,spu-floc,20,floc,">
                                    @{
                                    foreach (friday.core.domain.School s in Model.siblingSchools)
                                    {
                                        <li><a href="">@(s.Name.Length > 4 ? (s.Name.Substring(0, 3) + "..") : s.Name)</a></li>
                                    }
                                    }
                                </ul>
                                    if (Model.currentSecondSchool != null)
                                    {
                                <ul class="fAl-loc" data-atp=",{text},,,spu-floc,20,floc,">
                                    @{
                                        foreach (friday.core.domain.School s in Model.parentSiblingSchools)
                                        {
                                        <li><a href="">@(s.Name.Length > 4 ? (s.Name.Substring(0, 3) + "..") : s.Name)</a></li>
                                        }
                                    }
                                </ul>
                                    }
                                }
                                else
                                {
                                <ul class="fAl-loc" data-atp=",{text},,,spu-floc,20,floc,">
                                    @{
                                    foreach (friday.core.domain.School s in Model.parentSiblingSchools)
                                    {
                                        <li><a href="">@(s.Name.Length > 4 ? (s.Name.Substring(0, 3) + "..") : s.Name)</a></li>
                                    }
                                    }
                                </ul>
                                }
                                
                            }
                            @*                            <ul class="fAl-loc" data-atp=",{text},,,spu-floc,20,floc,">
                                <li><a href="">杭州</a></li>
                                <li><a href="">温州</a></li>
                                <li><a href="">宁波</a></li>
                                <li><a href="">南京</a></li>
                                <li><a href="">苏州</a></li>
                                <li><a href="">济南</a></li>
                                <li><a href="">青岛</a></li>
                                <li><a href="">大连</a></li>
                                <li><a href="">无锡</a></li>
                                <li><a href="">合肥</a></li>
                                <li><a href="">天津</a></li>
                                <li><a href="">长沙</a></li>
                                <li><a href="">武汉</a></li>
                                <li><a href="">郑州</a></li>
                                <li><a href="">石家庄</a></li>
                                <li><a href="">成都</a></li>
                                <li><a href="">重庆</a></li>
                                <li><a href="">西安</a></li>
                                <li><a href="">昆明</a></li>
                                <li><a href="">南宁</a></li>
                                <li><a href="">福州</a></li>
                                <li><a href="">厦门</a></li>
                                <li><a href="">南昌</a></li>
                                <li><a href="">东莞</a></li>
                                <li><a href="">沈阳</a></li>
                                <li><a href="">长春</a></li>
                                <li><a href="">哈尔滨</a></li>
                            </ul>
                            <ul class="fAl-loc" data-atp=",{text},,,spu-floc,20,floc,">
                                <li><a href="">安徽</a></li>
                                <li><a href="">福建</a></li>
                                <li><a href="">甘肃</a></li>
                                <li><a href="">广东</a></li>
                                <li><a href="">广西</a></li>
                                <li><a href="">贵州</a></li>
                                <li><a href="">海南</a></li>
                                <li><a href="">河北</a></li>
                                <li><a href="">河南</a></li>
                                <li><a href="">湖北</a></li>
                                <li><a href="">湖南</a></li>
                                <li><a href="">江苏</a></li>
                                <li><a href="">黑龙江</a></li>
                                <li><a href="">江西</a></li>
                                <li><a href="">吉林</a></li>
                                <li><a href="">辽宁</a></li>
                                <li><a href="">内蒙古</a></li>
                                <li><a href="">宁夏</a></li>
                                <li><a href="">青海</a></li>
                                <li><a href="">山东</a></li>
                                <li><a href="">山西</a></li>
                                <li><a href="">陕西</a></li>
                                <li><a href="">四川</a></li>
                                <li><a href="">西藏</a></li>
                                <li><a href="">新疆</a></li>
                                <li><a href="">云南</a></li>
                                <li><a href="">浙江</a></li>
                                <li><a href="">香港</a></li>
                                <li><a href="">澳门</a></li>
                                <li><a href="">台湾</a></li>
                            </ul>*@
                        </div>
                    </div>
                    <form action="SearchProduct" id="J_FForm" method="get">
                        <div class="fRange">
                            <b class="fR-text">
                                @{
                                    switch (@ViewData["sort"].ToString())
                                    {
                                        case "p":
                                    <text>价格从低到高</text>
                                            break;
                                        case "pd":
                                    <text>价格从高到低</text>
                                            break;
                                        case "td":
                                    <text>总销量从高到低</text>
                                            break;
                                        case "d":
                                    <text>月销量从高到低</text>
                                            break;
                                        case "s":
                                        case "st":
                                    <text>默认排序</text>
                                            break;
                                        case "pt":
                                    <text>按发布时间排序</text>
                                            break;

                                    }
                            
                                }
                            </b><i class="f-ico-triangle-rb"></i>
                            <ul class="fR-list" data-atp="{loc},price_ascending,,,spu-sort,20,sort,">
                                <li><a href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=p&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                                atpanel="1,price_ascending,,,spu-sort,20,sort,"><i class="fRl-ico-pu"></i>价格从低到高</a>
                                </li>
                                <li><a href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=pd&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                                atpanel="2,price_ascending,,,spu-sort,20,sort,"><i class="fRl-ico-pd"></i>价格从高到低</a>
                                </li>
                                <li><a href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=td&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                                atpanel="3,price_ascending,,,spu-sort,20,sort,"><i class="fRl-ico-sd"></i>总销量从高到低</a>
                                </li>
                                <li><a href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=d&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                                atpanel="4,price_ascending,,,spu-sort,20,sort,"><i class="fRl-ico-msd"></i>月销量从高到低</a>
                                </li>
                                <li><a href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=pt&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                                atpanel="5,price_ascending,,,spu-sort,20,sort,"><i class="fRl-ico-td"></i>按发布时间排序</a>
                                </li>
                                <li><a href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=st&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                                atpanel="6,price_ascending,,,spu-sort,20,sort,">恢复默认排序</a> </li>
                            </ul>
                        </div>
                        <a class="fSort @(ViewData["sort"].ToString() == "d" ? "fSort-cur" : "")" href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=@(ViewData["sort"].ToString() == "d" ? "s" : "d")&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                        title="@(ViewData["sort"].ToString() == "d" ? "点击后恢复默认排序" : "点击后按月销量从高到低")" atpanel="7,week_sale,,,spu-sort,20,sort,">销量<i class="f-ico-arrow-d"></i></a>
                        <a class="fSort @((ViewData["sort"].ToString() == "pd" || ViewData["sort"].ToString() == "p") ? "fSort-cur" : "")" href="SearchProduct?cat=@ViewData["cat"]&s=0&n=60&sort=@(ViewData["sort"].ToString() == "p" ? "pd" : "p")&style=g&vmarket=0&pic_detail=1&active=1#J_Filter"
                        title="@(ViewData["sort"].ToString() == "p" ? "点击后按价格从高到低" : "点击后按价格从低到高")" atpanel="9,price_ascending,,,spu-sort,20,sort,">价格
                           <i class="f-ico-triangle-mt @(ViewData["sort"].ToString() == "p" ? "f-ico-triangle-mt-slctd" : "")"></i>
                            <i class="f-ico-triangle-mb @(ViewData["sort"].ToString() == "pd" ? "f-ico-triangle-mb-slctd" : "")"></i></a>
                        <div class="fPrice" id="J_FPrice">
                            <div class="fP-box">
                                <b class="fPb-item"><i class="ui-price-plain">¥</i>
                                    <input type="text" name="price1" autocomplete="off" maxlength="8" value="@ViewData["sprice1"]" class="j_FPInput">
                                </b><i class="fPb-split"></i><b class="fPb-item"><i class="ui-price-plain">¥</i>
                                    <input type="text" name="price2" autocomplete="off" value="@ViewData["sprice2"]" maxlength="8" class="j_FPInput">
                                </b>
                            </div>
                            <div class="fP-expand">
                                <a class="ui-btn-s" id="J_FPCancel">清空</a> <a class="ui-btn-s-primary" id="J_FPEnter"
                                    atpanel=",,,,spu-fprice,20,fprice,">确定</a>
                            </div>
                        </div>
                        @* 2013-05-23 basilwang 这块不要删 *@
                        @* <div class="fMenu" id="J_FMenu">
                        <div class="fM-con">
                            <a href="javascript:;" hidefocus="true" class="j_FMcExpand ui-more-drop-l">更多<i class="ui-more-drop-l-arrow"></i></a>
                            <label>
                                <input type="checkbox" name="new" value="1" atpanel="10,new-1,,,spu-fservice,20,fservice,">新到商品</label>
                            <label>
                                <input type="checkbox" name="post_fee" value="-1" atpanel="1,post_fee-1,,,spu-fservice,20,fservice,">包邮</label>
                            <label>
                                <input type="checkbox" name="miaosha" value="1" atpanel="2,miaosha-1,,,spu-fservice,20,fservice,">折扣</label>
                            <input type="hidden" name="zk_type" value="0"><label><input type="checkbox" name="wwonline"
                                value="1" atpanel="4,wwonline-1,,,spu-fservice,20,fservice,">旺旺在线</label>
                            <label>
                                <input type="checkbox" name="combo" value="1" atpanel="3,combo-1,,,spu-fservice,20,fservice,">搭配减价</label>
                            <label>
                                <input type="checkbox" name="manyPoints" value="1" atpanel="6,manyPoints-1,,,spu-fservice,20,fservice,">多倍积分</label>
                            <label>
                                <input type="checkbox" name="filter_mj" value="1" atpanel="7,filter_mj-1,,,spu-fservice,20,fservice,">满就减</label>
                            <label>
                                <input type="checkbox" name="support_cod" value="1" atpanel="8,support_cod-1,,,spu-fservice,20,fservice,">货到付款</label>
                        </div>
                    </div>
                    <a href="  "
                        class="fType-w " atpanel=",w,,,,20,filter,">店铺<i class="fTw-ico"></i></a> <a href="javascript:;"
                            class="fType-g fType-cur" atpanel=",g,,,,20,filter,">大图<i class="fTg-ico"></i></a>
                    <a href="  "
                        class="fType-l " atpanel=",l,,,,20,filter,">小图<i class="fTl-ico"></i></a>
*@
                        <input type="hidden" name="search_condition" value="16">
                        <input type="hidden" name="cat" value="@ViewData["cat"]">
                        <input type="hidden" name="sort" value="@ViewData["sort"]">
                        <input type="hidden" name="style" value="@ViewData["style"]">
                        <input type="hidden" name="vmarket" value="0">
                        <input name="keyword" type="hidden" value="@ViewData["skeyword"]">
                    </form>
                    <p class="ui-page-s">
                        <b class="ui-page-s-len">@Model.currentPage/@Model.pageNum</b> @*<b class="ui-page-s-prev" title="上一页">&lt;</b>
<a href="http://list.tmall.com/search_product.htm?area_code=370100&amp;style=g&amp;sort=s&amp;q=%D0%AC&amp;n=60&amp;s=60&amp;cat=2#J_Filter" class="ui-page-s-next" atpanel="1,pagedn,,,,20,fservice," title="下一页">&gt;</a>
 *@
                        @if (Model.currentPage == 1 && Model.pageNum != 1)
                        { 
                            <b class="ui-page-s-prev" title="上一页">&lt;</b>
                            <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(Model.currentPage + 1)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="ui-page-s-next" atpanel="1,pagedn,,,,20,fservice," title="下一页">&gt;</a>                 
                        }
                        else if (Model.currentPage == 1 && Model.pageNum == 1)
                        {
                            <b class="ui-page-s-prev" title="上一页">&lt;</b>
                            <b class="ui-page-s-next" title="下一页">&gt;</b>
                                           
                        }
                        else if (Model.currentPage == Model.pageNum && Model.pageNum != 1)
                        {                                            
                            <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(Model.currentPage - 1)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="ui-page-s-prev" atpanel="1,pagedn,,,,20,fservice," title="上一页">&lt;</a>                 
                            <b class="ui-page-s-next" title="下一页">&gt;</b>
                        }
                        else
                        {
                            <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(Model.currentPage - 1)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="ui-page-s-prev" atpanel="1,pagedn,,,,20,fservice," title="上一页">&lt;</a>                 
                            <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(Model.currentPage + 1)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="ui-page-s-next" atpanel="1,pagedn,,,,20,fservice," title="下一页">&gt;</a>                 
                        }
                    </p>
                </div>

                <div class=" view   clearfix" id="J_ItemList" data-spm="a220m.1000858.1000725" data-area="济南"
                    data-delivery="http://delivery.taobao.com/ensured/getItemSupportsExpressDays.do"
                    data-atp="{p},{i},{ci},{is},spu,1,spu,{user_id}">
                    @for (var index = 0; index < Model.Commoditys.Count(); index++)
                    {
                        var item = Model.Commoditys.ElementAt(index);
                        var minpricesku = Model.minPriceSkuList.ElementAt(index);    
                          
                        <div class="product" data-id="18965187927">
                            <div class="product-iWrap">
                                <div class="productImg-wrap">
                                    @*<a href="http://detail.tmall.com/item.htm?id=18965187927&amp;user_id=260030441&amp;is_b=1&amp;cat_id=2&amp;q=%D0%AC&amp;rn=47b7f16145e0c52544ef258e078d200c" class="productImg" target="_blank" data-p="1" data-i="18965187927" data-is="214204412" data-ci="50012906" atpanel="1,18965187927,50012906,214204412,spu,1,spu,260030441">
 *@ <a href="Detail/Index?brandid=@item.Id" class="productImg" target="_blank" data-p="1" data-i="18965187927" data-is="214204412" data-ci="50012906" atpanel="1,18965187927,50012906,214204412,spu,1,spu,260030441">
     @*<img src="http://img03.taobaocdn.com/bao/uploaded/i3/10441021291756753/T1nhJ5XtJaXXXXXXXX_!!0-item_pic.jpg_b.jpg">*@
     <img src="@item.Image" style="width:220px;height:220px" />
 </a>
                                </div>
                                <div class="productThumb clearfix">
                                    <div class="proThumb-wrap">
                                        <p class="ks-switchable-content">
                                            <b data-sku="1627207:132069" class="proThumb-img ">@*<img src="http://img01.taobaocdn.com/bao/uploaded/i1/260030441/T23bKQXjlbXXXXXXXX_!!260030441.jpg_30x30.jpg" atpanel="1-1,18965187927,,,spu/shop,20,itemsku,">
*@
                                                <img src="@item.Image" atpanel="1-1,18965187927,,,spu/shop,20,itemsku,">
                                               </b
                                        </p>
                                    </div>
                                </div>
                                <p class="productPrice">
                                    <em title="199.00">¥@minpricesku.price </em><del>¥@minpricesku.price</del>
                                </p>
                                <p class="productTitle">
                                    <a href="http://localhost:7525/Merchant/Detail/Index?brandid=@item.Id" target="_blank" title="@item.Shop.Name @item.Name 2013春新款正品商务休闲正装舒适软面皮鞋包邮" data-i="18965187927" data-is="214204412" data-ci="50012906" data-p="1" atpanel="1,18965187927,50012906,214204412,spu,1,spu,260030441">@item.Shop.Name
                                        @item.Name @*真皮男单<span class="H">鞋</span> 2013春新款正品商务休闲正装舒适软面皮<span class="H">鞋</span>包邮*@</a>
                                </p>
                                <p class="productStatus">
                                    月销量:<em>@item.MonthAmount</em>|@*<a href=""
                                        target="_blank" data-i="18965187927" data-is="214204412" data-p="1-1" data-ci="50012906"
                                        atpanel="1-1,18965187927,50012906,214204412,spu,1,spu,260030441">累计评价:3308</a>*@
                                </p>
                                <div class="productShop">
                                    <a class="productShop-name" href="http://localhost:7525/merchant/index?scid=@item.Shop.Id"
                                        target="_blank" atpanel="1-3,260030441,,,spu,2,spu,260030441">
                                        @item.Shop.Name  </a><span data-icon="small" class="ww-light ww-small" data-nick="@item.Shop.Name 品牌旗舰店" data-tnick="@item.Shop.Name 品牌旗舰店" data-display="inline" data-atp="1-2,18965187927,,,spu,1,spu,260030441"></span>
                                </div>
                                <p class="productIcons">
                                </p>
                                <p class="productAttrs">
                                </p>
                            </div>
                        </div>


                    }
                </div>
                <form action="SearchProduct" method="get">
                    <div class="ui-page">
                        <div class="ui-page-wrap">


                            <b class="ui-page-num">
                                @if (Model.currentPage > 1)
                                {
                                    <a class="ui-page-prev j_PageChange " data-page="@(Model.currentPage - 1)" href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(Model.currentPage - 1)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum">&lt;&lt; 上一页</a>
                                }
                                else
                                {
                                    <b class="ui-page-prev">&lt;&lt; 上一页</b>
                                }

                                @{
                                    if (Model.pageNum <= 3)
                                    {
                                        for (int i = 1; i <= Model.pageNum; i++)
                                        {
                                            if (i == Model.currentPage)
                                            {
                                    <b class="ui-page-cur">@i</b>
                                            }
                                            else
                                            {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(i)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                            }
                                        }
                                    }
                                    else if (Model.pageNum <= 8)
                                    {
                                        if (Model.currentPage + 2 < Model.pageNum)
                                        {
                                            for (int i = 1; i <= (Model.currentPage + 2); i++)
                                            {
                                                if (i == Model.currentPage)
                                                {
                                    <b class="ui-page-cur">@i</b>
                                                }
                                                else
                                                {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(i)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                                }
                                            }
                                    <b class="ui-page-break">...</b>  
                                        }
                                        else
                                        {
                                            for (int i = 1; i <= Model.pageNum; i++)
                                            {
                                                if (i == Model.currentPage)
                                                {
                                    <b class="ui-page-cur">@i</b>
                                                }
                                                else
                                                {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(i)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                                }
                                            }
                                        }
                                    }
                                    else
                                    {
                                        if (Model.currentPage <= 6)
                                        {
                                            for (int i = 1; i <= (Model.currentPage + 2); i++)
                                            {
                                                if (i == Model.currentPage)
                                                {
                                    <b class="ui-page-cur">@i</b>
                                                }
                                                else
                                                {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(i)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                                }
                                            }
                                    <b class="ui-page-break">...</b>  
                                        }
                                        else if (Model.currentPage <= Model.pageNum - 4)
                                        {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=1&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="1">1</a>
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=2&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="2">2</a>
                                    <b class="ui-page-break">...</b>  
                                
                                            for (int i = (Model.currentPage - 2); i <= (Model.currentPage + 2); i++)
                                            {
                                                if (i == Model.currentPage)
                                                {
                                    <b class="ui-page-cur">@i</b>
                                                }
                                                else
                                                {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(i)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                                }
                                            }
                                    <b class="ui-page-break">...</b> 
                                        }
                                        else
                                        {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=1&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="1">1</a>
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=2&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="2">2</a>
                                    <b class="ui-page-break">...</b> 
                    
                                            for (int i = (Model.currentPage - 2); i <= Model.pageNum; i++)
                                            {
                                                if (i == Model.currentPage)
                                                {
                                    <b class="ui-page-cur">@i</b>
                                                }
                                                else
                                                {
                                    <a href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(i)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                                }
                                            }
                                        }

                                    }
                                }
                                @if (Model.currentPage < Model.pageNum)
                                {
                                    <a class="ui-page-next j_PageChange " data-page="@(Model.currentPage + 1)" href="SearchProduct?cat=@ViewData["cat"]&sort=@ViewData["sort"]&style=@ViewData["style"]&page=@(Model.currentPage + 1)&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum">&lt;&lt; 下一页</a>
                                }
                                else
                                {
                                    <b class="ui-page-next">下一页 &gt;&gt;</b>
                                }
                            </b>


                            <b class="ui-page-skip">共@(Model.pageNum)页，去第
     <input type="text" value="@Model.currentPage"   size="3" class="ui-page-skipTo j_PageChangeInput" name="page">
                                <input type="hidden" value="@Model.pageNum"   size="3" class="ui-page-skipTo j_PageChangeInput" name="pagenum">
                                <input type="hidden" value="@ViewData["skeyword"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="keyword">
                                <input type="hidden" value="@ViewData["sprice1"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="price1">
                                <input type="hidden" value="@ViewData["sprice2"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="price2">
                                <input type="hidden" value="@ViewData["cat"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="cat">
                                <input type="hidden" value="@ViewData["sort"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="sort">
                                <input type="hidden" value="@ViewData["style"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="style">
                                页
     <button class="ui-btn-s ui-page-skipBtn j_PageChangeBtn" type="submit">
         确定</button></b>
                        </div>
                    </div>
                </form>
                @*
<div id="J_Recommend" data-p4p-cfg="{'name':'tbuad','o':'j','count':'5','catid':'','keyword':'%D0%AC','offset':'0','propertyid':'','pid':'419108_1006','p4p':'','frontcatid':'','gprice':'0%2C100000000','bigpic':'1','ismall':'1','loc':'','sort':'','sbid':'13','q2cused':'0','page':'1'}" data-atpanel="-2,{{vo.RESOURCEID}},,,spu,1,p4p," style="">
*@
                <div id="J_Recommend">
                    <div class="recommend">
                        <h3 class="recommend-hd">商家热卖：</h3>
                        <div class="recommend-con clearfix recommend-con-6">
                            @for (int i = 0; i < 6 && i < Model.recommendComdties.Count; i++)
                            {
                                var hrcdty = @Model.recommendComdties.ElementAt(i);
                                var minPrice = @Model.minRecommendSkuList.ElementAt(i);
                                    
                                <div class="product">
                                    <a href="http://localhost:7525/Merchant/Detail/Index?brandid=@hrcdty.Id" target="_blank" atpanel="-2,15690894056,,,spu,1,p4p," class="productImg">
                                        <img src="@(hrcdty.Image + "_160x160.jpg")">
                                    </a>
                                    <p class="productPrice ui-price">
                                        ¥ @minPrice.price
                                    </p>
                                    <p class="productTitle">
                                        <a href="http://localhost:7525/Merchant/Detail/Index?brandid=@hrcdty.Id" atpanel="-2,15690894056,,,spu,1,p4p," target="_blank">
                                            @hrcdty.Name</a>
                                    </p>
                                </div>     
  
                            }
                        </div>
                    </div>
                </div>
                <div class="" id="J_BtmSearch">
                    <div>
                        <div class="btmSearch" data-spm="a220m.1000858.1000729">
                            <div class="btmSearch-main">
                                <form class="btmSearch-form clearfix" action="SearchProduct"
                                    target="_top" name="searchTop">
                                    <fieldset>
                                        <div class="btmSearch-input clearfix">
                                            <label class="btmSearch-mq-label" for="btm-mq" style="visibility: hidden;">
                                                搜索 邻居在线 商品/店铺</label>
                                            <input type="text" value="@ViewData["skeyword"]" autocomplete="off" tabindex="9" accesskey="s" class="btmSearch-mq" id="btm-mq" data-bts="0" name="keyword">
                                            <button class="ui-btn-search-l" atpanel="3,bottomsearch,,,,20,searchbutton,">
                                                搜索 <s></s>
                                            </button>
                                            <input type="hidden" name="vmarket" value="0">
                                            <input name="user_action" value="initiative" type="hidden" />
                                            @*<input type="hidden" name="cat" value="all">*@
                                            <input type="hidden" name="type" value="p">
                                            <input type="hidden" name="at_topsearch" value="1">
                                             <input type="hidden" name="cat" value="">
                                            <input type="hidden" name="style" value="">
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                        <p class="relKeyRec relKeyRec-btm" data-spm="a220m.1000858.1000723" data-atp="{loc},{q},,,spu-key,5,key,">
                            <span>您是不是想找</span>
                            @for (var index = 0; index < Model.globalGoodsTypes.Count(); index++)
                            {
                                var item = Model.globalGoodsTypes.ElementAt(index); 
                                <a href="SearchProduct?keyword=@item.Name" atpanel="1,%C6%BD%B5%D7%D0%AC,,,spu-key,5,key,">@item.Name</a>
        
                            }
                        </p>
                    </div>
                </div>
            </div>
            @*<script id="J_CoreJs" data-type="list" src="http://l.tbcdn.cn/apps/tmallsearch/1.0/??core.js,atp.js,rn.js,init.js?v=1.0&amp;t=2012102920130426"></script>
*@
            <script id="J_CoreJs" data-type="list" src="http://localhost:7525/apps/tmallsearch/1.0/core.js"></script>
            <script src="http://localhost:7525/apps/tmallsearch/1.0/atp.js"></script>
            <script src="http://localhost:7525/apps/tmallsearch/1.0/rn.js"></script>
            <script src="http://localhost:7525/apps/tmallsearch/1.0/init.js"></script>
            <!-- 新风尚立地banner -->
            @Html.Partial("_Footer")
        </div>

    }

</body>
</html>
