@{
    ViewBag.Title = "邻居在线";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/common.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/mui.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/category.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/slide2.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/brand.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/floor.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/layout.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/act.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    <script>
        _hb_monitor_st = +new Date;
        window.g_config = { appId: 2000, t: '20130201', closeWinner: true, closeTriggerAnim: true };
    </script>
    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src=@Url.Content("/weblogin/js/jquery-1.7.2.js")></script>
    <script src="@Url.Content("/p/mall/base/global-v2.js")"></script>
    <script src="@Url.Content("/apps/tmall/mui/tml/tml.js")"></script>
    <script src="@Url.Content("/apps/tmall/fp/2012/core.js")"></script> 
</head>
<body>
    <div id="message">
    </div>
    <div id="status">
    </div>
    

    <div id="site-nav">
    <div id="sn-bg">
        <div class="sn-bg-right">
        </div>
    </div>
    <div id="sn-bd">
        <b class="sn-edge"></b> 
         <div class="kv-item">
        <span style="color:#ffd0c0">切换区域：</span>
            <a id="J_AreaButton" type="button" href="" style="color:#ffd0c0">切换</a> 
            <input id="Temp_SelectedID" value="" type="hidden"/>
          </div>
        <script type="text/javascript">
            $(function () {
                init();
//                $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#sn-bd select:last").val());
            });

            function init() {
           //debugger
             @{  
                <text>              
                var loginState = "@Model.LoginStateFamily[0]"; 
                </text>             
              }

              var userFamily;

              if(loginState=="isLogin")
              {
                  @{  
                    <text>              
                    userFamily = "@Model.LoginStateFamily[1]"; 
                    </text>             
                  }
                  var userFamilyArray = userFamily.split(',');
                  $("#Temp_SelectedID").val(userFamilyArray[userFamilyArray.length-1]);
                  $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                  updateOneList(0, 0, userFamilyArray[0], userFamilyArray);
                  
              }
              else if(loginState=="isIP"){
                 @{  
                    <text>              
                    userFamily = "@Model.LoginStateFamily[1]"; 
                    </text>             
                  }
                  var userFamilyArray = userFamily.split(',');
                  $("#Temp_SelectedID").val(userFamilyArray[userFamilyArray.length-1]);
                  $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                  updateOneList(0, 0, userFamilyArray[0], userFamilyArray);

              }
              else
              {
                  updateNext(0,0);
              }
            }

            function updateNext(level, parentid) {
                $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    url: "/weblogin/school/pSchoolList.aspx/RegisterGetSchool?t=" + (new Date().getTime()),
                    data: "{'nvls':[{'name':'id','value':'" + parentid + "'}]}",
                    dataType: "json",
                    success: function (data) {
                        //debugger
                        var da = eval("(" + data.d + ")");
                        if (da.length != 0) {
                            if(level==0)
                            {
                                $("<select id=\"Area_" + level + "\" level=\"" + level + "\"></select>").insertBefore("#J_AreaButton")
                            }
                            else
                            {
                                $("<select id=\"Area_" + level + "\" level=\"" + level + "\"></select>").insertAfter("#sn-bd select:last");
                                $("#Temp_SelectedID").val(parentid);
                                $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                            }

                            $("#Area_" + level).append("<option value=\"\" selected=\"true\">不限</option>");
                            for (var i = 0; i < da.length; i++) {
                                $("#Area_" + level).append("<option value=\"" + da[i].id + "\">" + da[i].text + "</option>");
                            }

                            $("#Area_" + level).bind("change", function () {
                                deleteAfterList($(this).attr("level"));
                                if($(this).val()!="")
                                {
                                    $("#Temp_SelectedID").val($(this).val());
                                    $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                                    updateNext(parseInt($(this).attr("level")) + parseInt(1),$(this).val());
                                }
                                else
                                {
                                    if($(this).attr("level")=="0")
                                    {
                                        $("#Temp_SelectedID").val("");
                                        $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool=");
                                    }
                                    else
                                    {
                                        $("#Temp_SelectedID").val($("#Area_"+(parseInt($(this).attr("level")) - parseInt(1))).val());
                                        $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                                    }
                                }
                            });
                         }
                    }
                });
            }

            function updateOneList(level, parentid , currentid, userFamilyArray) {
                $.ajax({
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    url: "/weblogin/school/pSchoolList.aspx/RegisterGetSchool?t=" + (new Date().getTime()),
                    data: "{'nvls':[{'name':'id','value':'" + parentid + "'}]}",
                    dataType: "json",
                    success: function (data) {
                        //debugger
                        var da = eval("(" + data.d + ")");
                        if (da.length != 0) {
                            $("#Temp_SelectedID").val(currentid);
                            $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());

                            if(level==0)
                            {
                                $("<select id=\"Area_" + level + "\" level=\"" + level + "\"></select>").insertBefore("#J_AreaButton")
                            }
                            else
                            {
                                $("<select id=\"Area_" + level + "\" level=\"" + level + "\"></select>").insertAfter("#sn-bd select:last");
                            }

                            $("#Area_" + level).append("<option value=\"\" >不限</option>");
                            for (var i = 0; i < da.length; i++) {
                                if(da[i].id==currentid)
                                {
                                    $("#Area_" + level).append("<option value=\"" + da[i].id + "\" selected=\"true\">" + da[i].text + "</option>");

                                    if (da[i].hasChildren == true) {
                                        if(level<userFamilyArray.length-1)
                                            updateOneList((parseInt(level) + parseInt(1)), userFamilyArray[level],userFamilyArray[parseInt(level) + parseInt(1)],userFamilyArray);
                                        else
                                            updateNext((parseInt(level) + parseInt(1)),userFamilyArray[level]);
                                    }
                                }
                                else
                                {
                                    $("#Area_" + level).append("<option value=\"" + da[i].id + "\">" + da[i].text + "</option>");
                                }
                            }

                            $("#Area_" + level).bind("change", function () {
                                deleteAfterList($(this).attr("level"));
                                if($(this).val()!="")
                                {
                                    $("#Temp_SelectedID").val($(this).val());
                                    $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                                    updateNext(parseInt($(this).attr("level")) + parseInt(1),$(this).val());
                                }
                                else
                                {
                                    if($(this).attr("level")=="0")
                                    {
                                        $("#Temp_SelectedID").val("");
                                        $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool=");
                                    }
                                    else
                                    {
                                        $("#Temp_SelectedID").val($("#Area_"+(parseInt($(this).attr("level")) - parseInt(1))).val());
                                        $("#J_AreaButton").attr("href","http://localhost:7525/index.html?selectedSchool="+$("#Temp_SelectedID").val());
                                    }
                                }
                            });
                        }
                    }
                });
            }

            function deleteAfterList(level) {
                //debugger
                var sumSelect = $("#sn-bd select");
                for (var i = (parseInt(level) + parseInt(1)); i < sumSelect.length; i++) {
                    $(sumSelect[i]).remove();
                }
            }
        </script>


        <div class="sn-container">


            <p id="login-info" class="sn-login-info">
                <script>
                    TB.use("mod~global", function () {
                        if (TB && TB.Global && TB.Global.writeLoginInfo) {
                            TB.Global.writeLoginInfo({
                                isApp: false
                            });
                        }
                    });

                </script>
            </p>



            <ul class="sn-quick-menu">

                <li class="cart"><a href="http://localhost:7525/CartPay/Home/MyCartPay?from=btop" target="_top" rel="nofollow"><s>
                </s>购物车 </a></li>
               
               
            </ul>
        </div>
    </div>
</div>
<script>
    TB.use("mod~global", function () {
        if (TB && TB.Global && TB.Global.init) {
            TB.Global.init();
        }
    });
</script>



    @Html.Partial("_Header")
    <div id="mallNav" data-spm="3.168958.197562">
        <div class="mallNav-con" id="J_MallNavCon">
            <div id="mallTextNav" class="clearfix">
                <ul class="mallNav-main">
                    <li data-catid="mallfp" class="nav curChn "><span class="item">首页</span></li>
                    <li class="nav slideDown" data-catid="map">
                        <a class="navA" href="http://localhost:7525/Merchant/SearchProduct?cat=&s=0&n=60&sort=@ViewData["sort"]&style=g&zk_type=0&vmarket=0&search_condition=23&pic_detail=1&area_code=370100&from=sn_1_rightnav&active=1#J_crumbs">超市百货模式</a>
                    </li>
                    <li class="nav slideDown"  data-catid="temai">
                        <a class="navA" href="http://localhost:7525/Merchant/SearchProduct?from=sn_1_cat-qp&area_code=370100&style=g&sort=s&q=%D0%AC&n=60&s=0&cat=46f9bf2d-0a21-4997-87fe-b21ac9abf8e7#J_crumbs">订餐</a>
                    </li>
                   <li class="nav" data-catid="brand">
                        <a class="navA" style="cursor:text" href="javascript: void(0)">预订模式</a>
                   </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="content">
        @Html.Partial("_MfpSlide")
        <div class="mallMain">
            <div class="mallRight">
                @Html.Partial("_Brand")
                @Html.Partial("_Floor")
                @Html.Partial("_Footer")
            </div>
            <div class="mallLeft">
                @Html.Partial("_Category")
            </div>
        </div>
    </div>
    <script>
        /*
        KISSY.config({
        packages: [
        {
        name: "basil", //包名
        tag: "20130203", //时间戳, 添加在动态脚本路径后面, 用于更新包内模块代码
        path: "./apps/", //包对应路径, 相对路径指相对于当前页面路径
        charset: "utf-8" //包里模块文件编码格式
        }
        ]
        });
        KISSY.use('friday/fp', function (S, FP) {
        new FP();
        });
        */
        KISSY.use('2012/fp', function () {
            new arguments[1]
        })
    </script>
</body>
</html>
