@{
    ViewBag.Title = "Order";
}
@*<html class="ks-webkit537 ks-webkit ks-chrome26 ks-chrome">*@
<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="gbk" />
        <title>确认订单 - Tmall.com天猫</title>
        <script>            window.g_config = { appId: 15, toolbar: false }; g_hb_monitor_st = +new Date;</script>
    <link rel="stylesheet" href=@Url.Content("/p/c2c/header-top-min.css") />
    <link rel="stylesheet" href=@Url.Content("/sys/p4p/css/p4pthemes.css") />
    <link rel="stylesheet" href=@Url.Content("/tbra/2.0/tbsp.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    <link rel="stylesheet" href=@Url.Content("/t/buy/order/1.0.11/css/base.css") />
    <link rel="stylesheet" href=@Url.Content("/t/buy/order/1.0.11/css/core.css") />
    <link rel="stylesheet" href=@Url.Content("/t/buy/order/1.0.11/css/addr.css") />
    <link rel="stylesheet" href=@Url.Content("/t/buy/order/1.0.11/css/order.css") />
    <link rel="stylesheet" href=@Url.Content("/t/buy/order/1.0.11/css/checkbar.css") />

    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src="@Url.Content("/apps/tmall/tml/1.0/tml/tml.js")"></script>
    <script src="@Url.Content("/p/mall/base/global-v2.js")"></script>
    <script src="@Url.Content("/p/mall/base/header-v2.js")"></script>
    <script src="@Url.Content("/apps/tmall/fp/2012/core.js")"></script>
        <!-- start vmc css-extra 3.1 -->
<!-- end vmc css-extra 3.1 -->
    		            <!-- start vmc css-global 3.1-->
@*<link rel="stylesheet" href="http://a.tbcdn.cn/??p/mall/base/global-v2.css,tbra/2.0/tbsp.css,p/mall/base/header-v2.css?t=20121024.css"/>*@<!-- end vmc css-global 3.1-->
<!-- start vmc js-global 3.1 -->

        @*<script src="http://a.tbcdn.cn/??s/kissy/1.3.0/kissy-min.js,apps/tmall/tml/1.0/tml/tml-min.js,p/mall/base/global-v2.js,p/mall/base/header-v2.js,s/kissy/1.3.0/suggest-min.js?t=20121022.js"></script>*@
    <!-- end vmc js-global 3.1 -->


<script>    siteStyle = 'tm';</script>

                @*<link rel="stylesheet" href="http://a.tbcdn.cn/t/buy/order/1.0.11/css/??base.css,core.css,addr.css,order.css,checkbar.css" />*@
                <meta name="spm-id" content="a220l.1"/>
        <base target="_blank" />
    </head>
    <body><script type="text/javascript">
              (function (d) {
                  var t = d.createElement("script"); t.type = "text/javascript"; t.async = true; t.id = "tb-beacon-aplus";
                  t.setAttribute("exparams", "category=&userid=123072695&aplus&at_topshop=199351217&");
                  //t.src = ("https:" == d.location.protocol ? "https://s" : "http://a") + ".tbcdn.cn/s/aplus_v2.js";
                  t.src = "http://localhost:7525/s/aplus_v2.js";
                  d.getElementsByTagName("head")[0].appendChild(t);
              })(document);
</script>
        <!-- start vmc 3.1 -->
    @Html.Partial("_SiteNav")
    @Html.Partial("_Header")
        <div id="page">
            
            <!-- system-announce -->
<script>
    TB.use("mod~global", function () {
        if (TB && TB.Global && TB.Global.init) {
            TB.Global.init();
        }
    });
</script>

    <script>        window.g_config = window.g_config || {}; window.g_config.globalScriptTimeStamp = 20130608</script>

            <div id="content" class="tpl-order">
    <div class="flowstep" id="J_Flowstep">
                    <ol class="flowstep-4">
            <li class="step-first"><div class="step-done"><div class="step-name">拍下商品</div><div class="step-no"></div></div></li>
            <li><div class="step-name">付款到支付宝</div><div class="step-no">2</div></li>
            <li><div class="step-name">确认收货</div><div class="step-no">3</div></li>
            <li class="step-last"><div class="step-name">评价</div><div class="step-no">4</div></li>
        </ol>
         </div>
    <div id="J_addresses" class="addresses"></div>
    <form id="J_orderForm" action="order_result.htm" method="post" target="_self">
        <input type="hidden" id="F_buyParam"  name="buy_params" value='23440068628_1_26748389241'/>
<input type="hidden" id="F_cartId" name="cartIds" value=''/>
<input type="hidden" id="F_deliveryCityCode" value='0'/>
<input type="hidden" id="F_deliveryZoneCode" value='0'/>
<input type="hidden" id="F_combo" name="combo" value=''/>
<input type="hidden" id="F_mealId" name="mealId" value='' />
<input type="hidden" id="F_delCartIds" name="delCartIds" value=''/>
<input type="hidden" id="F_activity" name="activity" value=''/>
<input type="hidden" id="F_hex" name="hex" value=''/>
<input type="hidden" name="neoEtaoParam" id="F_neoEtaoParam"/>
<input type="hidden" id="F_jhsKey" name="jhs_key" value=""/>
<input type="hidden" id="F_tb_token" name="_tb_token_" value="WZYxUCPcVFkS" />
<input type="hidden" id="F_action" name="action" value="/order/confirmOrderAction" />
<input type="hidden" id="F_doConfirm" name="event_submit_do_confirm" value="1" />
<input type="hidden" id="F_secret" name="encryptString" />
<input type="hidden" id="F_cartItems" name="cart_items" />
<input type="hidden" id="F_isCod" name="use_cod" value='false' />
<input type="hidden" id="F_isCheckCode" name="isCheckCode" value="false"/>
<input type="hidden" id="F_encrypterString" name="encrypterString" />
<input type="hidden" id="F_sid" name="sid" />
<input type="hidden" id="F_time" name="gmtCreate" />
<input type="hidden" id="F_checkCodeUrl" value="http://buy.tmall.com/order/check_code.htm"/>
<input type="hidden" id="F_sourceCss" name="sourceCss" value="tmall" />
<input type="hidden" id="F_coref" name="coref" value="detail.tmall.com" />
<input type="hidden" id="F_dref" name="dref" value=''/>
<input type="hidden" id="F_deliveryId" name="deliverId" />
<input type="hidden" id="F_globalExtraParameter" name="global_extra_parameter" value="{}" />
<input type="hidden" id="F_totalFee" name="total_fee" />
<input type="hidden" name="source" value="tmall"/>
<input type="hidden" id="F_deliveryName" name="deliverName" />
<input type="hidden" id="F_deliveryMobile" name="deliverMobile" />
<input type="hidden" id="F_deliveryCode" name="deliverCode" />
<input type="hidden" id="F_deliveryAddr" name="deliverAddr" />
<input type="hidden" id="F_deliveryPostCode" name="postCode" />
<input type="hidden" id="F_lgStationId" name="lgStationId"/>
<input type="hidden" id="F_lgForwardId" name="lgForwardId"/>
<input type="hidden"  name="t" value="" />
<input type="hidden"  name="w" value="" />
<input type="hidden"  name="msid" value='' />
        <div id="J_orders"></div>
        <div id="J_checkbar" class="checkbar"></div>
        <div id="J_unvalids" class="unvalid-order"></div>
    </form>
</div>
<script>    var orderData = { "success": true, "globalData": { "h": "g,ge3telrsgqxdcnzxfy3da", "secret": "BA71DF55292AE2E9C8A19C0C1EB9CFBD712C1F3557A79F87", "time": 1370649484899, "totalPoint": 49, "isBuyNow": true, "isCod": false, "isSupportAgentPay": true, "isInstallment": true, "checkCodeData": { "encrypterString": "03f57ac34d4b57952f79e553b2c61d2b", "sid": 16719398771, "gmtCreate": 1370649484900, "needCheckCode": false }, "returnGoodsCardAmount": 3, "isShowStation": false, "supportForward": false, "neoEtaoParam": "", "canUseTmallCouponCard": true, "userLevel": 1, "isForceAnony": false, "isDurex": true }, "list": [{ "id": "38380452480", "title": "辉煌户外运动专营", "type": "shop", "url": "http://store.taobao.com/shop/view_shop.htm?user_number_id=199351217", "seller": "辉煌户外运动专营店", "host": "B", "isValid": true, "pointBuy": false, "sum": 18200, "discount": 0, "bundles": [{ "id": "38380452480", "orders": [{ "id": "38380452480_0", "itemId": "23440068628", "skuId": 26748389241, "cartId": "0", "isValid": true, "url": "http://detail.tmall.com/item.htm?id=23440068628", "pic": "http://img03.taobaocdn.com/bao/uploaded/i3/199351217/T2.GS7XgNbXXXXXXXX_!!199351217.jpg_sum.jpg", "title": "安踏正品2013夏季新品休闲运动鞋跑步鞋跑鞋男鞋子 11325559-2-4", "skus": { "颜色分类": "灰色 11325559-4 男", "鞋尺码": "41" }, "shopId": "57536260", "shopName": "辉煌户外运动专营店", "seller": "辉煌户外运动专营店", "sellerId": 199351217, "price": { "now": 18200, "origin": 0, "descend": 0, "save": 0, "sum": 18200, "actual": 0, "prepay": 0, "finalpay": 0 }, "amount": { "now": 1, "max": 16 }, "itemIcon": { "PAYMENT": [{ "title": "支持信用卡支付", "link": "", "img": "http://a.tbcdn.cn/sys/common/icon/trade/xcard.png"}], "BUY_XIAOBAO": [{ "title": "消费者保障服务，卖家承诺7天退换", "link": "http://www.taobao.com/go/act/315/xbqt090304.php?ad_id=&am_id=130011831021c2f3caab&cm_id=&pm_id=", "img": "http://a.tbcdn.cn/tbsp/icon/xiaobao/a_7-day_return_16x16.png" }, { "title": "消费者保障服务，卖家承诺如实描述", "link": "http://www.taobao.com/go/act/315/xfzbz_rsms.php?ad_id=&am_id=130011830696bce9eda3&cm_id=&pm_id=", "img": "http://a.tbcdn.cn/tbsp/icon/xiaobao/a_true_description_16x16.png" }, { "title": "消费者保障服务，卖家承诺假一赔三", "link": "http://www.taobao.com/go/act/315/xfzbz_jyps.php?ad_id=&am_id=1300118304240d56fca9&cm_id=&pm_id=", "img": "http://a.tbcdn.cn/tbsp/icon/xiaobao/an_authentic_item_16x16.png"}] }, "rootCat": 50012036, "realRootCat": 50012029, "cbopt": 0, "extraParam": ""}], "needInvoice": false, "postages": [{ "value": "-4", "fare": "1300", "postFee": "1300", "buyerPayRate": "100", "codSellerServiceFee": false, "title": "快递:13.00元", "isSelected": true, "isCod": false }, { "value": "-7", "fare": "1500", "postFee": "1500", "buyerPayRate": "100", "codSellerServiceFee": false, "title": "EMS:15.00元", "isSelected": false, "isCod": false}], "postagesStyle": "select", "codSupport": false, "insuranceList": [{ "tip": "天猫达人凭退货保障卡专享，退货运费可赔8元", "title": "天猫赠送", "value": "postageinsure_tmall_return_goods_card|1", "price": 0, "free": true, "chooseType": "text", "readonly": false, "outId": "38380452480", "options": [], "hasUseTimes": true, "initTip": "您是T1天猫达人，免费使用运费险，退货运费可补贴8元", "tmallCardSelectedTip": "已免费使用1份运费险。您是T1天猫达人，免费使用运费险，退货运费可补贴8元", "type": 1 }, { "tip": "退货所需运费由保险公司承担8元 <a href=\"http://service.taobao.com/support/knowledge-1121384.htm?spm=a210c.1.3.11.dc7fc0\">详细</a>", "title": "￥0.50购买", "value": "postageinsure_1000|3", "price": 50, "free": false, "chooseType": "text", "readonly": false, "outId": "38380452480", "options": [], "hasUseTimes": false, "serviceUrl": "http://service.taobao.com/support/knowledge-1121384.htm?spm=a210c.1.3.11.dc7fc0", "type": 3}], "point": { "usable": 18200, "obtain": 91}}]}], "addrData": { "valOptions": [{ "id": 218929730, "prov": 370000, "city": 370100, "dist": 370102, "provName": "山东", "cityName": "济南", "distName": "历下区", "post": "250000", "addr": "二环东路7366号山东财经大学燕山校区", "name": "王海川", "tele": "", "mobi": "13688628923", "isSelected": true, "isDefault": false }, { "id": 363640875, "prov": 370000, "city": 370300, "dist": 370302, "provName": "山东", "cityName": "淄博", "distName": "淄川区", "post": "255100", "addr": "般阳生活区7-1号楼", "name": "王海川", "tele": "0533-5281897", "mobi": "13688628923", "isSelected": false, "isDefault": false}]} };</script>





<script src="@Url.Content("/t/buy/order/1.0.11/app.js")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/util.js")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/model.js")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/render/common.js")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/render/core.js")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="@Url.Content("/t/buy/order/1.0.11/")"></script>
<script src="http://a.tbcdn.cn/t/buy/order/1.0.11/??app.js,util.js,model.js,render/common.js,render/core.js,render/order.js,biz/addr.js,biz/amount.js,biz/checkcode.js,biz/coupon.js,biz/go.js,biz/insure.js,biz/invoice.js,biz/mmstat.js,biz/paytype.js,biz/point.js,biz/postage.js,biz/promo.js,biz/service.js,biz/shoppromo.js,biz/wrt.js,util/counter.js,util/feedback.js,util/gracetip.js,util/inputmask.js,util/popup.js,util/select.js,init.js"></script>
<textarea id="fenqi-pic" style="display:none"><div class="fenqi-description"><img src="http://img02.taobaocdn.com/tps/i2/T1aJp2XBFcXXaeTqgS-770-75.png"/></div></textarea>

        @Html.Partial("_Footer")
<!-- foot script -->
        </div>
    </body>
</html>
