@using Friday.mvc.Models
@model MainModel
<div id="J_Category" class="category">
    <h2 class="categoryHd">
        <a>所有商品分类</a><s class="j_ExpandCat expandCat selectedCat" title="扩展视图" style="display: inline;"></s><s
            class="j_SimpleCat simpleCat" title="精简视图" style="display: inline;"></s>
    </h2>
    <div class="menu j_Menu" data-spm="3.356818.294515">
        <ul>
         
       
             @for (var Tlevel = 0; Tlevel < Model.GlobalGoodsTypeTlevelZero.Count(); Tlevel++)
             {
                 var LevelName = Model.GlobalGoodsTypeTlevelZero.ElementAt(Tlevel);
        <li class="item item2 j_MenuItem">
                <h3 class="item-hd item-hd2">
                    <s></s>@LevelName.Name   
                </h3>
                          
 

              @for (int sort = 0, index = 0; index < Model.GlobalGoodsTypeTlevelFirst.Count(); index++)
              {
                  var item = Model.GlobalGoodsTypeTlevelFirst.ElementAt(index);
                  if (item.ParentID == LevelName.Id)
                  {
                      if (sort % 5 == 0)
                      {
                          if (sort == 0)
                          {
                              @:<p class="item-col  itemCol1 ">
                            }
                          else
                          {
                               @:<b class="overlay even"></b></p>
                               @:<p class="item-col">
                            }
                      }

                      if (sort % 5 == 0)
                      {
                          if (string.IsNullOrEmpty(item.Description))
                          {
                        @:<a href="http://www.linjuzaixian.com/Merchant/SearchProduct?from=sn_1_cat-qp&amp;area_code=370100&amp;style=g&amp;sort=s&amp;q=%D0%AC&amp;n=60&amp;s=0&amp;cat=@item.Id#J_crumbs" target="_blank" class="item-col1">@Html.Encode(item.Name)</a>
                          }
                          else
                          {
                        @:<a href="http://www.linjuzaixian.com/Merchant/index?scid=@item.Description" target="_blank" class="item-col1">@Html.Encode(item.Name)</a>                       
                          }
                      }
                      else
                      {
                          if (!string.IsNullOrEmpty(item.Description))
                          {
                                 @:<a href="http://www.linjuzaixian.com/Merchant/index?scid=@item.Description" target="_blank" >@Html.Encode(item.Name)</a>                      
                       
                           }
                          else
                          {
                                @:<a href="http://www.linjuzaixian.com/Merchant/SearchProduct?from=sn_1_cat-qp&amp;area_code=370100&amp;style=g&amp;sort=s&amp;q=%D0%AC&amp;n=60&amp;s=0&amp;cat=@item.Id#J_crumbs" target="_blank" >@Html.Encode(item.Name)</a>
                        
                          }
                      }
                      sort++;
                  }
              }
                    <b class="overlay even"></b>
                 @*   </p>*@
                <s class="menuIcon"></s>
             </li>
              
            }
              
          
        </ul>
@*        <div class="menu-bottom j_BottomMenu">
            <a href="http://cz.Tmall.com/?spm=3.356818.294515.155&amp;sort=phone" target="_blank">
                <h3 class="item-hd item-hd16">
                    <s></s>手机充值/网游点卡</h3>
                <s class="menuIcon"></s></a>
        </div>*@
        <s class="menuMask"></s>
    </div>
</div>
