@using Friday.mvc.Models
@model MainModel
<div id="J_Category" class="category">
    <h2 class="categoryHd">
        <a>所有商品分类</a><s class="j_ExpandCat expandCat selectedCat" title="扩展视图" style="display: inline;"></s><s
            class="j_SimpleCat simpleCat" title="精简视图" style="display: inline;"></s>
    </h2>
    <div class="menu j_Menu" data-spm="3.356818.294515">
        <ul>
            <li class="item item1 j_MenuItem">
                <h3 class="item-hd item-hd1">
                    <s></s>租赁
                </h3>
                    @for (var index = 0; index < Model.MerchantRentCategories.Count(); index++)
                    {
                        
                            
                        if (index%5==0)
                        {
                            if (index == 0)
                            {
                              @:<p class="item-col  itemCol1 ">
                            }
                            else
                            {
                               @:<b class="overlay even"></b></p>
                               @:<p class="item-col">
                            }
                        }
                        var item = Model.MerchantRentCategories.ElementAt(index);
                        if (index % 5 == 0)
                        {
                        @:<a href="" target="_blank" class="item-col1">@Html.Encode(item.MerchantCategoryName)</a>
                        }
                        else
                        {
                         @:<a href="" target="_blank" >@Html.Encode(item.MerchantCategoryName)</a>
                        }
              
                    }
                    <b class="overlay even"></b>
                    </p>
                   
                <s class="menuIcon"></s></li>
            <li class="item item2 j_MenuItem">
                <h3 class="item-hd item-hd2">
                    <s></s>商铺
                </h3>
                @for (var index = 0; index < Model.MerchantShopCategories.Count(); index++)
                    {
                        
                            
                        if (index%5==0)
                        {
                            if (index == 0)
                            {
                              @:<p class="item-col  itemCol1 ">
                            }
                            else
                            {
                               @:<b class="overlay even"></b></p>
                               @:<p class="item-col">
                            }
                        }
                        var item = Model.MerchantShopCategories.ElementAt(index);
                        if (index % 5 == 0)
                        {
                        @:<a href="" target="_blank" class="item-col1">@Html.Encode(item.MerchantCategoryName)</a>
                        }
                        else
                        {
                         @:<a href="" target="_blank" >@Html.Encode(item.MerchantCategoryName)</a>
                        }
              
                    }
                    <b class="overlay even"></b>
                    </p>
                <s class="menuIcon"></s></li>
            <li class="item item3 j_MenuItem">
                <h3 class="item-hd item-hd3">
                    <s></s>餐馆
                </h3>
                 @for (var index = 0; index < Model.MerchantRestaurantCategories.Count(); index++)
                    {
                        
                            
                        if (index%5==0)
                        {
                            if (index == 0)
                            {
                              @:<p class="item-col  itemCol1 ">
                            }
                            else
                            {
                               @:<b class="overlay even"></b></p>
                               @:<p class="item-col">
                            }
                        }
                        var item = Model.MerchantRestaurantCategories.ElementAt(index);
                        if (index % 5 == 0)
                        {
                        @:<a href="" target="_blank" class="item-col1">@Html.Encode(item.MerchantCategoryName)</a>
                        }
                        else
                        {
                         @:<a href="" target="_blank" >@Html.Encode(item.MerchantCategoryName)</a>
                        }
              
                    }
                    <b class="overlay even"></b>
                    </p>
                <s class="menuIcon"></s></li>
        </ul>
        <div class="menu-bottom j_BottomMenu">
            <a href="http://cz.tmall.com/?spm=3.356818.294515.155&amp;sort=phone" target="_blank">
                <h3 class="item-hd item-hd16">
                    <s></s>手机充值/网游点卡</h3>
                <s class="menuIcon"></s></a>
        </div>
        <s class="menuMask"></s>
    </div>
</div>
