@{
    Layout = null;
}
@using Friday.mvc.Models
@model MainModel
@*<div class="floor-loading" id="floorLink1">
    <textarea class="floor-area ks-datalazyload">
    <div>
        <div class="floor" id="floor1" data-spm="3.359242.295813">
            <h2>
                1F 租赁<s></s></h2>
            <div class="floorTop">
                <ul class="floorTop-nav">
                    @for (var index = 0; index < (Model.MerchantRentCategories.Count() > 8 ? 8 : Model.MerchantRentCategories.Count()); index++)
                    {
                        var item = Model.MerchantRentCategories.ElementAt(index);
                        <li><a href="localhost:7525/Merchant/search?scid=@item.Id"
                        target="_blank">@item.MerchantCategoryName</a></li>
                    }
                </ul>
            </div>
            <div class="floorCon clearfix">
                <div class="floorCon-logo j_aldLogo">
                    <ul class="fCl-slide">
                        @{
                            var count = Model.Rents.Count();
                            var num_per_page = 5;
                            var page_num = Math.Ceiling(Convert.ToDouble(count / num_per_page));
                            for (var page_index = 0; page_index < page_num; page_index++)
                            {
                            <li style="display: block; float: left;">
                                @for (var item_index = page_index * num_per_page; item_index < (page_index + 1) * num_per_page; item_index++)
                                {
                                    var item = Model.Rents.ElementAt(item_index);                               
                                    <a href="localhost:7525/Merchant/search?scid=@item.Id" target="_blank" title="@Html.Encode(item.Name)">
                                        <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                    </a>
                            
                                }
                            </li>
                            }
                          
                        }
                    </ul>
                    <ul class="fCl-nav ui-slide-nav-mini">
                        @{
                            for (var i = 0; i < page_num; i++)
                            {
                            @:<li>•</li>
                            }
                            
                        }
                    </ul>
                </div>
                <div class="floorCon-slide j_SlideBanner">
                    <ul class="fCs-con" >
                            @for (var index = 0; index < (Model.Houses.Count() > 3 ? 3 : Model.Houses.Count()); index++)
                            {
                                var item = Model.Houses.ElementAt(index);
                                <li class="ks-switchable-panel-internal219"><a href="localhost:7525/Merchant/search?scid=@item.Id" target="_blank" title="@item.Name">
                                <img src="@item.Image"></a></li>
                            }
                    </ul>
                    <ul class="fCs-nav fCs-nav-num3">

                            @for (var index = 0; index < (Model.Houses.Count() > 3 ? 3 : Model.Houses.Count()); index++)
                            {
                                var classBeforeFormat = "fCs-nav{0} ks-switchable-trigger-internal203";
                                var classAfterFormat = string.Format(classBeforeFormat, index+1);

                                var item = Model.Houses.ElementAt(index);
                                <li class="@Html.Raw(classAfterFormat)"><a href="http://list.tmall.com?id=@item.Id"
                                    target="_blank" title="@item.Name">@item.Name</a><s></s></li>
                            }
                    </ul>
                </div>
                            @for (var index = 3; index < (Model.Houses.Count() > 5 ? 5 : Model.Houses.Count()); index++)
                            {
                                var item = Model.Houses.ElementAt(index);
                                <a href="http://list.tmall.com?id=@item.Id"
                            class="floorCon-banner j_floorBanner" title="@item.Name" target="_blank">
                            <img src="@item.Image"></a>
                            }
                </a>
                <div class="floorCon-img j_HoverImg">
                    <div class="floorPro">
                        <p class="floorPro-list">
                            <em>美容护肤</em> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.17&amp;start_price=&amp;end_price=&amp;post_fee=-1&amp;zk_type=0&amp;search_condition=16&amp;cat=50031571&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                                target="_blank" title="唇膏">唇膏</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.18&amp;cat=50029232&amp;acm=08223.1003.1.50029232_6&amp;scm=1003.3.08223.1"
                                    target="_blank" title="乳霜">乳霜</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.19&amp;cat=50031562&amp;acm=08227.1003.1.50031562_6&amp;scm=1003.3.08227.1"
                                        target="_blank" title="粉底液">粉底液</a>
                        </p>
                        <a class="floorPro-img" href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.20&amp;cat=50031544&amp;acm=08223.1003.1.50031544_6&amp;scm=1003.3.08223.1"
                            title="面部精华" target="_blank">
                            <img src="http://img03.taobaocdn.com/tps/i3/T1kWVAXydeXXXMNuYv-150-150.jpg_q90.jpg"
                                width="150" height="150" alt="面部精华">
                            <p class="imgame">
                                面部精华</p>
                            <p class="imgTitle">
                                传颂27的瓶中神话</p>
                        </a>
                    </div>
                    <div class="floorPro">
                        <p class="floorPro-list">
                            <em>珠宝饰品</em> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.21&amp;active=1&amp;from=sn_1_cat&amp;area_code=310000&amp;search_condition=23&amp;vmarket=0&amp;style=g&amp;sort=s&amp;start_price=500&amp;prop=20088:21073&amp;n=60&amp;s=0&amp;cat=50026463#J_crumbs"
                                target="_blank" title="天然水晶手链">天然水晶手链</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.22&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;search_condition=23&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50026478#J_crumbs"
                                    target="_blank" title="铂金-永不褪色">铂金-永不褪色</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.23&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;search_condition=7&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50041286#J_crumbs"
                                        target="_blank" title="瑞士军刀">瑞士军刀</a>
                        </p>
                        <a class="floorPro-img" href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.24&amp;active=1&amp;from=sn_1_prop&amp;area_code=330100&amp;search_condition=23&amp;vmarket=0&amp;style=g&amp;sort=s&amp;prop=33448:118432&amp;n=60&amp;s=0&amp;cat=50094058#J_crumbs"
                            title="蛇年大吉" target="_blank">
                            <img src="http://img04.taobaocdn.com/tps/i4/T1_FNnXB4cXXXMNuYv-150-150.jpg_q90.jpg"
                                width="150" height="150" alt="蛇年大吉">
                            <p class="imgame">
                                蛇年大吉</p>
                            <p class="imgTitle">
                                黄金配饰，旺运整年！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        KISSY.use('2012/mods/floor', function (S, F) {
            new F('#floor1')
        })
</script>
</textarea>
</div>*@
@for (var goodsTypeId = 0; goodsTypeId < Model.GlobalGoodsTypeTlevelZero.Count; goodsTypeId++)
{
    var goodsType = Model.GlobalGoodsTypeTlevelZero.ElementAt(goodsTypeId);
    var commodities = Model.CommoditiesSearchByGoodsType.ElementAt(goodsTypeId);
<div class="floor-loading" id="floorLink@(goodsTypeId+1)">
    <textarea class="floor-area ks-datalazyload">
    <div>
        <div class="floor" id="floor@(goodsTypeId+1)" >
            <h2>
                @goodsType.Name  </h2>
            <div class="floorTop">
                <ul class="floorTop-nav">
                     @for (int index = 0; index < Model.GlobalGoodsTypeTlevelFirst.Count(); index++)
                     {
                         var item = Model.GlobalGoodsTypeTlevelFirst.ElementAt(index);
                         if (item.ParentID == goodsType.Id)
                         {
                            <li><a href="http://localhost:7525/Merchant/Detail?brandId=@item.Id"
                                 target="_blank">@item.Name</a></li>
                         }

                     }
@*                    @for (var index = 0; index < (Model.MerchantShopCategories.Count() > 10 ? 10 : Model.MerchantShopCategories.Count()); index++)
                    {
                        var item = Model.MerchantShopCategories.ElementAt(index);
                        <li><a href="http://localhost:7525/Merchant/Detail?brandId=@item.Id"
                        target="_blank">@item.MerchantCategoryName</a></li>
                    }*@
                </ul>
            </div>
            <div class="floorCon clearfix">
                <div class="floorCon-logo j_aldLogo">
                    <ul class="fCl-slide">
                        @{
                    var count = Model.Shops.Count();
                    var num_per_page = 5;
                    var page_num = Math.Ceiling(Convert.ToDouble(count / num_per_page));
                    for (var page_index = 0; page_index < page_num; page_index++)
                    {
                            <li style="display: block; float: left;">
                                @for (var item_index = page_index * num_per_page; item_index < (page_index + 1) * num_per_page; item_index++)
                                {
                                    var item = Model.Shops.ElementAt(item_index);                               
                                    <a href="localhost:7525/Merchant/search?scid=@item.Id" target="_blank" title="@Html.Encode(item.Name)">
                                        <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                    </a>
                            
                                }
                            </li>
                    }
                          
                        }
                    </ul>
                    <ul class="fCl-nav ui-slide-nav-mini">
                        @{
                    for (var i = 0; i < page_num; i++)
                    {
                            @:<li>•</li>
                            }
                            
                        }
                    </ul>
                </div>
                <div class="floorCon-tab">
                    <div class="fCt-con">
                        <div class="floorCon-slide j_SlideBanner">
                    <ul class="fCs-con" >
                            @for (var index = 0; index < (commodities.Count() > 3 ? 3 : commodities.Count()); index++)
                            {
                                var item = commodities.ElementAt(index);
                                <li class="ks-switchable-panel-internal219"><a href="http://localhost:7525/Merchant/Detail?brandId=@item.Id" target="_blank" title="@item.Name">
                                <img alt="@item.Name" src="@item.Image"/></a></li>
                            }
                    </ul>
                            <ul class="fCs-nav fCs-nav-even fCs-nav-num3">
                            
                            @for (var index = 0; index < (commodities.Count() > 3 ? 3 : commodities.Count()); index++)
                            {
                                var classBeforeFormat = "fCs-nav{0} ks-switchable-trigger-internal203";
                                var classAfterFormat = string.Format(classBeforeFormat, index + 1);

                                var item = commodities.ElementAt(index);
                                <li class="@Html.Raw(classAfterFormat)"><a href="http://localhost:7525/Merchant/Detail?brandId=@item.Id"
                                    target="_blank" title="@item.Name">@item.Name</a><s></s></li>
                            }
                            </ul>
                        </div>
                            
                            @for (var index = 3; index < (commodities.Count() > 6 ? 6 : commodities.Count()); index++)
                            {
                                var item = commodities.ElementAt(index);
                                <a href="http://localhost:7525/Merchant/Detail?brandId=@item.Id"
                            class="floorCon-banner j_floorBanner" title="@item.Name" target="_blank">
                            <img alt="@item.Name" src="@item.Image"/></a>
                            }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        KISSY.use('2012/mods/floor', function (S, F) {
            new F('#floor@(goodsTypeId + 1)')
        })
</script>
 </textarea>
</div>
    
}
@*<div class="floor-loading" id="floorLink3">
    <textarea class="floor-area ks-datalazyload">
    <div>
        <div class="floor" id="floor3" data-spm="3.359254.295828">
            <h2>
                3F 美食<s></s></h2>
            <div class="floorTop">
                <ul class="floorTop-nav">
                    @for (var index = 0; index < (Model.MerchantRestaurantCategories.Count() > 10 ? 10 : Model.MerchantRestaurantCategories.Count()); index++)
                    {
                        var item = Model.MerchantRestaurantCategories.ElementAt(index);
                        <li><a href="localhost:7525/Merchant/search?scid=@item.Id"
                        target="_blank">@item.MerchantCategoryName</a></li>
                    }
                </ul>
            </div>
            <div class="floorCon clearfix">
                <div class="floorCon-logo j_aldLogo">
                    <ul class="fCl-slide">
                        @{
                            count = Model.Restaurants.Count();
                            num_per_page = 5;
                            page_num = Math.Ceiling(Convert.ToDouble(count / num_per_page));
                            for (var page_index = 0; page_index < page_num; page_index++)
                            {
                            <li style="display: block; float: left;">
                                @for (var item_index = page_index * num_per_page; item_index < (page_index + 1) * num_per_page; item_index++)
                                {
                                    var item = Model.Restaurants.ElementAt(item_index);                               
                                    <a href="localhost:7525/Merchant/search?scid=@item.Id" target="_blank" title="@Html.Encode(item.Name)">
                                        <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                    </a>
                            
                                }
                            </li>
                            }
                          
                        }
                    </ul>
                    <ul class="fCl-nav ui-slide-nav-mini">
                        @{
                            for (var i = 0; i < page_num; i++)
                            {
                            @:<li>•</li>
                            }
                            
                        }
                    </ul>
                </div>
                <div class="floorCon-slide j_SlideBanner">
                    <ul class="fCs-con" >
                            @for (var index = 0; index < (Model.Foods.Count() > 3 ? 3 : Model.Foods.Count()); index++)
                            {
                                var item = Model.Foods.ElementAt(index);
                                <li class="ks-switchable-panel-internal219"><a href="http://list.tmall.com?id=@item.Id" target="_blank" title="@item.Name">
                                <img src="@item.Image"></a></li>
                            }
                    </ul>
                    <ul class="fCs-nav fCs-nav-num3">
                            @for (var index = 0; index < (Model.Foods.Count() > 3 ? 3 : Model.Foods.Count()); index++)
                            {
                                var classBeforeFormat = "fCs-nav{0} ks-switchable-trigger-internal203";
                                var classAfterFormat = string.Format(classBeforeFormat, index+1);

                                var item = Model.Foods.ElementAt(index);
                                <li class="@Html.Raw(classAfterFormat)"><a href="http://list.tmall.com?id=@item.Id"
                                    target="_blank" title="@item.Name">@item.Name</a><s></s></li>
                            }
                    </ul>
                </div>
                            @for (var index = 3; index < (Model.Foods.Count() > 6 ? 6 : Model.Foods.Count()); index++)
                            {
                                var item = Model.Foods.ElementAt(index);
                                <a href="http://list.tmall.com?id=@item.Id"
                            class="floorCon-banner j_floorBanner" title="@item.Name" target="_blank">
                            <img src="@item.Image"></a>
                            }
            </div>
        </div>
    </div>
    <script>
        KISSY.use('2012/mods/floor', function (S, F) {
            new F('#floor3')
        })
</script>
 </textarea>
</div>*@ 