@{
    Layout = null;
}
@using Friday.mvc.Models
@model MainModel
<div class="floor-loading" id="floorLink1">
    <div>
        <div class="floor" id="floor1" data-spm="3.359242.295813">
            <h2>
                1F 租赁<s></s></h2>
            <div class="floorTop">
                <ul class="floorTop-nav">
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.1&amp;cat=50031564&amp;acm=08227.1003.1.50031564_6&amp;scm=1003.3.08227.1"
                        target="_blank">BB霜</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.2&amp;active=1&amp;from=sn_1_rightnav&amp;area_code=330100&amp;search_condition=7&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50043479"
                        target="_blank">洗护</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.3&amp;active=1&amp;area_code=330100&amp;vmarket=0&amp;wwonline=1&amp;style=g&amp;sort=s&amp;start_price=20&amp;n=60&amp;s=0&amp;cat=50026506"
                        target="_blank">男士</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.4&amp;cat=50031575&amp;acm=08227.1003.1.50031575_6&amp;scm=1003.3.08227.1"
                        target="_blank">隔离</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.5&amp;start_price=&amp;end_price=&amp;post_fee=-1&amp;zk_type=0&amp;search_condition=19&amp;cat=50029231&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q="
                        target="_blank">面膜</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.6&amp;cat=50031563&amp;acm=08227.1003.1.50031563_6&amp;scm=1003.3.08227.1"
                        target="_blank">睫毛膏</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.7&amp;from=sn_1_prop-qp&amp;area_code=330100&amp;style=g&amp;sort=s&amp;prop=33510:31533293&amp;q=%D7%E3%BD%F0&amp;n=60&amp;s=0&amp;cat=50094058#J_crumbs"
                        target="_blank">黄金</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.8&amp;start_price=29&amp;end_price=&amp;search_condition=16&amp;cat=50041309&amp;sort=s&amp;style=g&amp;vmarket=0&amp;q=%C3%AB%D2%C2%C1%B4"
                        target="_blank">毛衣链</a></li>
                </ul>
            </div>
            <div class="floorCon clearfix">
                <div class="floorCon-logo j_aldLogo">
                    <ul class="fCl-slide" style="position: absolute; width: 999999px;">
                       
                            @{
                                var count = Model.Rents.Count();
                                var num_per_page=5;
                                var page_num = Math.Ceiling(Convert.ToDouble(count / num_per_page));
                                for (var page_index = 0; page_index < page_num; page_index++)
                                {
                                    <li style="display: block; float: left;">
                                    @for( var item_index=page_index*num_per_page;item_index<(page_index+1)*num_per_page;item_index++)
                                    {
                                        var item = Model.Rents.ElementAt(item_index);                               
                                        <a href="" target="_blank" title="@Html.Encode(item.Name)">
                                            <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                         </a>
                            
                                    }
                                    </li>
                                }
                          
                            }                             

                    </ul>
                    <ul class="fCl-nav ui-slide-nav-mini">
                        @{
                            for(var i=0;i<page_num;i++)
                            {
                                @:<li>•</li>
                            }
                            
                        }
                    </ul>
                </div>
                <div class="floorCon-slide j_SlideBanner">
                    <ul class="fCs-con" style="position: absolute; width: 999999px; left: -400px;">
                        <li class="ks-switchable-panel-internal204" style="display: block; float: left;"><a
                            href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.9&amp;cat=50029230&amp;acm=08223.1003.1.50029230_6&amp;scm=1003.3.08223.1"
                            target="_blank" title="肌肤细滑紧致的美感">
                            <img src="http://img01.taobaocdn.com/tps/i1/T11LdBXqtaXXad1GY4-200-320.jpg_q90.jpg"
                                width="200" height="320" alt="肌肤细滑紧致的美感"></a></li>
                        <li class="ks-switchable-panel-internal204" style="display: block; float: left;"><a
                            href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.10&amp;start_price=&amp;end_price=&amp;post_fee=-1&amp;zk_type=0&amp;search_condition=16&amp;cat=50103163&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                            target="_blank" title="爱自己的女人更美丽">
                            <img width="200" height="320" alt="爱自己的女人更美丽" src="http://img03.taobaocdn.com/tps/i3/T1UJtBXuBbXXad1GY4-200-320.jpg_q90.jpg"></a></li>
                        <li class="ks-switchable-panel-internal204" style="display: block; float: left;"><a
                            href="http://www.tmall.com/go/act/sale/sanba2013.php?spm=3.359242.295813.11&amp;ad_id=&amp;am_id=1301048823679b00c3b1&amp;cm_id=&amp;pm_id#f4"
                            target="_blank" title="最华丽女人节6折起！">
                            <img width="200" height="320" alt="最华丽女人节6折起！" src="http://img02.taobaocdn.com/tps/i2/T1cBNxXq4gXXad1GY4-200-320.jpg_q90.jpg"></a></li>
                    </ul>
                    <ul class="fCs-nav fCs-nav-num3">
                        <li class="fCs-nav1 ks-switchable-trigger-internal203" style="left: 220px;"><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.12&amp;cat=50029230&amp;acm=08223.1003.1.50029230_6&amp;scm=1003.3.08223.1"
                            target="_blank" title="肌肤细滑紧致的美感">肌肤细滑紧致的美感</a><s></s></li>
                        <li class="fCs-nav2 ks-switchable-trigger-internal203" style="left: 220px;"><a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.13&amp;start_price=&amp;end_price=&amp;post_fee=-1&amp;zk_type=0&amp;search_condition=16&amp;cat=50103163&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                            target="_blank" title="爱自己的女人更美丽">爱自己的女人更美丽</a><s></s></li>
                        <li class="fCs-nav3 ks-switchable-trigger-internal203 active" style="left: 220px;"><a
                            href="http://www.tmall.com/go/act/sale/sanba2013.php?spm=3.359242.295813.14&amp;ad_id=&amp;am_id=1301048823679b00c3b1&amp;cm_id=&amp;pm_id#f4"
                            target="_blank" title="最华丽女人节6折起！">最华丽女人节6折起！</a><s></s></li>
                    </ul>
                </div>
                <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.15&amp;active=1&amp;from=sn_1_rightnav&amp;area_code=310000&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50026393"
                    class="floorCon-banner j_floorBanner" title="香水" target="_blank">
                    <img src="http://img04.taobaocdn.com/tps/i4/T12fJBXuhfXXXHoWL4-200-300.jpg_q90.jpg"
                        width="200" height="300" alt="香水">
                </a><a href="http://www.tmall.com/go/act/sale/zhenzhu.php?spm=3.359242.295813.16&amp;ad_id=&amp;am_id=1301049307fd26dd4952&amp;cm_id=&amp;pm_id="
                    class="floorCon-banner j_floorBanner" title="3.8女人节珍珠专题" target="_blank">
                    <img src="http://img04.taobaocdn.com/tps/i4/T1V2luXq0fXXXHoWL4-200-300.jpg_q90.jpg"
                        width="200" height="300" alt="3.8女人节珍珠专题">
                </a>
                <div class="floorCon-img j_HoverImg">
                    <div class="floorPro">
                        <p class="floorPro-list">
                            <em>美容护肤</em> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.17&amp;start_price=&amp;end_price=&amp;post_fee=-1&amp;zk_type=0&amp;search_condition=16&amp;cat=50031571&amp;sort=s&amp;style=g&amp;vmarket=0&amp;active=1&amp;q="
                                target="_blank" title="唇膏">唇膏</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.18&amp;cat=50029232&amp;acm=08223.1003.1.50029232_6&amp;scm=1003.3.08223.1"
                                    target="_blank" title="乳霜">乳霜</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.19&amp;cat=50031562&amp;acm=08227.1003.1.50031562_6&amp;scm=1003.3.08227.1"
                                        target="_blank" title="粉底液">粉底液</a>
                        </p>
                        <a class="floorPro-img" href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.20&amp;cat=50031544&amp;acm=08223.1003.1.50031544_6&amp;scm=1003.3.08223.1"
                            title="面部精华" target="_blank">
                            <img src="http://img03.taobaocdn.com/tps/i3/T1kWVAXydeXXXMNuYv-150-150.jpg_q90.jpg"
                                width="150" height="150" alt="面部精华">
                            <p class="imgame">
                                面部精华</p>
                            <p class="imgTitle">
                                传颂27的瓶中神话</p>
                        </a>
                    </div>
                    <div class="floorPro">
                        <p class="floorPro-list">
                            <em>珠宝饰品</em> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.21&amp;active=1&amp;from=sn_1_cat&amp;area_code=310000&amp;search_condition=23&amp;vmarket=0&amp;style=g&amp;sort=s&amp;start_price=500&amp;prop=20088:21073&amp;n=60&amp;s=0&amp;cat=50026463#J_crumbs"
                                target="_blank" title="天然水晶手链">天然水晶手链</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.22&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;search_condition=23&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50026478#J_crumbs"
                                    target="_blank" title="铂金-永不褪色">铂金-永不褪色</a> <a href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.23&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;search_condition=7&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50041286#J_crumbs"
                                        target="_blank" title="瑞士军刀">瑞士军刀</a>
                        </p>
                        <a class="floorPro-img" href="http://list.tmall.com/search_product.htm?spm=3.359242.295813.24&amp;active=1&amp;from=sn_1_prop&amp;area_code=330100&amp;search_condition=23&amp;vmarket=0&amp;style=g&amp;sort=s&amp;prop=33448:118432&amp;n=60&amp;s=0&amp;cat=50094058#J_crumbs"
                            title="蛇年大吉" target="_blank">
                            <img src="http://img04.taobaocdn.com/tps/i4/T1_FNnXB4cXXXMNuYv-150-150.jpg_q90.jpg"
                                width="150" height="150" alt="蛇年大吉">
                            <p class="imgame">
                                蛇年大吉</p>
                            <p class="imgTitle">
                                黄金配饰，旺运整年！</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    KISSY.use('2012/mods/floor', function (S, F) {
        new F('#floor1')
    })
</script>
<div class="floor-loading" id="floorLink2">
    <div>
        <div class="floor" id="floor2" data-spm="3.359253.295827">
            <h2>
                2F 商铺<s></s></h2>
            <div class="floorTop">
                <ul class="floorTop-nav">
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.1&amp;cat=50025145&amp;scm=1003.5.08193.0&amp;acm=1241.1026.0.2065.50025145_8"
                        target="_blank">连衣裙</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.2&amp;cat=50025783&amp;scm=1003.5.08193.0&amp;acm=1241.1026.0.2065.50025783_8"
                        target="_blank">针织衫</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.3&amp;acm=1241.1026.0.2065.50025263_8&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;search_condition=31&amp;vmarket=0&amp;zk_type=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50025263#J_crumbs"
                        target="_blank">小西装</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.4&amp;active=1&amp;from=sn_1_cat&amp;area_code=330100&amp;pic_detail=1&amp;vmarket=0&amp;style=g&amp;sort=s&amp;n=60&amp;s=0&amp;cat=50029627#J_crumbs"
                        target="_blank">T恤</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.5&amp;active=1&amp;from=sn_1_cat&amp;area_code=310000&amp;pic_detail=1&amp;search_condition=23&amp;vmarket=0&amp;zk_type=0&amp;style=g&amp;sort=d&amp;start_price=120&amp;n=60&amp;s=0&amp;cat=50037921#J_Filter"
                        target="_blank">衬衫</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.6&amp;start_price=120&amp;end_price=&amp;zk_type=0&amp;pic_detail=1&amp;search_condition=23&amp;cat=50026245&amp;sort=d&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q="
                        target="_blank">牛仔裤</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.7&amp;start_price=150&amp;end_price=&amp;zk_type=0&amp;pic_detail=1&amp;search_condition=23&amp;cat=50026329&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q="
                        target="_blank">夹克</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.8&amp;start_price=150&amp;end_price=&amp;zk_type=0&amp;pic_detail=1&amp;search_condition=23&amp;cat=50095659&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q="
                        target="_blank">文胸</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.9&amp;area_code=310000&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_cat&amp;active=1&amp;q=&amp;cat=50095660&amp;brand=&amp;prop=2098004%3A29937%2C29457&amp;search_condition=23"
                        target="_blank">睡衣</a></li>
                    <li><a href="http://list.tmall.com/search_product.htm?spm=3.359253.295827.10&amp;start_price=&amp;end_price=&amp;zk_type=0&amp;pic_detail=1&amp;search_condition=23&amp;cat=50026190&amp;sort=s&amp;style=g&amp;vmarket=0&amp;from=sn_1_rightnav&amp;active=1&amp;q="
                        target="_blank">内裤</a></li>
                </ul>
            </div>
            <div class="floorCon clearfix">
                <div class="floorCon-logo j_aldLogo">
                    <ul class="fCl-slide" style="position: absolute; width: 999999px; left: -240px;">
                        @{
                                count = Model.Shops.Count();
                                num_per_page=5;
                                page_num = Math.Ceiling(Convert.ToDouble(count / num_per_page));
                                for (var page_index = 0; page_index < page_num; page_index++)
                                {
                                    <li style="display: block; float: left;">
                                    @for( var item_index=page_index*num_per_page;item_index<(page_index+1)*num_per_page;item_index++)
                                    {
                                        var item = Model.Shops.ElementAt(item_index);                               
                                        <a href="" target="_blank" title="@Html.Encode(item.Name)">
                                            <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                         </a>
                            
                                    }
                                    </li>
                                }
                          
                            }          
                    </ul>
                    <ul class="fCl-nav ui-slide-nav-mini">
                        @{
                            for(var i=0;i<page_num;i++)
                            {
                                @:<li>•</li>
                            }
                            
                        }
                    </ul>
                </div>
                <div class="floorCon-tab">
                    <div class="fCt-con">
                        <div class="floorCon-slide j_SlideBanner">
                            <ul class="fCs-con" style="position: absolute; width: 999999px;">
                                <li class="ks-switchable-panel-internal219" style="display: block; float: left;"><a
                                    href="http://www.tmall.com/go/act/sale/fushizu2.php?spm=3.359253.295827.11&amp;ad_id=&amp;am_id=1301048678de32d59649&amp;cm_id=&amp;pm_id="
                                    target="_blank" title="疯狂周末购 5折封顶">
                                    <img src="http://img01.taobaocdn.com/tps/i1/T1nupfXBNfXXad1GY4-200-320.jpg_q90.jpg"
                                        width="200" height="320" alt="疯狂周末购 5折封顶"></a></li>
                                <li class="ks-switchable-panel-internal219" style="display: block; float: left;"><a
                                    href="http://www.tmall.com/go/act/sale/popupmall.php?spm=3.359253.295827.12&amp;ad_id=&amp;am_id=1301048564db4d3c90d8&amp;cm_id=&amp;pm_id"
                                    target="_blank" title="一周精选 优质店铺">
                                    <img data-ks-lazyload-custom="http://img02.taobaocdn.com/tps/i2/T14LNBXv4eXXad1GY4-200-320.jpg_q90.jpg"
                                        width="200" height="320" alt="一周精选 优质店铺"></a></li>
                                <li class="ks-switchable-panel-internal219" style="display: block; float: left;"><a
                                    href="http://subject.tmall.com/subject/subject.htm?spm=3.359253.295827.13&amp;id=2759"
                                    target="_blank" title="潮男春季时尚穿搭">
                                    <img data-ks-lazyload-custom="http://img01.taobaocdn.com/tps/i1/T1OnhvXs4aXXad1GY4-200-320.jpg_q90.jpg"
                                        width="200" height="320" alt="潮男春季时尚穿搭"></a></li>
                            </ul>
                            <ul class="fCs-nav fCs-nav-even fCs-nav-num3">
                                <li class="active fCs-nav1 ks-switchable-trigger-internal218" style="left: 220px;"><a
                                    href="http://www.tmall.com/go/act/sale/fushizu2.php?spm=3.359253.295827.14&amp;ad_id=&amp;am_id=1301048678de32d59649&amp;cm_id=&amp;pm_id="
                                    target="_blank" title="疯狂周末购 5折封顶">疯狂周末购 5折封顶</a><s></s></li>
                                <li class="fCs-nav2 ks-switchable-trigger-internal218" style="left: 220px;"><a href="http://www.tmall.com/go/act/sale/popupmall.php?spm=3.359253.295827.15&amp;ad_id=&amp;am_id=1301048564db4d3c90d8&amp;cm_id=&amp;pm_id"
                                    target="_blank" title="一周精选 优质店铺">一周精选 优质店铺</a><s></s></li>
                                <li class="fCs-nav3 ks-switchable-trigger-internal218" style="left: 220px;"><a href="http://subject.tmall.com/subject/subject.htm?spm=3.359253.295827.16&amp;id=2759"
                                    target="_blank" title="潮男春季时尚穿搭">潮男春季时尚穿搭</a><s></s></li>
                            </ul>
                        </div>
                        <a href="http://www.tmall.com/go/act/sale/fushizu.php?spm=3.359253.295827.17&amp;scm=1005.10.1.3933&amp;showtab=first&amp;ad_id=&amp;am_id=130104797952f0ee0d9d&amp;cm_id=&amp;pm_id="
                            class="floorCon-banner j_floorBanner" title="女装" target="_blank">
                            <img src="http://img03.taobaocdn.com/tps/i3/T1WjxnXu0jXXXHoWL4-200-300.jpg_q90.jpg"
                                width="200" height="300" alt="女装">
                        </a><a href="http://www.tmall.com/go/act/discount/zcxszmcx.php?spm=3.359253.295827.18&amp;ad_id=&amp;am_id=&amp;cm_id=140021970172b04f949d&amp;pm_id"
                            class="floorCon-banner j_floorBanner" title="男装" target="_blank">
                            <img src="http://img01.taobaocdn.com/tps/i1/T1NbpCXBFeXXXHoWL4-200-300.jpg_q90.jpg"
                                width="200" height="300" alt="男装">
                        </a><a href="http://subject.tmall.com/subject/subject.htm?spm=3.359253.295827.19&amp;id=3458"
                            class="floorCon-banner j_floorBanner" title="内衣" target="_blank">
                            <img src="http://img01.taobaocdn.com/tps/i1/T1PBRBXqRfXXXHoWL4-200-300.jpg_q90.jpg"
                                width="200" height="300" alt="内衣">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    KISSY.use('2012/mods/floor', function (S, F) {
        new F('#floor2')
    })
</script>
