@{
    Layout = null;
}
@using Friday.mvc.Models
@model MainModel

@for (var goodsTypeId = 0; goodsTypeId < Model.GlobalGoodsTypeTlevelZero.Count; goodsTypeId++)
{
    var goodsType = Model.GlobalGoodsTypeTlevelZero.ElementAt(goodsTypeId);
    var commodities = Model.CommoditiesSearchByGoodsType.ElementAt(goodsTypeId);
    var shops = Model.Shops.ElementAt(goodsTypeId);
    <div class="floor-loading" id="floorLink@(goodsTypeId + 1)">
        <textarea class="floor-area ks-datalazyload">
    <div>
        <div class="floor" id="floor@(goodsTypeId + 1)" >
            <h2>
                @goodsType.Name  </h2>
            <div class="floorTop">
                <ul class="floorTop-nav">
                     @for (int index = 0; index < Model.GlobalGoodsTypeTlevelFirst.Count(); index++)
                     {
                         var item = Model.GlobalGoodsTypeTlevelFirst.ElementAt(index);
                         if (item.ParentID == goodsType.Id)
                         {
                             if (string.IsNullOrEmpty(item.Description))
                             {
                            <li><a href="http://www.linjuzaixian.com/Merchant/SearchProduct?cat=@item.Id"
                                 target="_blank">@item.Name</a></li>
                             }
                             else
                             {
                                 <li><a href="http://www.linjuzaixian.com/Merchant/index?scid=@item.Description" target="_blank">@item.Name</a></li>
                             }
                             
                         
                         }

                     }
                </ul>
            </div>
            <div class="floorCon clearfix">
                <div class="floorCon-logo j_aldLogo">
                    <ul class="fCl-slide">
                        @{
                     var count = shops.Count();
                     var num_per_page = 5;
                     var page_num = Math.Ceiling(Convert.ToDouble(count / num_per_page));
                     for (var page_index = 0; page_index < page_num; page_index++)
                     {
                            <li style="display: block; float: left;">
                                @for (var item_index = page_index * num_per_page; item_index < (page_index + 1) * num_per_page; item_index++)
                                {
                                    var item = shops.ElementAt(item_index);                               
                                    <a href="http://www.linjuzaixian.com/Merchant/index?scid=@item.Id" target="_blank" title="@Html.Encode(item.Name)">
                                        <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                    </a>
                            
                                }
                            </li>
                     }
                     if (Convert.ToInt16(page_num) == 0 && count != 0)
                     {
                                    <li style="display: block; float:right;">
                                @for (var item_index = 0; item_index < count; item_index++)
                                {
                                    var item = shops.ElementAt(item_index);                               
                                    <a href="http://www.linjuzaixian.com/Merchant/index?scid=@item.Id" target="_blank" title="@Html.Encode(item.Name)">
                                        <img width="90" height="45" alt="@Html.Encode(item.Name)" data-src="@Html.Encode(item.Logo)">
                                    </a>
                            
                                }
                            </li>
                     }
                        }
                    </ul>
                    <ul class="fCl-nav ui-slide-nav-mini">
                        @{
                     for (var i = 0; i < page_num; i++)
                     {
                            @:<li>•</li>
                            }
                     if (Convert.ToInt16(page_num) == 0 && count != 0)
                     {
                            @:<li>•</li>
                        }
                        }
                    </ul>
                </div>
                <div class="floorCon-tab">
                    <div class="fCt-con">
                        <div class="floorCon-slide j_SlideBanner">
                    <ul class="fCs-con" >
                            @for (var index = 0; index < (commodities.Count() > 3 ? 3 : commodities.Count()); index++)
                            {
                                var item = commodities.ElementAt(index);
                                <li class="ks-switchable-panel-internal219"><a style="height:200px;width:200px" href="http://www.linjuzaixian.com/Merchant/Detail?brandId=@item.Id" target="_blank" title="@item.Name">
                                <img alt="@item.Name" src="@(item.Image + "_200x300.jpg")"/></a></li>
                            }
                    </ul>
                            <ul class="fCs-nav fCs-nav-even fCs-nav-num3">
                            
                            @for (var index = 0; index < (commodities.Count() > 3 ? 3 : commodities.Count()); index++)
                            {
                                var classBeforeFormat = "fCs-nav{0} ks-switchable-trigger-internal203";
                                var classAfterFormat = string.Format(classBeforeFormat, index + 1);

                                var item = commodities.ElementAt(index);
                                <li class="@Html.Raw(classAfterFormat)"><a href="http://www.linjuzaixian.com/Merchant/Detail?brandId=@item.Id"
                                    target="_blank" title="@item.Name">@item.Name</a><s></s></li>
                            }
                            </ul>
                        </div>
                            
                            @for (var index = 3; index < (commodities.Count() > 6 ? 6 : commodities.Count()); index++)
                            {
                                var item = commodities.ElementAt(index);
                                <a href="http://www.linjuzaixian.com/Merchant/Detail?brandId=@item.Id"
                            class="floorCon-banner j_floorBanner" title="@item.Name" target="_blank">
                            <img alt="@item.Name" src="@(item.Image + "_200x300.jpg")"/></a>
                            }

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        KISSY.use('2012/mods/floor', function (S, F) {
            new F('#floor@(goodsTypeId + 1)')
        })
</script>
 </textarea>
    </div>
    
}
