@{
    Layout = null;
}
@using Friday.mvc.Models
@model IndexModel

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@Model.SingleMerchant.Name 官方旗舰店</title>

    <script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src=@Url.Content("/p/mall/base/global-v2.js")></script>
    <script src=@Url.Content("/apps/tmall/fp/2012/core.js")></script>

 @*   <script src="@Url.Content("/apps/tmallbuy/razer/mini/core.js")"></script>*@
    <script src=@Url.Content("/apps/tmall/common/bottombar.js")></script>
@*    <script src=@Url.Content("/p/header/adapter-min.js")></script>*@
    <script src=@Url.Content("/apps/department/common/brandbar.js")></script>
@*    <script src=@Url.Content("/apps/matrix-mission/feedback/feedback.js")></script>*@
    <script src=@Url.Content("/apps/tmall/common/tgallery.js")></script>
    <script src=@Url.Content("/p/tstart/1.0/build/tb-mpp-min.js")></script>
    <script src=@Url.Content("/p/tlabs/1.0.0/tlabs-min.js")></script>
@*    <script src=@Url.Content("/p/header/webww.js")></script>*@
    <script src=@Url.Content("/s/tb-tracer.js")></script>
    <script src=@Url.Content("/apps/lz/hc.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/base-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/c2c-head-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/page-banner-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/shopinsearch-head-min.js")></script>

     <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/customer-service-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/search-list-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/top-list-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/self-defined-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/recharge-center-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/mods/official/recharge-alimama-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/decoration/init-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/decoration/compatible-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/decoration/countdown-min.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/decoration/isv.js")></script>
    <script src=@Url.Content("/p/shop/3.0/wangpu/init.js")></script>
    <script src=@Url.Content("/apps/taesite/platinum/scripts/wangpu/decoration/shopmonitor.js")></script>
    <script src=@Url.Content("/s/aplus_v2.js")></script>
    <script src=@Url.Content("/s/fdc/spm.js")></script>
    <script src=@Url.Content("/s/fdc/spmact.js")></script>

 @*
<script src="http://count.tbcdn.cn/counter6?keys=TCART_234_94db55a3e7f602b64b6418c9443b0ebe_q&amp;t=&amp;callback=xpj0&amp;1367980995191" async=""></script>
<script src="http://amos.alicdn.com/muliuserstatus.aw?callback=Shopwwcallback7149738422&amp;beginnum=0&amp;site=cntaobao&amp;charset=utf-8&amp;uids=nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Aallison;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Atim;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Aanna;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Ajoanna;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Alisa;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Ayolanda;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Acoconut" async=""></script>
<script src="http://amos.alicdn.com/muliuserstatus.aw?callback=Shopwwcallback8297461338&amp;beginnum=0&amp;site=cntaobao&amp;charset=utf-8&amp;uids=nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Aallison;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Atim;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Ajoanna;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Alisa;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Acoconut;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Aanna;nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97%3Ayolanda" async=""></script>
*@
<script src="http://www.taobao.com/go/app/tmall/login-api.php?0.2754917631391436" async="">
    var userCookie = { _nk_: '', uc1: '', mt: '', l: '', version: '' }; TB && TB.Global && TB.Global.run && TB.Global.run();
</script>

@*<script src="http://a.tbcdn.cn/s/kissy/1.3.0/??,dom/base-min.js,event/base-min.js,event/dom/base-min.js,event/dom/focusin-min.js,event/custom-min.js,ajax-min.js,json-min.js,anim-min.js,base-min.js,node-min.js,overlay-min.js,component/base-min.js,rich-base-min.js,component/extension-min.js,suggest-min.js,cookie-min.js,switchable-min.js,datalazyload-min.js?t=20130415115744" async="" charset="utf-8"></script>

<script src="http://a.tbcdn.cn/??s/kissy/1.3.0/seed-min.js,apps/tmall/tml/1.0/tml/tml-min.js,p/mall/base/global-v2.js,apps/tmall/header/shop/head-seed.js?t=2012041520130426.js"></script> 
<script src="http://a.tbcdn.cn/p/shop/3.0/wangpu/init-min.js?t=20130226.js"></script>
*@
  <script type="text/javascript">
        KISSY.use("wangpu/decoration/shopmonitor", function (S, Monitor) {
            new Monitor()
        });
    </script>
      
 <script>
     g_hb_monitor_st = +new Date();
     window.g_config = { appId: 2, assetsHost: "http://a.tbcdn.cn", toolbar: false };
     window.shop_config = {
         "shopId": "71955116",
         "siteId": "2",
         "userId": "890482188",
         "user_nick": "nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97",
         "shopCategoryId": "18",
         "template": {
             "name": "",
             "id": "",
             "design_nick": ""
         }
     }
     window.shop_config.isvStat = {
         nickName: 'nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97',
         userId: '890482188',
         shopId: '71955116',
         siteId: '2',
         itemId: '',
         shopStats: '1',
         validatorUrl: 'http://store.taobao.com/tadget/shop_stats.htm',
         templateId: '',
         templateName: ''
     };
    </script>



   @* <link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/common.css") />*@
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/header.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmallsearch/1.0/css/mui.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/head-info.css") />
    <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/base-min.css") />
@*    <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/mods/b/head/head-min.css") />*@
@*    <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/mods/b/foot/foot-min.css") />
*@    <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/mods/b/other/shop-info-min.css") />

@*     <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/mods/b/other/head-info-min.css") />*@
    <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/mods/s/shop-mods-min.css") />
    <link rel="stylesheet" href=@Url.Content("/p/shop/1.0/mods/o/second-mods-min.css") />
        <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />
    @*<link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/searchStyle.css") />*@
  
   @* <link rel="stylesheet" href="http://a.tbcdn.cn/??p/mall/base/global-v2.css,apps/tmall/header/shop/header.css,apps/tmall/header/shop/head-info.css,p/shop/1.0/base-min.css,p/shop/1.0/mods/b/head/head-min.css,p/shop/1.0/mods/b/foot/foot-min.css,p/shop/1.0/mods/b/other/shop-info-min.css,p/shop/1.0/mods/b/other/head-info-min.css,p/shop/1.0/mods/s/shop-mods-min.css,p/shop/1.0/mods/o/second-mods-min.css?t=2012122820130314201203192013010620111220.css" />
	*@
    <!-- System Skin CSS-->
	@*<link rel="stylesheet" href="http://a.tbcdn.cn/app/shop/skin/ark_black.css?1.4.css"  type="text/css"  media="screen" />
*@ 

 <style>
       {
                max-width: 150px !important
            ;
                display: none !important
            ;
            }
                        </style>
<style type="text/css">
			#content {
background-repeat:repeat-x;
}
#hd {
background-image:url(http://localhost:7525/Images/Tshutiao.jpg);
background-repeat:repeat-x;
background-position:left 0;
}	
			</style>
        <style>.ww-light{overflow:hidden;}.ww-block{display:block;margin-top:3px;}.ww-inline{display:inline-block;vertical-align:text-bottom;}.ww-light a{background:url(http://localhost:7525/Images/T1UPFAXnNfXXXXXXXX-130-60.gif) no-repeat 0 0;text-decoration:none!important;width:20px;height:20px;zoom:1;}.ww-large a{width:67px;}a.ww-offline{background-position:0 -20px;}a.ww-mobile{background-position:0 -40px;}.ww-small .ww-online{background-position:-80px 0;}.ww-small .ww-offline{background-position:-80px -20px;}.ww-small .ww-mobile{background-position:-80px -40px;}.ww-static .ww-online{background-position:-110px 0;}.ww-static .ww-offline{background-position:-110px -20px;}.ww-static .ww-mobile{background-position:-110px -40px;}.ww-light a span{display:none;}
            </style>
<style>.tml-overlay{position:absolute;left:-9999px;top:-9999px;}.tml-ext-mask{background-color:#000;opacity:.5;filter:alpha(opacity=50);}.tml-dialog .tml-stdmod-header,.tml-dialog .tml-ext-close{background:url(http://localhost:7525/Images/loginhead-126-41.png) no-repeat;}.tml-dialog{padding:10px;}.tml-dialog-skin{background:#716564;opacity:.4;filter:alpha(opacity=40);position:absolute;height:100%;width:100%;_padding:0 20px 0 0;top:0;left:0;}.tml-dialog-hasmask .tml-dialog-skin{background:#fff;}.tml-contentbox{position:relative;z-index:2;height:100%;background:#fff;border:1px solid #908b8b;overflow:hidden;}.tml-dialog .tml-stdmod-header{height:35px;line-height:35px;padding-left:10px;border-bottom:1px solid #8c0400;background-color:#b6000c;background-position:20px 10px;font-size:14px;font-weight:700;}.tml-dialog .tml-stdmod-body{overflow:hidden;}.tml-dialog .tml-ext-close{outline:medium none;position:absolute;z-index:3;right:20px;top:20px;overflow:hidden;display:block;height:16px;width:16px;line-height:99em;background-position:0 -25px;}.tml-dialog .tml-ext-close:hover{background-position:-16px -25px;}.tml-dialog-cat{position:absolute;top:0;left:50%;margin:-10px 0 0 -23px;width:55px;height:50px;background:url(http://localhost:7525/Images/blackcathead-55-20.png) no-repeat;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true",sizinMethod="scale",src="http://img04.taobaocdn.com/tps/i4/T1_z5sXidZXXaU9Uzi-55-20.png");_background:0;}.tml-dialog-default .tml-stdmod-header{background-image:none;color:#fff;}.tml-dialog-gray .tml-stdmod-header{background:#e6e6e6;border-bottom-color:#d9d9d9;}.tml-dialog-gray .tml-ext-close{background-position:-32px -25px;}.tml-dialog-gray .tml-ext-close:hover{background-position:-48px -25px;}body .tml-dialog-back{padding:0;border:1px solid #d5323d;}.tml-dialog-back .tml-stdmod-header{background:#fff9f9;border-bottom:1px solid #f5edec;line-height:25px;height:25px;}.tml-dialog-back .tml-contentbox{border:0;}.tml-dialog-back .tml-ext-close{background-position:-68px -25px;right:10px;top:6px;}.tml-dialog-back .tml-ext-close:hover{background-position:-84px -25px;}body .tml-dialog-back .tml-dialog-skin{padding:1px 1px 0 0;background:#999;left:2px;top:2px;}.tml-dialog-cfmTitle{margin:15px 5px 0 20px;border:0;background-color:#fff;color:#666;}.tml-dialog-btnArea{margin:10px 0 0 20px;padding:0 0 13px 0;}.tml-dialog-cfmOk,.tml-dialog-cfmCancel{margin:0 10px 0 0;padding-left:20px;padding-right:20px;}.tml-dialog-cfmTitle .ui-msg-con{border:0;background-color:#fff;}.tml-dialog-prtTip{margin:10px 0 0 20px;color:#666;}.tml-dialog-prtInput{width:318px;height:35px;display:block;margin:2px 0 0 20px;}.tml-dialog-prtError{margin:5px 0 0 20px;display:none;}.tmMCViewFull,.tmMCViewAll,.tmMCGroup.combo .tmMCGroupDel,.tmMCItemDel,.tmMCItemAdd,.tmMCItemMin,.tmMCGroupSlogon,.tmMCHandler .cannotCheck,.tmMCGo,.tmMCPrice,.tmMCViewIcon,.HdlOpen .tmMCHdLeft,.tmMCEx{background:url(http://localhost:7525/Images/shop_cart-300-210.png) no-repeat;}.tmMCHandler{background:url(http://localhost:7525/Images/login_cart-67-64.png) no-repeat;}.ui-msg-icon,.ui-msg-close,.ui-msg-arrow{background-image:url(http://localhost:7525/Images/msg.png);background-repeat:no-repeat;}.ui-msg{position:relative;display:inline-block;*display:inline;*zoom:1;border:1px solid #e1e1e1;border-radius:2px;background:#f5f5f5;padding-left:24px;box-shadow:1px 1px 1px #f5f5f5;}.ui-msg-block{display:block;}.ui-msg-con{line-height:16px;color:#666;background:#fbfbfb;padding:3px 10px 3px 5px;border:1px solid #efefef;border-left:1px solid #e7e7e7;margin:-1px;}.ui-msg-orange .ui-msg-con{color:#f19000;}.ui-msg-red .ui-msg-con{color:#b10000;}.ui-msg-arrow,.ui-msg-close,.ui-msg-icon{position:absolute;}.ui-msg-close{width:18px;height:18px;top:0;right:0;background-position:-21px 2px;cursor:pointer;}.ui-msg-close:hover{background-position:-40px 1px;}.ui-msg-arrow{width:5px;height:8px;left:-5px;top:7px;}.ui-msg-arrow-top,.ui-msg-arrow-down{width:8px;height:5px;background-position:-5px 0;top:-5px;left:7px;}.ui-msg-arrow-down{background-position:-13px 0;top:auto;bottom:-5px;}.ui-msg-icon{width:23px;height:22px;top:0;left:0;}.ui-msg-error .ui-msg-icon{background-position:-61px -26px;}.ui-msg-stop .ui-msg-icon{background-position:-61px -1px;}.ui-msg-ok .ui-msg-icon{background-position:-61px -51px;}.ui-msg-tip .ui-msg-icon{background-position:-61px -103px;}.ui-msg-attention .ui-msg-icon{background-position:-61px -79px;}.ui-msg-question .ui-msg-icon{background-position:-61px -126px;}.ui-msg-alert .ui-msg-icon{background-position:-61px -153px;}.ui-msg-notice .ui-msg-icon{background-position:-61px -177px;}.ui-msg-clean,.ui-msg-clean .ui-msg-clean{border:none;background:none;box-shadow:none;}.ui-msg-clean .ui-msg-con{padding-left:0;border:none;}.ui-page-tip{background:#fbfbfb;border-color:#efefef;}.ui-page-tip .ui-msg-con{border-left:1px solid #fbfbfb;padding-left:0;}.ui-top-tip{padding-left:58px;}.ui-top-tip .ui-msg-con{line-height:20px;padding:18px 28px 18px 12px;font-weight:bold;font-size:14px;}.ui-top-tip .ui-msg-icon{width:57px;height:56px;}.ui-top-tip .ui-msg-error .ui-msg-icon{background-position:11px -20px;}.ui-top-tip .ui-msg-stop .ui-msg-icon{background-position:11px -1px;}.ui-top-tip .ui-msg-ok .ui-msg-icon{background-position:11px -66px;}.ui-top-tip .ui-msg-tip .ui-msg-icon{background-position:11px -114px;}.ui-top-tip .ui-msg-attention .ui-msg-icon{background-position:11px -165px;}.ui-top-tip .ui-msg-question .ui-msg-icon{background-position:11px -215px;}.ui-top-tip .ui-msg-alert .ui-msg-icon{background-position:11px -265px;}.ui-top-tip .ui-msg-notice .ui-msg-icon{background-position:13px -315px;}.ui-top-tip .ui-msg-stop .ui-msg-icon{background-position:12px -362px;}.ui-msg-empty,.ui-msg-empty .ui-msg-con{background:none;border:none;padding:1px;box-shadow:none;}.ui-msg-empty .ui-msg-icon{position:static;display:inline-block;}.tmMC{margin-right:4px;color:#fff;z-index:100100;width:66px;zoom:1;position:relative;}.tmMC-proxy{padding-right:7px;height:31px;}.tmMCHandler{width:66px;height:31px;overflow:hidden;cursor:pointer;position:relative;z-index:100001;}.HdlShort:hover .tmMCEx,.tmMC .hdlHover .tmMCEx{background-image:-220px -100px;}.tmMCHandler .tmMCNum{padding-left:38px;_display:inline;}.HdlOpen .tmMCNum{padding-left:34px;display:inline-block;}.tmMC .unlogin_hover{background-position:0 -32px;}.tmMC .unlogin_hover .tmMCNum{display:none;}.tmMCEx{display:none;float:left;background-position:-220px -98px;width:15px;height:9px;overflow:hidden;margin:13px 0 0 32px;}.HdlShort .tmMCEx{background-position:-220px -108px;}.tmMCHdLeft{display:none;float:left;position:relative;z-index:100000;width:284px;height:31px;overflow:hidden;opacity:.9;filter:alpha(opacity=90);cursor:pointer;}.HdlOpen .tmMCHdLeft{background-position:0 -64px;}.tmMCHdLeft:hover{filter:alpha(opacity=95);opacity:.95;}.HdlShort .tmMCHdLeft{width:284px;}.HdlShort .tmMCHdLeft:hover .tmMCEx,.HdlShort .tmMCHandler .hover .tmMCEx{background-position:-235px -108px;}.tmMCHdLeft:hover .tmMCEx,.tmMCHandler .hover .tmMCEx{background-position:-235px -98px;}.tmMCPrice{float:left;margin-left:10px;}.tmMC .HdlOpen{width:283px;overflow:visible;background:none;cursor:default;}.HdlOpen .tmMCBody,.HdlOpen .tmMCHdLeft,.HdlOpen .tmMCGo{display:block;}.HdlOpen .tmMCNum{display:none;}.HdlOpen .tmMCHdLeft .tmMCNum{display:inline-block;}.tmMC .tmMCBotLink{margin-top:1px;float:left;color:#000;height:31px;position:relative9;z-index:10000109;line-height:33px;cursor:pointer;}.tmMC .tmMCBotLink:hover{color:#FEB1B2;text-decoration:underline;}.tmMCViewIcon{width:15px;height:15px;background-position:-188px -32px;position:absolute;top:3px;right:2px;display:none;}.tmMCViewIcon:hover{background-position:-203px -32px;}.tmMCPrice{margin-top:2px;float:right;padding-right:8px;height:31px;line-height:31px;font-weight:bold;background-position:-286px -24px;font-family:"Arial";padding-left:15px;}.tmMCGo{display:none;position:relative;z-index:100000;float:right;width:65px;height:31px;overflow:hidden;background-position:-67px 0;text-indent:-999px;cursor:pointer;}.HdlShort .tmMCGo{display:none;}.tmMCHandler .cannotCheck{background-position:-67px -32px;cursor:default;}.tmMCHandler .cannotCheck:hover{background-position:-67px -32px;}.tmMCGo:hover{background-position:-67px 0;}.tmMCNum span{display:block;}.tmMCBody,.tmMCTopBorder{background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAMAAAC6sdbXAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAlQTFRF7u7u5ubm6urqYPTI0gAAAB9JREFUeNoUiLERAAAMRLD/0Pk0HGSChSOLP/HqBBgAAfcAItOjOxwAAAAASUVORK5CYII=");*background-image:url(http://img01.taobaocdn.com/tps/i1/T1PRWJXX4rXXXXXXXX-5-5.png);border:1px solid #d6d6d6;background-color:#f2f2f2;position:absolute;width:275px;}.tmMCTopBorder{height:33px;top:-4px;left:3px;display:none;}.tmMCBody{padding-top:8px;padding-bottom:20px;display:none;color:#000;text-align:left;margin:0 auto -4px auto;-webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);-moz-box-shadow:0 0 3px rgba(0,0,0,0.2);box-shadow:0 0 3px rgba(0,0,0,0.2);filter:progid:DXImageTransform.Microsoft.Shadow(color="#e5e5e5",Direction=90,Strength=1);top:-30px;left:3px;}.tmMCLoading{display:none;background:url("data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH5BAkKAAAAIf4aQ3JlYXRlZCB3aXRoIGFqYXhsb2FkLmluZm8AIf8LTkVUU0NBUEUyLjADAQAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOw==") 50% 50% no-repeat;*background:url(http://img03.taobaocdn.com/tps/i3/T1W3mKXdJXXXXXXXXX-16-16.gif) 50% 50% no-repeat;width:100%;height:20px;text-indent:-999px;overflow:hidden;}.tmMCTip{margin:0 auto 7px;width:165px;display:block;}.tmMCTip .ui-msg-con{background-color:transparent;}.tmMCTip .ui-msg-con a{color:#2953A6;margin-left:1px;}.HdlShort .tmMCCon{margin-top:5px;}.tmMCCon{width:265px;overflow:hidden;position:relative;margin:0 auto 0 9px;padding-bottom:4px;}.tmMCCon::-webkit-scrollbar-track-piece{background-color:rgba(0,0,0,0);-webkit-border-radius:0;}.tmMCCon::-webkit-scrollbar{width:6px;height:8px;}.tmMCCon::-webkit-scrollbar-thumb{height:50px;background-color:rgba(0,0,0,0.4);-webkit-border-radius:4px;}.tmMCCon::-webkit-scrollbar-thumb:hover{height:50px;background-color:rgba(0,0,0,0.5);-webkit-border-radius:4px;}.tmMCGroup{width:257px;overflow:hidden;_zoom:1;}.tmMCGroupTitle{height:18px;line-height:18px;vertical-align:bottom;}.tmMCAllCheckWp{position:relative;float:left;color:#808080;margin:0 5px 0 6px;width:250px;height:38px;*margin-left:2px;_display:inline;}.tmMCAllCheckWp label,.tmMCAllCheck{position:relative;top:10px;}.tmMCAllCheck{vertical-align:middle;margin:0 5px 0 0!important;margin-top:-2px!important;margin-bottom:1px!important;}.tmMCGroupCheckWp{float:left;margin-right:5px;}.tmMCGroupCheck{vertical-align:middle;margin:0!important;margin-top:-2px!important;margin-bottom:1px!important;}.tmMCGroupName{color:#808080;float:left;white-space:nowrap;width:220px;text-overflow:ellipsis;height:18px;overflow:hidden;}.tmMCGroupPrice{float:right;color:#999;padding-right:14px;}.tmMCGroupSlogon{float:left;background-position:-157px -45px;background-position:-151px -47px9;color:#fff;height:19px;width:69px;line-height:20px;overflow:hidden;font-family:B8BF53;padding-left:5px;margin:0 0 0 3px;}.tmMCSlogonItem{display:block;}.tmMCItemWp{border:1px solid #E3E3E3;width:255px;border-bottom:none;background:#fff;cursor:default;margin:2px 0 5px 0;}.tmMCItemWp .tmMCUncheck{background:#f5f5f4;}.tmMCUnCheck{background:#fff url(http://img02.taobaocdn.com/tps/i2/T1JFuKXbhgXXXXXXXX-5-5.png);}.tmMCItem{width:100%;height:56px;margin:0 auto;overflow:hidden;border-bottom:1px solid #E3E3E3;position:relative;_zoom:1;}.tmMCItemCheckWp,.tmMCItemImg,.tmMCItemDesc,.tmMCItemPrice,.tmMCItemDel{float:left;}.tmMCItemCheckWp{font-weight:normal;width:12px;height:60px;margin:0 5px;*margin:0 9px 0 1px;_margin:0 1px;color:#fff;}#J_TMiniCart input[type="checkbox"]{margin:0;}#J_TMiniCart .tmMCItemCheck{margin-top:20px!important;*margin-top:18px!important;}.tmMCBody .check{color:#000;}.tmMCItemImg{margin:3px 0 auto 3px;display:table-cell;vertical-align:middle;text-align:center;*display:block;*font-size:44px;*font-family:Arial;width:50px;height:50px;}.tmMCItemImg{vertical-align:middle;}.tmMCItemskuWp{float:left;width:108px;height:40px;margin-left:8px;padding-top:10px;}.tmMCItemSku{display:block;width:100%;color:#999;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}.tmMCItemDesc{width:50px;margin:20px 0 0 0;overflow:hidden;}.tmMCItemQty{text-align:center;}.tmMCItemAdd,.tmMCItemMin{visibility:hidden;float:left;width:16px;height:16px;background-position:-284px -88px;cursor:pointer;}.tmMCItemAdd{width:16px;}.tmMCItemAdd{background-position:-284px -120px;}.tmMCItemMin:hover{background-position:-284px -104px;}.tmMCItemAdd:hover{background-position:-284px -152px;}.tmMCItemQtyNum{float:left;margin:-1px 2px 0;*margin-top:0;color:#999;_display:inline;width:14px;line-height:16px;word-wrap:break-word;word-break:break-all;}.tmMCItem .disableMin{background-position:-284px -72px;width:16px;cursor:default;}.tmMCItem .disableAdd{background-position:-284px -136px;cursor:default;}.tmMCItemPrice{margin:20px 0 0 0;color:#666;width:72px;text-align:right;word-wrap:break-word;word-break:break-all;}.tmMCItemDel{color:#f00;cursor:pointer;background-position:-251px -32px;display:block;width:14px;height:14px;position:absolute;right:11px;top:4px;}.tmMCItemDel:hover{background-position:-237px -32px;}.tmMCItem:hover .tmMCItemCheckWp,.tmMCBody .hover .tmMCItemCheckWp{display:inline-block;}.tmMCItem:hover .tmMCItemDel,.tmMCBody .hover .tmMCItemDel{display:block;}.tmMCItem:hover .tmMCItemAdd,.tmMCBody .hover .tmMCItemAdd,.tmMCItem:hover .tmMCItemMin,.tmMCBody .hover .tmMCItemMin{visibility:visible;}.tmMCGroup.combo{position:relative;}.tmMCGroup.combo .tmMCGroupDel{color:#f00;cursor:pointer;background-position:-250px -32px;display:block;width:14px;height:14px;position:absolute;right:12px;top:24px;z-index:999;}.tmMCGroup.combo.chover .tmMCGroupDel{display:block;}.tmMCGroup.combo.chover .tmMCGroupDel:hover{background-position:-236px -32px;}.tmMCGroup.combo .tmMCItemCheckWp{visibility:hidden;}.tmMCGroup.combo .tmMCItemMin{visibility:hidden;_display:none;}.tmMCGroup.combo .tmMCItemAdd{visibility:hidden;_display:none;}.tmMCGroup.combo .tmMCItemQtyNum{_margin-left:16px;}.tmMCViewMore{cursor:pointer;}.tmMCViewAll{cursor:pointer;display:block;width:257px;height:26px;margin:5px auto 0 -4px;background-position:0 -154px;}.tmMCViewAll:hover{background-position:0 -180px;}.tmMCBtnArea{width:256px;height:30px;margin:5px auto 0;position:relative;}.tmMCLose,.tmMCLose:hover,.tmMCLose:visited{color:#999;text-decoration:none;}.tmMCViewFull{position:absolute;display:block;right:1px;top:0;width:112px;height:26px;overflow:hidden;background-position:0 -128px;}.tmMCViewFull:hover{background-position:-113px -128px;}.tmMCBusy,.tmMCBusy:hover{width:190px;margin:5px auto 0;height:20px;line-height:20px;color:#999;}.tmMCTryFull,.tmMCTryFull:hover,.tmMCTryFull:visited{color:#2953A6;text-decoration:none;}.tmMCIframe{position:absolute;width:275px;z-index:-1;border:0;top:0;}#tm-minLogin{border:1px solid #c30009;background:#FAFAFA;width:412px;height:272px;overflow:hidden;position:fixed;_position:absolute;left:50%;top:50%;margin:-136px 0 0 -206px;z-index:10000000;}.tmml-close,.tmml-title{background:url(http://img02.taobaocdn.com/tps/i2/T13h1uXgdEXXXXXXXX-90-16.png) no-repeat;}.tmml-hd{position:relative;background:#fff8f7;border-bottom:1px solid #f3e9e7;}.tmml-title{line-height:99em;height:24px;overflow:hidden;background-position:0 4px;margin:0 0 0 5px;width:82px;}.tmml-close{position:absolute;top:8px;right:10px;width:8px;height:8px;line-height:99em;overflow:hidden;background-position:-82px -2px;cursor:pointer;}.tmml-mask{position:absolute;width:50px;background:#FAFAFA;height:100%;}#tm-minLogin iframe{margin-top:-39px;margin-left:43px;}.tmMCGuide{opacity:0;position:fixed;_position:absolute;bottom:0;right:176px;z-index:99999;}.guideHepler{position:absolute;bottom:5px;right:120px;z-index:99;}.confirmGuide{position:absolute;padding:90px 115px;right:110px;bottom:0;_padding:0;_width:230px;_height:180px;background:url(http://img02.taobaocdn.com/tps/i2/T1KznpXh8dXXaYREvd-155-79.png) no-repeat;_background-image:url(http://img01.taobaocdn.com/tps/i1/T1WM_jXmFuXXaYREvd-155-79.png);cursor:pointer;z-index:100;}.closeGuide{position:absolute;background:url(about:blank);display:block;text-indent:-100em;width:30px;height:20px;top:33px;left:95px;}.guideDetail{opacity:0;display:none9;position:relative;}:root .guideDetail{display:block9;}.endGuide{position:absolute;background:url(about:blank);display:block;text-indent:-100em;width:35px;height:35px;top:2px;left:4px;cursor:pointer;z-index:99;}.guideDetailBg{position:absolute;width:666px;height:280px;right:0;bottom:0;background:url(http://img01.taobaocdn.com/tps/i1/T1vSYpXjdgXXXgxU2b-666-280.png) no-repeat;_background-image:url(http://img04.taobaocdn.com/tps/i4/T1EbDpXXXkXXXgxU2b-666-280.png);}.guideCarousel{position:absolute;width:370px;height:160px;top:50px;left:60px;z-index:100;}.guidePrev,.guideNext{position:absolute;text-indent:-100em;width:30px;height:30px;z-index:9999;cursor:pointer;outline:none;top:55px;}.guidePrev{background:url(http://img02.taobaocdn.com/tps/i2/T1V1PnXnNtXXbSBwfc-30-30.png) no-repeat;left:-40px;}.guideNext{left:370px;background:url(http://img01.taobaocdn.com/tps/i1/T1kAbjXlxuXXbSBwfc-30-30.png) no-repeat;}.guideDisable{display:none;}.guideScroller{position:relative;width:370px;height:160px;overflow:hidden;}.guideConten{position:absolute;width:1110px;}.guideContent li{float:left;width:370px;height:160px;display:block;}.guideContent img{vertical-align:middle;margin-right:10px;}</style>
<style>#J_BrandBar{font-size:12px;cursor:pointer;background-color:#EEEEEE;width:120px;margin:2px 5px 0 5px;height:28px;border:solid 1px #d0d0d0;-moz-border-radius: 3px 3px 0px 0px;-khtml-border-radius: 3px 3px 0px 0px;-webkit-border-radius: 3px 3px 0px 0px;border-radius: 3px 3px 0px 0px;}#J_BrandBar:hover,#J_BrandBar.hoverBrandBar{background-color:#d9d1d1;border-color:#bcb0b0}.BrandFlyer{width:20px;height:20px;float:left;margin:4px;background:url(http://img02.taobaocdn.com/tps/i2/T1_360XiFkXXcu5FDa-20-20.png);background-repeat:no-repeat;*background:none;*filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=noscale, src="http://img02.taobaocdn.com/tps/i2/T1_360XiFkXXcu5FDa-20-20.png");}#J_BrandBar a,#J_BrandBar a:hover{line-height:20px;display:block;margin:4px;float:left;color:#181818;text-decoration:none;}</style>
<style>#J_CommonBottomBar{position:fixed;bottom:0;right:0;z-index:100002;_position:absolute;_bottom:auto;}#J_CommonBottomBar td{vertical-align:bottom;_position:relative;_overflow:hidden}.tm_cmbar_clearfix::after {clear: both;}.tm_cmbar_clearfix::after, .tm_cmbar_clearfix::before{display: table;content: "";overflow: hidden;}.tm_cmbar_clearfix {zoom: 1;}#J_CommonBottomBar .tm_cmbar{position:relative;}</style>
<style id="ks-suggest-style">.ks-suggest-container{background:white;border:1px solid #999;z-index:99999}.ks-suggest-shim{z-index:99998}.ks-suggest-container li{color:#404040;padding:1px 0 2px;font-size:12px;line-height:18px;float:left;width:100%}.ks-suggest-container .ks-selected{background-color:#39F;cursor:default}.ks-suggest-key{float:left;text-align:left;padding-left:5px}.ks-suggest-result{float:right;text-align:right;padding-right:5px;color:green}.ks-suggest-container .ks-selected span{color:#FFF;cursor:default}.ks-suggest-footer{padding:0 5px 5px}.ks-suggest-closebtn{float:right}.ks-suggest-container li,.ks-suggest-footer{overflow:hidden;zoom:1;clear:both}.ks-suggest-container{*margin-left:2px;_margin-left:-2px;_margin-top:-3px}</style>


</head>
<body>
    @Html.Partial("_SiteNav")

               @{
                   var m = Model.SingleMerchant;                  
    <div id="header">
        <!-- flash logo -->
        <script src=@Url.Content("/weblogin/js/jquery-1.7.2.js")></script>

        <div id="headerCon">
            <h1 id="mallLogo">
                <span class="mlogo"><a href="http://localhost:7525/index.html" title="邻居在线.com"><s></s>邻居在线.com</a></span>
            </h1>
        <div id="mallSearch">
            <form class="mallSearch-form" name="searchTop" target="_top" action="http://localhost:7525/Merchant/SearchProduct">
            <fieldset>
                <legend>邻居在线搜索</legend>
                <div class="mallSearch-input clearfix">
                    <label for="mq" style="visibility: visible; color: rgb(102, 102, 102);">
                        搜索 邻居在线 商品</label>
                    <input type="text" name="keyword" id="mq" accesskey="s" tabindex="9" autocomplete="off"
                        autofocus="true" x-webkit-speech="" x-webkit-grammar="builtin:translate">
                        <script type="text/javascript">
                            $("#mq").bind("keydown", function () {
                                debugger
                                if ($("#mq").val() == "")
                                { $("#mallSearch label").attr("style", "visibility: visible; color: rgb(102, 102, 102);") }
                                else
                                { $("#mallSearch label").attr("style", "visibility: hidden; color: rgb(102, 102, 102);") }
                            })
                        </script>
                    <button id="J_MallSearchBtn" type="submit">
                        搜索<s></s></button>
                    <input type="hidden" name="user_action" value="initiative">
                    <input type="hidden" name="at_topsearch" value="1">
                    <input type="hidden" name="sort" value="st">
                    <input id="J_Type" type="hidden" name="type" value="p">
                    <input id="J_Cat" type="hidden" name="cat">
                </div>
            </fieldset>
            <input id="J_MallSearchStyle" type="hidden" value="" name="style"></form>
        </div>
        </div>
        <div class="headerNav">
            <div class="headerNav-con">
                <div class="headerCrumb" id="J_HeaderCrumb">
                </div>
                <ul class="headerPromise">
                   @* <li class="hPicon1"><a target="_blank" title="正品行货" href="  ">
                        正品行货</a></li>
                    <li class="hPicon2"><a target="_blank" title="提供发票" href="  ">
                        提供发票</a></li>
                    <li class="hPicon3"><a target="_blank" title="七天退换" href="  ">
                        七天退换</a></li>*@
                </ul>
                <!-- module-cache-info: module: shop.headerArchiveNoNav:1.1-b2c,moduleId=1240656693, key: user-890482188-prototype-57-20121105 cacheArea: 49 cachedTime: 2013-03-14 15:34:45 aliveTime: 28800 AppIP:172.24.173.88 -->
                <div id="mall-shop">
                    <div id="shop-info">
                        <div class="main-info">
                            <h3 class="shop-title" style=" text-align:center" >
                                <a target="_blank" href="http://localhost:7525/merchant/index?scid=@m.Id">@m.Name 官方旗舰店</a>
                            </h3>
                              @* <p class="shop-status">
                                <a class="i" target="_blank" href=" ">
                                    品牌直销</a>
                                  <span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97"
                                        data-tnick="" data-encode="true" data-display="inline"><a href=""
                                            target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
                                            <span>旺旺在线</span></a></span>
                            </p>*@
                           @*     <p class="shop-grade">
                       <a target="_blank" href="">
                                      <span title="4.7/5.0，共有40778人打分" class="c-value-no c-value-4d7"></span>4.7</a>
                            </p>*@
                        </div>
                        <div class="extra-info">
                            <div class="bd">
                                <div class="shop-rate">
                                
                                </div>
                                <div class="extend">
                                    <ul>
                                      @*  <li class="shopkeeper">
                                            <label>
                                                掌 柜：</label>
                                            <a href="http://rate.taobao.com/user-rate-54e6f94343b5d2d647fdde8a93634496.htm">@m.Name 官方旗舰店</a>
                                        </li>*@
                                    @*    <li>
                                            <label>
                                                客 服：</label>
                                            <span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97"
                                                data-tnick="" data-encode="true" data-display="inline"><a href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaonike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId="
                                                    target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
                                                    <span>旺旺在线</span></a></span> </li>*@
                                        <li>
                                            <label>
                                                公 司 名：
                                            </label>
                                            @m.Name </li>
                                        <li class="locus">
                                            <label>
                                                所 在 地：
                                            </label>
                                            @m.Address </li>
                                    </ul>
                                </div>
                                <div class="other">
                                    
                                </div>
                            </div>
                            <div class="opt">
                                <b id="J_InfoTrigger">展开/收起</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <div class="page" data-cat="J_Cat517765755">
     
                                                    
    
                 <p class="design-page hidden" id="J_DesignPage">
                <a href=""
                    target="_blank">
                    <img src="http://localhost:7525/Images/color_pen-16-16.png">装修此页面</a>
            </p>

            
    
                                          
                                          
    
                      
 
                      
 
            <div id="bd">
                <div class="layout grid-m">
                    <div class="col-main">
                        <div class="main-wrap J_TRegion">
                        </div>
                    </div>
                </div>
                <div class="layout grid-s5m0 ">
                    <div class="col-main clearfix">
                        <div class="main-wrap J_TRegion">
                            <!--ShopsystemSearchStart-->
                            <!--搜索列表searchURL: http://inshop-search-hz.vip.tbsite.net:2088/bin/search?auction?user_id=890482188&n=20&scid=493467022&sort=starts&src=shopsystem-172.24.173.123 tairKey: $tairKey -->
                            <div id="anchor" class="box J_TBox tshop-pbsm tshop-pbsm-ssl10w" data-spm="110.0.17-7149738473"
                                microscope-data="17-7149738473">
                                <div class="shop-hesper" id="J_ShopSearchResult">
                                  
                                    <div class="bd">
                                  
                                          <span id="J_ShopSearchUserParams" data-info="&amp;upicSize=160x160"></span><span
                                            id="J_UserSearchParams" data-info="keyword=&amp;price1=&amp;price2=&amp;bannerPageTitle=分类宝贝">
                                        </span>
                                    <!---搜索问题--->
                                         <!---   搜索--->
                                       
                                  <div class="shop-hesper-hd J_TWidget" data-widget-config="{'triggerCls': 'trigger', 'panelCls': 'hesper-content','multiple': 'true', 'activeTriggerCls': 'collapse'}"
                                            data-widget-type="Accordion" aria-multiselectable="true">
                                            <div class="hesper-cats" id="J_HesperCats" role="tablist">
                                                <ol>
                                                  <!---  商品的分类名称 女子--->
@*                                                    
                                                    @if (ViewData["sgoodTypeId"].ToString()!="0")
                                                    {
                                                       <li> @Model.SingleMerchantGoodsType.GoodsType</li>
                                                    }
                                                    else
                                                    {
                                                    <li>全部商品列表</li>
                                                    }*@


                                                </ol>
                                                <div class="hesper-content ks-switchable-panel-internal658" style="display: none"
                                                    id="ks-accordion-tab-panel661" role="tabpanel" aria-hidden="false" aria-labelledby="J_HesperCatsTrigger">
                                                    <ul class="hesper-cats-list">
                                                        <li><a class="J_SearchAsync" href=" ">
                                                            鞋类</a></li>
                                                        <li><a class="J_SearchAsync" href=" ">
                                                            上衣</a></li>
                                                        <li><a class="J_SearchAsync" href=" ">
                                                            裤装</a></li>
                                                        <li><a class="J_SearchAsync" href=" ">
                                                            装备</a></li>
                                                    </ul>
                                                </div>
                                                <script>
                                                    if (KISSY.version !== "1.30")
                                                        if (window.TShop && window.TShop.use) {
                                                            TShop.use('mod~search', function () {
                                                                TShop.mods.Search.init();
                                                            });
                                                        }
                                                </script>
                                                <i id="J_HesperCatsTrigger" class="trigger collapse  ks-switchable-trigger-internal657"
                                                    title="展开或者收缩" role="tab" aria-expanded="true" aria-selected="true" aria-controls="ks-accordion-tab-panel661"
                                                    tabindex="0"></i>
                                            </div>
                                           @* <form action="http://nike.tmall.com/search.htm" id="shop-search-list" method="get">*@
                                            <form action="http://localhost:7525/merchant/index" id="shop-search-list" method="get">
                                          
                                            <div class="shop-search">
                                                <div class="search-form">
                                                    <ul>  @*  <input type="hidden" id="J_ShopSearchFormUrl" data-info="http://nike.tmall.com/search.htm?search=y&amp;viewType=grid&amp;orderType=_newOn&amp;orderType=_newOn">
                                                      *@ 
                                                    
                                                      <input type="hidden" id="J_ShopSearchFormUrl" data-info="http://localhost:7525/merchant/index?viewType=grid&keyword=wre&price1=22&price2=33&baoBeiType=1003&viewType=grid&orderType=_hotsell">
                                                      
                                                        <input type="hidden" name="orderType" value=@ViewData["sorderType"]>
                                                        <input type="hidden" name="viewType" value=@ViewData["sviewType"]>
                                                        @*<input id="baobei_type" type="hidden" name="baobei_type" value="">*@
                                                     <input type="hidden" name="scid" value=@ViewData["sscid"]>
                                                     <input type="hidden" name="goodTypeId" value=@ViewData["sgoodTypeId"] />
                                                  
                                                        <li class="keyword">
                                                            <label for="keyword">
                                                                关键字：</label>
                                                            <input id="keyword" name="keyword" type="text" value=@ViewData["skeyword"] >
                                                        </li>
                                                        <li class="price">
                                                            <label for="price">
                                                                价格：</label>
                                                            <input id="price1" name="price1" type="text" class="price J_CheckInput" value=@ViewData["sprice1"]>
                                                            到
                                                            <input id="price2" name="price2" type="text" class="price J_CheckInput" value=@ViewData["sprice2"]>
                                                        </li>
                                                        <li class="submit">
                                                            <button type="submit" class="button">
                                                                搜索</button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="search-result">
                                                    共搜索到<span> @Model.count.ToString()</span>个符合条件的商品。
                                                </div>
                                            </div>
                                            </form>
                                        </div>
                                        <div class="shop-hesper-bd grid">
                                            <div class="shop-filter">
                                                <div class="mode">
                                              @*      <span>显示：</span> <a href="http://localhost:7525/merchant/index?scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]"
                                                        alt="列表方式" title="列表方式" class="J_SearchAsync mode-row">列表模式</a> <a href="http://localhost:7525/merchant/index?scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]"
                                                            alt="图表方式" title="图表方式" class="J_SearchAsync mode-grid">图表模式</a>
                                               *@ </div>
                                                <div class="taxis">
                                                    <span>排序：</span> 
                                                    <a href="http://localhost:7525/merchant/index?sort=@(ViewData["sort"].ToString() == "ma" ? "md" : "ma")&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=MonthAmount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]"
                                                        alt="按月销量排列" title="按月销量排列" @*class="J_SearchAsync fav def"*@
                                                        class="J_SearchAsync @((ViewData["sort"].ToString() == "ma") ? "up" : ((ViewData["sort"].ToString() == "md") ? "down" : "def"))"
                                                        >销量<i class="icon"></i></a>
                                                    <a href="http://localhost:7525/merchant/index?sort=@(ViewData["sort"].ToString() == "ca" ? "cd" : "ca")&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=CreateTime&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]"
                                                        alt="按新品排列" title="按新品排列" 
                                                        class="J_SearchAsync @((ViewData["sort"].ToString() == "ca") ? "up" : ((ViewData["sort"].ToString() == "cd") ? "down" : " fav def"))"
                                                        >新品<i class="icon"></i></a>                                               
                                                    
                                                      <a href="http://localhost:7525/merchant/index?sort=@(ViewData["sort"].ToString() == "p" ? "pd" : "p")&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=Price&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]"
                                                        alt="按价格排列" title="按价格排列"  
                                                        class="J_SearchAsync @((ViewData["sort"].ToString() == "p") ? "up" :((ViewData["sort"].ToString() == "pd") ? "down":"def"))" 
                                                         >价格<i class="icon"></i></a>
                                                     
                                                    <a href="http://localhost:7525/merchant/index?sort=@(ViewData["sort"].ToString() == "va" ? "vd" : "va")&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]"
                                                        alt="按人气排列" title="按人气排列" @*class="J_SearchAsync fav def"*@
                                                       class="J_SearchAsync @((ViewData["sort"].ToString() == "va") ? "up" : ((ViewData["sort"].ToString() == "vd") ? "down" : "fav def"))" 
                                                        >人气<i class="icon"></i></a>
                                                                                              
   
                               
                                               
                                               
                                                </div>
                                                <div class="vip">
                                                 @*   <input id="J_TBaotypeBox" name="boTypeBox" value="1003" type="checkbox" onclick="vipSubmit();"
                                                        class="checkbox">店铺VIP商品*@
                                                </div>



                                                <div class="pagination pagination-mini">
                                                    <span class="page-info">@Model.currentPage/@Model.pageNum</span> 
                                                 @if (Model.currentPage == 1 && Model.pageNum != 1)
                                                 { 
                                                    <a class="disable">上一页</a> 
                                                    
                                                    <a class="J_SearchAsync next"
                                                        href="http://localhost:7525/merchant/index?page=@(Model.currentPage + 1)&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]">
                                                        下一页</a>
                                                 }
                                                 else if (Model.currentPage == 1 && Model.pageNum == 1)
                                                 {
                                                  <a class="disable">上一页</a> 
                                                    
                                                    <a class="disable" > 下一页</a>
                                                 }
                                                 else if (Model.currentPage == Model.pageNum && Model.pageNum != 1)
                                                 {                                            
                                                    
                                                    <a class="J_SearchAsync next"
                                                        href="http://localhost:7525/merchant/index?page=@(Model.currentPage - 1)&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]">
                                                        上一页</a>
                                                            <a class="disable">下一页</a> 
                                                 }
                                                 else
                                                 {
                                                     <a class="J_SearchAsync next"
                                                        href="http://localhost:7525/merchant/index?page=@(Model.currentPage - 1)&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]">
                                                        上一页</a>
                                                      <a class="J_SearchAsync next"
                                                        href="http://localhost:7525/merchant/index?page=@(Model.currentPage + 1)&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]">
                                                        下一页</a>
                                                 }
                                                    <!--下一页-->
                                                </div>
                                            </div>
                                              
                                              @if (Model.SingleMerchant.MerchantType == friday.core.EnumType.MerchantTypeEnum.百货)
                                              {      
                                            <ul class="shop-list">
                                     
                                                   @for (var index = 0; index < Model.Commoditys.Count(); index++)
                                                   {
                                                       var item = Model.Commoditys.ElementAt(index);
                                                       var minPrice = Model.minPriceSkuList.ElementAt(index);
                                                <li>
                                                    <div class="item">
                                                        <div class="pic">
                                                            <a href="http://localhost:7525/merchant/detail/index?brandid=@item.Id" target="_blank" class="permalink"> 
                                                              <img src="@Url.Content("~/" + item.Image)" >
                                                            </a>
                                                        </div>
                                                       <div class="desc">
                                                        <a href="http://localhost:7525/merchant/detail/index?brandid=@item.Id" target="_blank" class="permalink"> 
                                                            @item.Name <br />   @m.Name 官方 </a>
                                                        </div>
                                                        <div class="price">
                                                            <span>一口价 </span><s class="symbol">¥</s><strong>@minPrice.price</strong>
                                                        </div>
                                                        <div class="sales-amount">
                                                            月销量：<em>@item.MonthAmount</em>件
                                                        </div>
                                                        <div class="rating">
                                                         @*   <span class="c-value-no" title="5.0分"><i style="width: 5.0em"></i></span><span class="small">
                                                                (<a target="_blank" href="http://localhost:7525/merchant/detail/index?brandid=@item.Id"
                                                                    title="评论列表">已有 @item.ValuingCount 人评论</a>)</span>*@
                                                        </div>
                                                    </div>
                                                </li>
                                                   }                                               
                                            </ul>
                                              }

                                                    
                <form action="http://localhost:7525/merchant/index?scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&orderType=ValuingCount&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]" method="post">                       
                  <div class="brandPagination" style=" float:right">
            <div class="ui-page">
                <div class="ui-page-wrap"> 

      
                    <b class="ui-page-num">
                @if (Model.currentPage > 1)
                {
                    <a class="ui-page-prev j_PageChange " data-page="@(Model.currentPage - 1)" href="http://localhost:7525/merchant/index?page=@(Model.currentPage - 1)&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum">&lt;&lt; 上一页</a>
                }
                else
                {
                    <b class="ui-page-prev">&lt;&lt; 上一页</b>
                }
                
                @{
                    if (Model.pageNum <= 3)
                    {
                        for (int i = 1; i <= Model.pageNum; i++)
                        {
                            if (i == Model.currentPage)
                            {
                                <b class="ui-page-cur">@i</b>
                            }
                            else
                            {
                                <a href="http://localhost:7525/merchant/index?page=@i&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                            }
                        }
                    }
                    else if (Model.pageNum <= 8)
                    {
                        if (Model.currentPage + 2 < Model.pageNum)
                        {
                            for (int i = 1; i <= (Model.currentPage + 2); i++)
                            {
                                if (i == Model.currentPage)
                                {
                                    <b class="ui-page-cur">@i</b>
                                }
                                else
                                {
                                    <a href="http://localhost:7525/merchant/index?page=@i&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                }
                            }
                          <b class="ui-page-break">...</b>  
                        }
                        else
                        {
                            for (int i = 1; i <= Model.pageNum; i++)
                            {
                                if (i == Model.currentPage)
                                {
                                    <b class="ui-page-cur">@i</b>
                                }
                                else
                                {
                                    <a href="http://localhost:7525/merchant/index?page=@i&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                }
                            }
                        }
                    }
                    else
                    {
                        if (Model.currentPage <= 6)
                        {
                            for (int i = 1; i <= (Model.currentPage + 2); i++)
                            {
                                if (i == Model.currentPage)
                                {
                                    <b class="ui-page-cur">@i</b>
                                }
                                else
                                {
                                    <a href="http://localhost:7525/merchant/index?page=@i&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" data-page="@i">@i</a>
                                }
                            }
                          <b class="ui-page-break">...</b>  
                        }
                        else if (Model.currentPage <= Model.pageNum - 4)
                        {
                            <a href="http://localhost:7525/merchant/index?page=1&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="1">1</a>
                            <a href="http://localhost:7525/merchant/index?page=2&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="2">2</a>
                            <b class="ui-page-break">...</b>  
                                
                            for (int i = (Model.currentPage - 2); i <= (Model.currentPage + 2); i++)
                            {
                                if (i == Model.currentPage)
                                {
                                    <b class="ui-page-cur">@i</b>
                                }
                                else
                                {
                                    <a href="http://localhost:7525/merchant/index?page=@i&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                }
                            }
                            <b class="ui-page-break">...</b> 
                        }
                        else
                        {
                            <a href="http://localhost:7525/merchant/index?page=1&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="1">1</a>
                            <a href="http://localhost:7525/merchant/index?page=2&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="2">2</a>
                            <b class="ui-page-break">...</b> 
                    
                            for (int i = (Model.currentPage - 2); i <= Model.pageNum; i++)
                            {
                                if (i == Model.currentPage)
                                {
                                    <b class="ui-page-cur">@i</b>
                                }
                                else
                                {
                                    <a href="http://localhost:7525/merchant/index?page=@i&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum" class="j_PageChange" data-page="@i">@i</a>
                                }
                            }
                        }

                    }
                  }
                @if (Model.currentPage < Model.pageNum)
                {
                    <a class="ui-page-next j_PageChange " data-page="@(Model.currentPage + 1)" href="http://localhost:7525/merchant/index?page=@(Model.currentPage + 1)&orderType=ValuingCount&scid=@ViewData["sscid"]&viewType=@ViewData["sviewType"]&keyword=@ViewData["skeyword"]&price1=@ViewData["sprice1"]&price2=@ViewData["sprice2"]&pagenum=@Model.pageNum">&lt;&lt; 下一页</a>
                }
                else
                {
                    <b class="ui-page-next">下一页 &gt;&gt;</b>
                }
                    </b>   
   
               <b class="ui-page-skip">共@(Model.pageNum)页，去第
                        <input type="text" value="@Model.currentPage"   size="3" class="ui-page-skipTo j_PageChangeInput" name="page">
                        <input type="hidden" value="@Model.pageNum"   size="3" class="ui-page-skipTo j_PageChangeInput" name="pagenum">
                        <input type="hidden" value="@ViewData["skeyword"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="keyword">
                        <input type="hidden" value="@ViewData["sprice1"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="price1">
                        <input type="hidden" value="@ViewData["sprice2"]"   size="3" class="ui-page-skipTo j_PageChangeInput" name="price2">
                     
                        页
                        <button class="ui-btn-s ui-page-skipBtn j_PageChangeBtn" type="submit">确定</button></b> 
                </div>
            </div>
        </div>
        </form>
                                
                                              
                                           
                                        </div> 
                                               
                                </div>
                                     
                                </div>
                                <script type="text/javascript">
                                    function vipSubmit() {
                                        if (KISSY.version !== "1.30")
                                            if (window.TShop && window.TShop.use) {
                                                var baobei_type = document.getElementById('baobei_type').value;
                                                if (baobei_type == '1003') {
                                                    document.getElementById('baobei_type').value = "";
                                                } else {
                                                    document.getElementById('baobei_type').value = "1003";
                                                }
                                                document.getElementById('shop-search-list').submit();
                                            }
                                    }
                                </script>
                            </div>
                            <!--ShopsystemSearchEnd-->
                        </div>
                    </div>
            
                    <div class="col-sub J_TRegion">
                        <!-- module-cache-info: module: shop.shopArchive:1.0-b2c,moduleId=7149738464, key: user-890482188-prototype-13-20121207 cacheArea: 208 cachedTime: 2013-03-14 15:03:33 aliveTime: 28800 AppIP:172.24.3.145 -->
                        <!--商家信息 到 进入店铺-->
                        <div class="box J_TBox tshop-psm tshop-psm-ssa10b" id="side-shop-info" data-spm="110.0.13-7149738464"
                            microscope-data="13-7149738464">
                            <div class="shop-basic">
                                <div class="hd">
                                    <h3>
                                        <span>商家信息</span></h3>
                                </div>
                                <div class="bd">
                                    <div class="shop-promise">
                                        <p>
                                            <img alt="邻居在线，品质保证" src="http://localhost:7525/Images/small_mcht_bar-175-35.png"></p>
                                     @*   <ul>
                                             <li><a href="http://www.tmall.com/go/chn/mall2010/promise.php#ZPBZ" target="_blank">
                                                正品保障</a></li>
                                            <li><a href="http://www.tmall.com/go/chn/mall2010/promise.php#TGFP" target="_blank">
                                                提供发票</a></li>
                                            <li id="J_7day" class="last"><a href="http://www.tmall.com/go/chn/mall2010/promise.php#QTTH"
                                                target="_blank">七天退换</a></li> 
                                        </ul>*@
                                    </div>
                                    <div class="shop-intro">
                                        <div class="name">
                                            <span>@Model.SingleShop.Name 官方旗舰店</span>
                                        </div>
                                        <div class="shop-rate">
                                            @*<h4>
                                                店铺动态评分 <span class="compare">与同行业相比</span>
                                            </h4>
                                            <ul>
                                                <li>描述相符：<a target="_blank" href="http://rate.taobao.com//user-rate-54e6f94343b5d2d647fdde8a93634496.htm"><em
                                                    class="count" title="4.76132分">4.7</em> <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                        <b>持平</b><em>--------</em> </span></a></li>
                                                <li>服务态度：<a target="_blank" href="http://rate.taobao.com//user-rate-54e6f94343b5d2d647fdde8a93634496.htm"><em
                                                    class="count" title="4.74458分">4.7</em> <span class="rateinfo" title="计算规则:(同行业平均分-店铺得分)/(同行业平均分-同行业店铺最低得分)">
                                                        <b class="lower">低于</b><em class="lower">1.35%</em> </span></a></li>
                                                <li>发货速度：<a target="_blank" href="http://rate.taobao.com//user-rate-54e6f94343b5d2d647fdde8a93634496.htm"><em
                                                    class="count" title="4.7673分">4.7</em> <span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
                                                        <b>持平</b><em>--------</em> </span></a></li>
                                            </ul>*@
                                        </div>
                                        <div class="extend">
                                            <ul>
                                                <li>
                                                    <label>
                                                        公 司 名：</label>
                                                    @Model.SingleMerchant.Name
                                                </li>
                                                <li class="locus">
                                                    <label>
                                                        所 在 地：</label>
                                                    @Model.SingleMerchant.Address
                                                </li>
                                                <li class="shopkeeper">
                                                    <label>
                                                        商&nbsp;&nbsp;&nbsp;&nbsp;家：</label>
                                                    <a href="http://rate.taobao.com//user-rate-54e6f94343b5d2d647fdde8a93634496--receivedOrPosted|0--buyerOrSeller|1.htm">
                                                    </a></li>
                                            @*    <li>
                                                    <label>
                                                        客&nbsp;&nbsp;&nbsp;&nbsp;服：</label>
                                                    <span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97"
                                                        data-tnick="" data-encode="true" data-display="inline"><a href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaonike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId="
                                                            target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
                                                            <span>旺旺在线</span></a></span> </li>*@
                                            </ul>
                                        </div>
                                        <div class="other">
                                        @*    <a class="enter" href="http://nike.tmall.com/" title="进入掌柜的店铺" target="_blank"><span
                                                style="display: none;">进入掌柜的店铺</span></a>*@
                                          @*  <a id="xshop_collection_href" href="http://favorite.taobao.com//popup/add_collection.htm?itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496&amp;scjjc=2&amp;_tb_token_=T6C62bS4Apux"
                                                    mercury:params="id=71955116&amp;itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496"
                                                    class="J_TDialogTrigger J_PopupTrigger collection xshop_sc J_TokenSign" data-width="458"
                                                    data-height="346" data-closebtn="true" style="width: 84px"><span>收藏本店铺</span></a>*@
                                        </div>
                                    </div>
                                    <div id="J_Shopsearch" style="display: none" class="shop-search">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- module-cache-info: module: shop.selfDefining:1.0-common,moduleId=18103299901, key: module-18103299901-prototype-3-80 cacheArea: 208 cachedTime: 2013-03-14 15:03:36 aliveTime: 28800 AppIP:172.24.151.135 -->
                        <!--售后提示-->
                        <div class="box J_TBox tshop-pbsm tshop-pbsm-ssd10c" data-spm="110.0.3-18103299901"
                            microscope-data="3-18103299901">
                            <div class="shop-custom   no-border ">
                                <div class="bd">
                                    <div class="custom-area">
                                        <p>
                                            <img src="http://localhost:7525/Images/after_sell_tip.jpg"
                                                data-cdn-reduce-traffic="http://localhost:7525/Images/after_sell_tip.jpg_q75.jpg"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                      
                    </div>
            
                                                        }
     
            <!--保证 到 企业采购热线--->
@*          <div id="ft">
               <div class="layout grid-m">
                <div class="col-main">
                  *@
             
     
          
                                  


                       </div>
            </div>
<div id="footer">
    <div id="mall-desc">
        <dl id="ensure">
        <dt><span>邻居保障</span></dt>
        <dd>
            <span><i></i>7天无理由退换货</span>
            <span><i></i>提供发票</span>
        </dd>
    </dl>
    <dl id="beginner">
        <dt><span>新手上路</span></dt>
        <dd>
            <a href="http://localhost:7525/Account/register" target="_blank"><i></i>免费注册</a>
            <a href="" target="_blank"><i></i>开通支付宝</a>
            <a href="" target="_blank"><i></i>支付宝充值</a>
            <a href="http://localhost:7525/OtherPage/DataResource?secitonName=帮助中心" target=""><i></i>帮助中心</a>
        </dd>
    </dl>
    <dl id="payment">
            <dt><span>支付方式</span></dt>
            <dd>
                <a href="http://kuai.alipay.com/product/" target="_blank"><i></i>支付宝快捷支付</a>
                <a href="" target="_blank"><i></i>货到付款</a>
                <a href="" target="_blank"><i></i>网上银行支付</a>
            </dd>
        </dl>

    <dl id="seller">
        <dt><span>商家服务</span></dt>
        <dd>
           <a href="http://localhost:7525/weblogin/login.aspx" target="_blank" class="join"><i></i>商家入驻&gt;&gt;</a>
           <a href="http://localhost:7525/weblogin/login.aspx" target="_blank"><i></i>商家中心</a>
		<a href="" target="_blank"><i></i>智库</a>
           <a href="" target="http://localhost:7525/OtherPage/ShopRule"><i></i>开铺规则</a>
        </dd>
    </dl>
            <script type="text/javascript">
                $("#ensure dt span").attr("style", "background-position-x:0px;background-position-y:0px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
                $("#beginner dt span").attr("style", "background-position-x:0px;background-position-y:-20px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
                $("#payment dt span").attr("style", "background-position-x:0px;background-position-y:-40px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
                $("#seller dt span").attr("style", "background-position-x:0px;background-position-y:-60px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
        </script>
    <!--[if IE 6]><br /><![endif]-->
    <h4 class="go-home"><a href="http://localhost:7525/index.html" target="_blank" title="返回首页">返回首页</a></h4>
    </div>
    <div id="copyright">
        <!-- foot links from tms start -->
    <p id="footer-Tmallinfo">
        <a href=" " target="_blank">关于本站</a>
        <a href=""  target="_blank">帮助中心</a>
        <a href="" target="_blank">网站地图</a>
        <a href=" " target="_blank">诚聘英才</a>
        <a href=" " target="_blank">联系我们</a>
        <a href=" " target="_blank">网站合作</a>
        <a href="">版权说明</a>
    </p>
    <p id="footer-otherlink">
	<a target="_blank" href="">邻居在线集团</a>：	
      邻居在线网络 - <a target="_blank" href=" ">中国站</a> <a target="_blank" href=" ">国际站</a> 
      <a target="_blank" href="">全球速卖通</a> <a target="_blank" href="">日文站</a> | 
	<a target="_blank" href=" ">邻居在线网</a> | 
	<a target="_blank" href=" ">邻居网</a> |
	<a target="_blank" href=" ">聚划算</a> |
	<a target="_blank" href="http://www.alipay.com/">支付宝</a> | 
	<a target="_blank" href="http://www.yahoo.com.cn/">中国雅虎</a> | 
	<a target="_blank" href=" ">邻居在线联盟</a> | 
        <a target="_blank" href=" ">集团研究中心</a> |
        <a href=" " target="_blank">邻居在线天下</a> | 
        <a href="" target="_blank">邻居网</a> 
    </p>
    <p>Copyright&nbsp;2003-2013, 版权所有邻居在线.COM <br>增值电信业务经营许可证：浙B2-20110446<br>网络文化经营许可证：<a href="" target="_blank">重网文[2012]0234-028号</a><br>互联网医疗保健信息服务 审核同意书 重 卫网审【2012】6号<br>互联网药品信息服务资质证书编号：重-（经营性）-2012-0005</p>
    <!-- foot links from tms end -->
    </div>
        <div id="server-num">版本V0.66</div>
</div>
            </div> 
               

              
</body>
</html>
