@{
    Layout = null;
}
@using Friday.mvc.Models
@using Friday.core
@model DetailModel
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>@Model.Merchant.Name  @Model.Commodity.Name 邻居在线</title>
    <script>
        window.g_config =
        { 
            startTime: (+new Date()),
            D950: true,
            bizTag: 12,
            ver: "4.0",
            t: "20130317",
            appId: 1,
            itemId: "16246683095",
            pageId: "16246683095",
            assetsHost: "http://localhost:7525/",
            enable: true,
            p: 1,
            type: "b",
            isEC: true,
            toolbar: false,
            webww: true,
            pageType: ""
        };
    </script>
    
	<link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/header.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/tmall/header/shop/head-info.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/base.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/mui.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/css/spriter.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/css/D950.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/css/shop.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/tabbar/tabbar.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/css/sku.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/other/other.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/sku/regionSell.css") />
	<link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/spu/spu.css") />
    
    <link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/other/attributes.css") />
    <link rel="stylesheet" href=@Url.Content("/apps/malldetail/4.0/recommend/waterfall.css") />
            <link rel="stylesheet" href=@Url.Content("/apps/tmall/fp/2012/css/header.css") />
    <link rel="stylesheet" href=@Url.Content("/p/mall/base/global-v2.css") />

	<script src="http://a.tbcdn.cn/s/kissy/1.3.0/kissy.js"></script>
    <script src=@Url.Content("/weblogin/js/jquery-1.7.2.js")></script>
    <script src=@Url.Content("/p/mall/base/global-v2.js")></script>    
    <script src=@Url.Content("/apps/tmall/mui/tml/tml.js")></script>
    <script src="@Url.Content("/apps/tmall/fp/2012/core.js")"></script>
    <script src=@Url.Content("/apps/malldetail/4.0/detail.js")></script>
@*    <script src="@Url.Content("/apps/tmallbuy/razer/mini/core.js")"></script>*@

</head>
<body class="D950 enableHover">
	@Html.Partial("_SiteNav")
	<div id="header">?     
		<!-- flash logo -->
		<div id="headerCon">
			<h1 id="mallLogo">
				<span class="mlogo">
					<a href="http://localhost:7525/index.html" title="邻居在线.com">
						<s></s>
						邻居在线.com
					</a>
				</span>
			</h1>
        <div id="mallSearch">
            <form class="mallSearch-form" name="searchTop" target="_top" action="http://localhost:7525/Merchant/SearchProduct">
            <fieldset>
                <legend>邻居在线搜索</legend>
                <div class="mallSearch-input clearfix">
                    <label for="mq" style="visibility: visible; color: rgb(102, 102, 102);">
                        搜索 邻居在线 商品</label>
                    <input type="text" name="keyword" id="mq" accesskey="s" tabindex="9" autocomplete="off"
                        autofocus="true" x-webkit-speech="" x-webkit-grammar="builtin:translate">
                        <script type="text/javascript">
                            $("#mq").bind("keydown", function () {
                               //debugger
                                if ($("#mq").val() == "")
                                { $("#mallSearch label").attr("style", "visibility: visible; color: rgb(102, 102, 102);") }
                                else
                                { $("#mallSearch label").attr("style", "visibility: hidden; color: rgb(102, 102, 102);") }
                            })
                        </script>
                    <button id="J_MallSearchBtn" type="submit">
                        搜索<s></s></button>
                    <input type="hidden" name="user_action" value="initiative">
                    <input type="hidden" name="at_topsearch" value="1">
                    <input type="hidden" name="sort" value="st">
                    <input id="J_Type" type="hidden" name="type" value="p">
                    <input id="J_Cat" type="hidden" name="cat">
                </div>
            </fieldset>
            <input id="J_MallSearchStyle" type="hidden" value="" name="style"></form>
        </div>
		</div>
		<div class="headerNav">
			<div class="headerNav-con">
				<div class="headerCrumb" id="J_HeaderCrumb"></div>
				<ul class="headerPromise">
			@*		<li class="hPicon1">
						<a target="_blank" title="正品行货" href=" http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#ZPBZ">正品行货</a>
					</li>
					<li class="hPicon2">
						<a target="_blank" title="提供发票" href=" http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#TGFP">提供发票</a>
					</li>
					<li class="hPicon3">
						<a target="_blank" title="七天退换" href=" http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#QTTH">七天退换</a>
					</li>*@
				</ul>
				<!-- module-cache-info: module: shop.headerArchiveNoNav:1.1-b2c,moduleId=1240656693, key: user-890482188-prototype-57-20121105 cacheArea: 49 cachedTime: 2013-03-14 15:34:45 aliveTime: 28800 AppIP:172.24.173.88 -->
				<div id="mall-shop">
					<div id="shop-info">
						<div class="main-info">
							<h3 class="shop-title" style=" text-align:center">
								<a target="_blank" href="http://localhost:7525/merchant/index?scid=@Model.Merchant.Id">@Model.Merchant.Name </a>
							</h3>
						
							<p class="shop-grade">
								@*<a target="_blank" href="">
									<span title="4.7/5.0，共有40778人打分" class="c-value-no c-value-4d7"></span>
										 4.7
								</a>*@
							</p>
						</div>
						<div class="extra-info">
							<div class="bd">
								<div class="shop-rate">
								@*	<h4>
										店铺动态评分
										<span class="compare">与同行业相比</span>
									</h4>
									<ul>
										<li>
											描述相符：
											<a target="_blank" href="">
												<em
                                            class="count" title="4.76132分">4.7</em>
												<span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) "> <b>持平</b> <em>--------</em>
												</span>
											</a>
										</li>
										<li>
											服务态度：
											<a target="_blank" href="">
												<em
                                            class="count" title="4.74458分">4.7</em>
												<span class="rateinfo" title="计算规则:(同行业平均分-店铺得分)/(同行业平均分-同行业店铺最低得分)"> <b class="lower">低于</b> <em class="lower">1.35%</em>
												</span>
											</a>
										</li>
										<li>
											发货速度：
											<a target="_blank" href="">
												<em
                                            class="count" title="4.7673分">4.7</em>
												<span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
													<b>持平</b>
													<em>--------</em>
												</span>
											</a>
										</li>
									</ul>*@
								</div>
								<div class="extend">
									<ul>
										<li class="shopkeeper">
											<label>掌 柜：</label>
											<a href="http://localhost:7525/merchant/index?scid=@Model.Merchant.Id">@Model.Merchant.Name </a>
										</li>
								@*		<li>
											<label>客 服：</label>
											<span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97"
                                                data-tnick="" data-encode="true" data-display="inline">
												<a href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaonike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=&amp;itemsId="
                                                    target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
													<span>旺旺在线</span>
												</a>
											</span>
										</li>*@
										<li>
											<label>公 司 名：</label>
											@Model.Merchant.Name
										</li>
										<li class="locus">
											<label>所 在 地：</label>
											@Model.Merchant.Address
										</li>
									</ul>
								</div>
								<div class="other">
									 @*<a id="xshop_collection_href" style="width: 84px;" href="http://favorite.taobao.com/popup/add_collection.htm?id=71955116&amp;itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496&amp;scjjc=2&amp;_tb_token_=T6C62bS4Apux"
                                        mercury:params="id=71955116&amp;itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496"
                                        class="J_PopupTrigger collection xshop_sc J_TDialogTrigger J_TokenSign" data-width="440"
                                        data-height="260" data-closebtn="true">
										<span>收藏本店铺</span>
									</a>*@ 
								</div>
							</div>
							<div class="opt">
								<b id="J_InfoTrigger">展开/收起</b>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="content" class="eshop ark" data-cat="J_Cat" data-type="normal">
	
		<div id="bd">
			<div id="detail">
                @Html.Partial("_MallDetailMeta")
				

				<form id="J_FrmBid" name="bidForm" action="" method="post">
@*					<input type="hidden" name="title" value="@Model.Merchant.Name  @Model.Commodity.Name 503555">
					<input type="hidden" name="x_id" value="">
					<input type="hidden" name="seller_id" value="54e6f94343b5d2d647fdde8a93634496">
					<input type="hidden" name="seller_nickname" value="@Model.Merchant.Name ">
					<input type="hidden" name="who_pay_ship" value="卖家承担运费">
					<input type="hidden" name="photo_url" value="i2/T1Yn61XcxnXXc.DMo._112320.jpg">
					<input type="hidden" name="region" value="上海">
					<input type="hidden" name="auto_post" value="false">

					<input type="hidden" name="virtual" value="false">
					<input type="hidden" name="rootCatId" value="50011699">
					<input type="hidden" name="auto_post1" value="">

					<input type="hidden" id="buyer_from" name="buyer_from" value="">*@
                </form>
					
				<div id="J_itemViewed" catid="50022890" data-value="{&quot;itemId&quot;:&quot;16246683095&quot;,&quot;xid&quot;:&quot;&quot;,&quot;pic&quot;:&quot;i2/T1Yn61XcxnXXc.DMo._112320.jpg&quot;,&quot;price&quot;:&quot;19900&quot;,&quot;itemIdStr&quot;:&quot;16246683095&quot;,&quot;title&quot;:&quot;Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555&quot;}"></div>
				@Html.Partial("_MallDetailScript")             
			</div>
			<div class="layout grid-s5m0" id="ks-lazyload287">
				<div class="col-main tm-clear clearfix">
					<div id="mainwrap" class="main-wrap J_TRegion">

						<ul id="J_TabBar" class="tabbar tm-clear" style="position: static; top: 0px; display: block;">
							<li class="selected" id="J_TabBar_Detail">
								<a href="#description">商品详情</a>
							</li>
@*							<li class="">
								<a href="#J_Reviews" data-spm-anchor-id="a220o.1000855.0.96">
									累计评价
									<span class="J_ReviewsCount" style="display: inline;">
										<em class="J_ReviewsCountNum">39</em>
									</span>
								</a>
							</li>
							<li class="">
								<a href="#J_DealRecord" data-spm-anchor-id="a220o.1000855.0.97">
									月成交记录
									<span class="J_MonSales" style="display: inline;">
										<em class="J_MonSalesNum">25</em>
										件
									</span>
								</a>
							</li>*@
@*							<li class="">
								<a href="#J_SellerInfo" data-spm-anchor-id="a220o.1000855.0.98">服务质量</a>
							</li>
							<li class="">
								<a href="#J_TabRecommends" data-spm-anchor-id="a220o.1000855.0.99">看了又看</a>
							</li>
							<li class="">
								<a href="#J_AfterSales" data-spm-anchor-id="a220o.1000855.0.100">售后服务</a>
							</li>*@
						</ul>

						<div id="attributes" class="attributes">
@*							<div class="J_TMDStaticMod" data-params="{&quot;type&quot;:&quot;attrPromise&quot;}">
								<div class="ui-msg attr-promise-tip">
									<div class="ui-msg-con ui-msg-tip">
										邻居在线商家承诺：您付款之后，如果商家延迟发货，可以获得商品价格30%（不大于500元）的赔付金，
										<a href="" target="_blank">详见</a>
										<s class="ui-msg-icon"></s>
									</div>
								</div>
							</div>*@
							<div id="J_Shoppromotions"></div>

@*							<div class="attributes-list" id="J_AttrList">

								<div class="tm-clear hidden J_BrandAttr" id="J_BrandAttr"></div>
								<ul id="J_AttrUL">
									<li title="&nbsp;010黑&nbsp;890 粉色">颜色分类:&nbsp;010黑&nbsp;890 粉色</li>
									<li title="&nbsp;503555">货号:&nbsp;503555</li>
									<li id="J_attrBrandName" title="&nbsp;Nike/耐克">品牌:&nbsp;Nike/耐克</li>
									<li title="&nbsp;女子运动">耐克所属系列:&nbsp;女子运动</li>
									<li title="&nbsp;综训服装">子系列:&nbsp;综训服装</li>
									<li title="&nbsp;2012年夏季">上市年份:&nbsp;2012年夏季</li>
									<li title="&nbsp;199">市场价格:&nbsp;199</li>
									<li title="&nbsp;紧身款">服装版型:&nbsp;紧身款</li>
									<li title="&nbsp;及胸">衣长:&nbsp;及胸</li>
									<li title="&nbsp;吊带">款式:&nbsp;吊带</li>
									<li title="&nbsp;现货">是否现货:&nbsp;现货</li>
									<li title="&nbsp;瑜伽&nbsp;舞蹈/健美操&nbsp;器械健身">健身项目:&nbsp;瑜伽&nbsp;舞蹈/健美操&nbsp;器械健身</li>
									<li title="&nbsp;151-200元">价格区间:&nbsp;151-200元</li>
									<li title="&nbsp;XL&nbsp;L&nbsp;M&nbsp;S">运动服尺寸:&nbsp;XL&nbsp;L&nbsp;M&nbsp;S</li>
									<li title="&nbsp;女性">运动服性别:&nbsp;女性</li>
								</ul>
							</div>*@
						</div>

						<div id="mall-banner"></div>

						<div id="J_DcTopRightWrap">
							<div id="J_DcTopRight" class="J_DcAsyn">
							</div>
						</div>
						<div id="description" class="tm-curTab">
							<h4 class="hd">商品详情</h4>
							@*<div class="content ke-post" id="J_ItemDesc">
                                <p>
									<img align="absMiddle" src="http://img02.taobaocdn.com/imgextra/i2/890482188/T2Jq4qXjtNXXXXXXXX_!!890482188.jpg"></p>
								<p>
									AS ADAPT INDY SHORT 女子紧身服为你的训练缔造专业级保护和舒适感，卓越的面料让身体最敏感的肌肤获得绝佳舒适触感和透气性，两幅肩带可更换，专为炎热夏季设计。干爽性 AS ADAPT INDY SHORT 女子紧身服通过NIKE DRI-FIT面料的独特结构加强排气通风功能，令你在训练中能长时间拥有凉爽穿着体验。
								</p>
								<ul>
									<li>细肩带设计</li>
									<li>面料：61%棉，33%涤纶，6%氨纶</li>
									<li>网眼面料：80%涤纶，20%氨纶</li>
									<li>里料：80%涤纶，20%氨纶</li>
									<li>衬垫面料：100%涤纶</li>
									<li>两副肩带</li>
									<li>可机洗</li>
									<li>DRI-FIT面料保持运动时的干爽与舒适</li>
								</ul>
								<p>
									<img align="absMiddle" src="http://img02.taobaocdn.com/imgextra/i2/890482188/T262lZXdlcXXXXXXXX_!!890482188.jpg">
									<img src="http://img02.taobaocdn.com/imgextra/i2/890482188/T27O8NXaNeXXXXXXXX_!!890482188.jpg"></p>
								<p>&nbsp;</p>
								<p>&nbsp;</p>     
							</div>*@
                            @Html.Raw(Model.Commodity.Description)
						</div>
						<div id="J_DcBottomRightWrap">
							<div id="J_DcBottomRight" class="J_DcAsyn">
							</div>
						</div>

						<div class="tb-box tshop-psm tshop-psm-bdetailtabl" id="J_Detail">
							@*<div id="J_Reviews" class="J_DetailSection">
								<h4 class="hd">
									累计评价
									<span class="J_ReviewsCount" style="display: inline;">
										(
										<em class="J_ReviewsCountNum">39</em>
										)
									</span>
								</h4>
							</div>*@
							@*<div id="J_DealRecord" class="J_DetailSection">
								<h4 class="hd">
									月成交记录
									<span class="J_MonSales" style="display: inline;">
										(
										<em class="J_MonSalesNum tm-MRswitchRecord">25</em>
										件)
									</span>
								</h4>
								<div>
									<div class="ui-msg attr-promise-tip">
										<div class="ui-msg-con ui-msg-tip">
											拍下价格的不同可能会由于促销和打折引起的，详情可以咨询商家。
											<s class="ui-msg-icon"></s>
										</div>
									</div>
									<ul class="lst-summary-inrecord tm-clear">
										<li class="detail-price tm-clear">
											<span>原价：</span>
											<strong class="J_originalPrice">199.00</strong>
											元
										</li>
										<li>
											<span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-tnick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97" data-encode="true" data-display="inline">
												<a href="http://www.taobao.com/webww/?ver=1&amp;&amp;touid=cntaobaonike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97&amp;siteid=cntaobao&amp;status=2&amp;portalId=&amp;gid=16246683095&amp;itemsId=" target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
													<span>旺旺在线</span>
												</a>
											</span>
										</li>
									</ul>

								</div>
								<div id="J_showBuyerList" class="J_TAjaxContainer tm-clear">
									<table summary="买家出价记录" border="0" cellspacing="0" cellpadding="0" class="table-deal-record" server-num="tbskip184117.cm4">
										<caption class="month-record">
											本商品累计售出
											<em class="count">76</em>
											件 ，最近一个月成交
											<em>25</em>
											件
										</caption>
										<colgroup>
										<col class="col-buyer">
										<col class="col-goods">
										<col class="col-price">
										<col class="col-amount">
										<col class="col-chargetime">
										<col class="col-status"></colgroup>
									<tbody>
										<tr>
											<th>买家</th>
											<th>宝贝名称</th>
											<th>拍下价格</th>
											<th>购买数量</th>
											<th>成交时间</th>
											<th>状态</th>
										</tr>
										<tr>
											<td class="cell-align-l">
												鹦
												<span class="tb-anonymous">**</span>
												静
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_2.gif" title="11－40个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href="http://vip.taobao.com" title="V2会员">
													<img src="http://localhost:7525/Images/v2_member-16-16.png" alt="V2会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:S</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-13 11:36:36</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												m
												<span class="tb-anonymous">**</span>
												n
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_5.gif" title="151－250个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href="" title="V2会员">
													<img src="http://localhost:7525/Images/v2_member-16-16.png" alt="V2会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:S</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-11 13:22:14</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												苏
												<span class="tb-anonymous">**</span>
												k
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_blue_1.gif" title="251－500个买家信用积分" border="0" align="absmiddle" class="rank"></td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:L</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-11 06:13:46</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												李
												<span class="tb-anonymous">**</span>
												3
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_5.gif" title="151－250个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href=" " title="V2会员">
													<img src="http://localhost:7525/Images/v2_member-16-16.png" alt="V2会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:S</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-06 11:25:19</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												t
												<span class="tb-anonymous">**</span>
												9
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_3.gif" title="41－90个买家信用积分" border="0" align="absmiddle" class="rank"></td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:M</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-04 23:27:36</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												m
												<span class="tb-anonymous">**</span>
												k
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_blue_1.gif" title="251－500个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href="" title="V2会员">
													<img src="http://localhost:7525/Images/v2_member-16-16.png" alt="V2会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:L</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-03 23:05:03</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												<a href=" " target="_blank">爱恨恢恢zy</a>
												<a href=" " target="_blank">
													<img src="http://localhost:7525/Images/b_red_3.gif" title="41－90个买家信用积分，请点击查看详情" border="0" align="absmiddle" class="rank"></a>
												<a target="_blank" href=" " title="V1会员">
													<img src="http://localhost:7525/Images/v1_memeber-16-16.png" alt="V1会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:L</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-03 18:10:40</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												<a href=" " target="_blank">朵多寻</a>
												<a href=" " target="_blank">
													<img src="http://localhost:7525/Images/b_red_5.gif" title="151－250个买家信用积分，请点击查看详情" border="0" align="absmiddle" class="rank"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:L</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-03 16:04:24</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												f
												<span class="tb-anonymous">**</span>
												0
												<span class="tb-anonymous">(匿名)</span>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:M</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-02 13:50:25</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												安
												<span class="tb-anonymous">**</span>
												晖
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_5.gif" title="151－250个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href=" " title="V3会员">
													<img src="http://localhost:7525/Images/v3_member-16-16.png" alt="V3会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:M</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-03-01 12:04:52</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												购
												<span class="tb-anonymous">**</span>
												奔
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_4.gif" title="91－150个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href=" " title="V2会员">
													<img src="http://localhost:7525/Images/v2_member-16-16.png" alt="V2会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:M</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-02-28 21:46:29</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												y
												<span class="tb-anonymous">**</span>
												6
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_3.gif" title="41－90个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href="http://vip.taobao.com" title="V1会员">
													<img src="http://localhost:7525/Images/v1_memeber-16-16.png" alt="V1会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:L</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-02-27 22:59:30</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												<a href=" " target="_blank">jamie20101111</a>
												<a href=" " target="_blank">
													<img src="http://localhost:7525/Images/b_blue_1.gif" title="251－500个买家信用积分，请点击查看详情" border="0" align="absmiddle" class="rank"></a>
												<a target="_blank" href=" " title="V2会员">
													<img src="http://localhost:7525/Images/v2_member-16-16.png" alt="V2会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:XL</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-02-26 10:32:29</td>
											<td>成交</td>
										</tr>
										<tr class="odd">
											<td class="cell-align-l">
												<a href=" " target="_blank">苏西卫</a>
												<a href=" " target="_blank">
													<img src="http://localhost:7525/Images/b_blue_1.gif" title="251－500个买家信用积分，请点击查看详情" border="0" align="absmiddle" class="rank"></a>
												<a target="_blank" href=" " title="V4会员">
													<img src="http://localhost:7525/Images/v4_member-16-16.png" alt="V4会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:M</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-02-25 20:50:27</td>
											<td>成交</td>
										</tr>
										<tr>
											<td class="cell-align-l">
												意
												<span class="tb-anonymous">**</span>
												禁
												<span class="tb-anonymous">(匿名)</span>
												<img src="http://localhost:7525/Images/b_red_2.gif" title="11－40个买家信用积分" border="0" align="absmiddle" class="rank">
												<a target="_blank" href=" " title="V1会员">
													<img src="http://localhost:7525/Images/v1_memeber-16-16.png" alt="V1会员"></a>
											</td>
											<td class="cell-align-l">
												Nike 耐克 AS ADAPT INDY SHORT 女子紧身服 503555
												<br>颜色分类:010黑;运动服尺寸:L</td>
											<td>
												<em>199</em>
											</td>
											<td>1</td>
											<td>2013-02-25 16:18:09</td>
											<td>成交</td>
										</tr>
									</tbody>
								</table>
								<div class="pagination">
									<div class="page-bottom">
										<span class="page-info"></span>
										<span class="page-start">
											<span>上一页</span>
										</span>
										<span class="page-cur">1</span>
										<a href=" " detail:params="http://tbskip.taobao.com/json/show_buyer_list.htm?is_offline=&amp;page_size=15&amp;is_start=false&amp;item_type=b&amp;ends=1363536520000&amp;starts=1362931720000&amp;item_id=16246683095&amp;user_tag=236548128&amp;old_quantity=66&amp;sold_total_num=25&amp;closed=false&amp;seller_num_id=890482188&amp;zhichong=true&amp;taohua=&amp;is_from_detail=yes&amp;total_sq=76&amp;sbn=4d31f9c22a8b1468d3cd69430c5b1445&amp;bidPage=2,showBuyerList" class="J_TAjaxTrigger page-next">2</a>
										<span class="page-break">…</span>
										<a href="" detail:params="http://tbskip.taobao.com/json/show_buyer_list.htm?is_offline=&amp;page_size=15&amp;is_start=false&amp;item_type=b&amp;ends=1363536520000&amp;starts=1362931720000&amp;item_id=16246683095&amp;user_tag=236548128&amp;old_quantity=66&amp;sold_total_num=25&amp;closed=false&amp;seller_num_id=890482188&amp;zhichong=true&amp;taohua=&amp;is_from_detail=yes&amp;total_sq=76&amp;sbn=4d31f9c22a8b1468d3cd69430c5b1445&amp;bidPage=2,showBuyerList" class="J_TAjaxTrigger page-next">
											<span>下一页</span>
										</a>
									</div>
								</div>
								<p class="view-all">
									<a id="J_LinkViewAll" detail:params="http://tbskip.taobao.com/json/show_buyer_list.htm?bid_page=1&amp;page_sizename=pageSize&amp;is_start=true&amp;item_type=b&amp;ends=1363536520000&amp;starts=1362931720000&amp;item_id=16246683095&amp;zhichong=true&amp;taohua=null&amp;user_tag=236548128&amp;seller_num_id=890482188&amp;title=null&amp;sold_total_num=25&amp;is_from_detail=yes&amp;total_sq=76&amp;sbn=4d31f9c22a8b1468d3cd69430c5b1445,showBuyerList" class="J_TAjaxTrigger" href="">
										查看更多历史记录 <ins></ins>
									</a>
								</p>
							</div>
						</div>*@
@*						<div id="J_SellerInfo" class="simple J_DetailSection hslice tb-sellerinfo" data-url="http://localhost:7525/Merchant/Detail/seller_info?user_num_id=890482188&amp;user_tag=236548128&amp;shop_start=1337320843000">
							
						</div>*@
						@*<div id="J_TabRecommends" class="simple J_DetailSection hslice ">
							<h4 class="hd">看了又看</h4>
							<div class="tm-clear hidden J_BrandAttr"></div>
							<div id="J_Tjwrap">
								<ul id="J_TjWaterfall" class="clearfix ald-03040" style="height: 1549px;">

                                if (Model.Merchant.MerchantType == friday.core.EnumType.MerchantTypeEnum.百货)
                                {
                                    for (var index = 0; index < (Model.Commoditys.Count() > 12 ? 12 : Model.Commoditys.Count()); index++)
                                    {
                                        var item = Model.Commoditys.ElementAt(index);
                                        <li class="ald-wf-li ks-waterfall-col-0 ks-waterfall-col-first" >
		                                <a href="http://detail.tmall.com/item.htm?id=16246207723&amp;pos=1&amp;uuid=3557f47c278d4aec877f4b668be577b4&amp;scm=1003.3.03040.1_1&amp;acm=03040.1003.247.238.16246207723_1" class="ald-wf-pic" target="_blank">
                                        <img height="220" src="http://img01.taobaocdn.com/bao/uploaded/i1/T1qQ3iXjxbXXb2KJg9_103037.jpg_250x250.jpg">
                                         <span class="ui-price"><span class="ui-price-icon">¥</span> @item.Price</span></a>
		                                @foreach (friday.core.ValuingOfMyCommodityOrder v in Model.ValuingOfMyCommodityOrders[index])
                                        {
                                            <p>
			                                <b>@v.LoginUser.LoginName</b> @v.ValuingContent
		                                    </p>
                                        }
	                                    </li>
                                    }
                                }

								</ul>
							</div>
							<div style="height: 200px; background-color: rgb(255, 255, 255); display: none;" class="ui-loading"></div>
						</div>*@
						<div id="J_AfterSales" class="J_DetailSection">
							<h4 class="hd">售后服务</h4>
							<ul class="content">

								<li class="item-afterservices">
									<div class="section-box">
										<div id="J_AfterSalesWrap" data-url="" data-aftersaleid="0" data-showalipaypromise="true" data-shoppicurl="http://logo.taobaocdn.com/shop-logo/54/e6/T1GWrgXb4bXXb1upjX">
											<div class="promise-info">
												<dl class="promise-nav">
													<dt class="highlight-extra-weight">卖家承诺：</dt>
													<dd class="highlight-extra-weight">凡使用支付宝服务付款购买本店商品，若存在质量问题或与描述不符，本店支持退换货服务并承担来回邮费！</dd>
												</dl>
											</div>
										</div>
										<div class="J_TMDStaticMod" data-params="{&quot;type&quot;:&quot;afterSale&quot;,&quot;show7&quot;:true}">
											<div class="server-container b-detail">
												<dl class="promise-server">
													<dt class="first-dt">
														<a href="http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#ZPBZ" target="_blank"></a>
													</dt>
													<dd class="first-dd">
														<div>
															邻居在线的商家出售均为正品，承诺提供"正品保障"服务，一旦发现有出售假货及非原厂正品商品,买家可在交易成功后向邻居在线投诉商家并申请邻居在线使用商家保证金余额进行先行赔付。
														</div>
													</dd>
													<dt class="second-dt">
														<a href="http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#TGFP" target="_blank"></a>
													</dt>
													<dd class="second-dd">
														<div>对于在邻居在线购物的买家均提供商品发票。</div>
													</dd>
													<dt class="third-dt">
														<a href="http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#QTTH" target="_blank"></a>
													</dt>
													<dd class="split-end third-dd">
														<div>对于在邻居在线购物的买家提供"七天无理由退换货"的保障服务。</div>
													</dd>
												</dl>
											</div>
											<div class="tb-weiQuanBox">
												<h5>
													<b class="tb-title-cn"></b>
													邻居在线承诺
												</h5>
												<ol class="tb-chengNuo">
													<li>
														1、您付款之后，如果商家延迟发货，可以获得商品价格30%（不大于500元）的赔付金，
														<a href=" " target="_blank">详见</a>
													</li>
													<li>2、邻居在线所有在售商品均支持7天无理由退货（不包含珠宝类和定制商品）；</li>
													<li>3、邻居在线所有在售商品均开具正规发票；</li>
													<li>4、邻居在线所售商品均为正品行货，如商家出售假货，支持假一赔三处理，并清退商家。</li>
												</ol>
												<h5>
													<b class="tb-title-lc"></b>
													维权服务发起流程
												</h5>
												<p class="tb-weiQuanLiuCheng">
													<b></b>
													购买商品出现问题-未确认收货-发起退款申请-邻居在线客服48小时内介入纠纷调解-退款成功；
													<br>购买商品出现问题-已确认收货-发起维权申请-邻居在线客服48小时内介入纠纷调解-维权成功</p>
												<h5>
													<b class="tb-title-bz"></b>
													退换货服务标准
												</h5>
												<dl class="tb-tuiBiaoZhun">
													<dt>退换货基本条件：</dt>
													<dd>对全部商品：</dd>
													<dd>外包装完整，且不影响二次销售。一旦拆封无法复原商品不可退货（质量问题除外）。</dd>
													<dd>若交易已完成，发现质量问题，请在交易完成后15天内进行退款申请。</dd>
													<dd>退款时买家需将发票和赠品一起退回。</dd>
													<dt>不可退换货特殊说明：</dt>
													<dd>无质量问题且外包装已拆无法复原，影响二次销售。</dd>
													<dd>为客户特殊定制的商品不支持7天无理由退换货。</dd>
													<dd>人为刻意损害或不可抗力导致的损坏。</dd>
													<dd>7天无理由退换货超过食用期限的商品。</dd>
													<dd>非邻居在线店铺出售的商品或已超出退换货期限的商品（7天无理由退货以签收日为准起始7日之内）。</dd>
													<dd>商品的图片及信息仅供参考。因拍摄灯光及不同显示器色差等问题可能造成商品图片与实物有细微色差。</dd>
													<dt>退换货费用说明：</dt>
													<dd>如果是买家原因退货，由买家自行承担退货费用。</dd>
													<dd>如果是商品质量问题、描述不符而导致的退货，退货费用则应由店铺承担。</dd>
													<dt>退货时可能涉及的证明：</dt>
													<dd>购货发票以及赠品。</dd>
													<dd>权威检验机构以及品牌所有者出具的鉴定报告或其他能够证明所购买商品为假货的凭证。</dd>
													<dd>
														旺旺聊天记录截图（在使用阿里旺旺与店铺沟通时，请事先在系统设置-聊天设置中选择“将我的消息记录保存到阿里旺旺服务器上”）。
													</dd>
													<dd>其他邻居在线需要双方出具的证明文件。</dd>
												</dl>
											</div>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<div class="J_TMDStaticMod" data-params="{&quot;type&quot;:&quot;official&quot;,&quot;offline&quot;:&quot;&quot;}">
							<div id="official-remind">
								<dl class="tb-secu">
									<dt>安全提示：</dt>
									<dd>
										<p>交易过程中请勿随意接收卖家发送的可疑文件，请勿点击不明来源的链接，付款前请务必详细核对支付信息。</p>
										<p class="tm-secu clearfix">
											<em>推荐安全软件：</em>
											<span class="tm-secu-tb">邻居在线浏览器</span>
											<span class="tm-secu-360">360网盾</span>
											<span class="tm-secu-king">金山卫士</span>
											<span class="tm-secu-sogou">搜狗浏览器</span>
											<a href="" target="_blank">邻居在线网安全中心&gt;&gt;</a>
										</p>
									</dd>
								</dl>
								<dl class="tb-exemption">
									<dt>免责声明：</dt>
									<dd>
										邻居在线所展示的宝贝供求信息由买卖双方自行提供，其真实性、准确性和合法性由信息发布人负责。邻居在线不提供任何保证，并不承担任何法律责任。邻居在线友情提醒：为保障您的利益，请网上成交，贵重宝贝，请使用支付宝交易。
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sub tb-shop" id="ks-lazyload289">
				<div class="J_TRegion">
					<!-- tair resultCode=code=0, msg=success, tair key: tsa890482188, version: 1, cdate: 1970-01-01 08:00:00, mdate: 2013-03-14 04:54:05, edate: 2013-03-14 08:54:05,  -->
					<div class="box J_TBox tshop-psm tshop-psm-ssa10b" id="side-shop-info">
						<div class="shop-basic">
							<div class="hd">
								<h3>
									<span>商家信息</span>
								</h3>
							</div>
							<div class="bd">
								<div class="shop-promise">
									<p>
										<img alt="邻居在线，品质保证" src="http://localhost:7525/Images/small_mcht_bar-175-35.png"></p>
									<ul>
										<li>
											<a href="http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#ZPBZ" target="_blank">正品保障</a>
										</li>
										<li>
											<a href="http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#TGFP" target="_blank">提供发票</a>
										</li>
										<li id="J_7day" class="last">
											<a href="http://localhost:7525/index.htmlgo/chn/mall2010/promise.php#QTTH" target="_blank">七天退换</a>
										</li>
									</ul>
								</div>

								<div class="shop-intro">
									<div class="name">
										<span>NIKE</span>
									</div>
									<div class="shop-rate">
										<h4>
											店铺动态评分
											<span class="compare">与同行业相比</span>
										</h4>
										<ul>
											<li>
												描述相符：
												<a target="_blank" href=" ">
													<em class="count" title="4.76132分">4.7</em>
													<span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
														<b>持平</b>
														<em>--------</em>
													</span>
												</a>
											</li>
											<li>
												服务态度：
												<a target="_blank" href=" ">
													<em class="count" title="4.74458分">4.7</em>
													<span class="rateinfo" title="计算规则:(同行业平均分-店铺得分)/(同行业平均分-同行业店铺最低得分)">
														<b class="lower">低于</b>
														<em class="lower">1.35%</em>
													</span>
												</a>
											</li>
											<li>
												发货速度：
												<a target="_blank" href=" ">
													<em class="count" title="4.7673分">4.7</em>
													<span class="rateinfo" title=" 计算规则:(店铺得分-同行业平均分)/(同行业店铺最高得分-同行业平均分) ">
														<b>持平</b>
														<em>--------</em>
													</span>
												</a>
											</li>
										</ul>
									</div>
									<div class="extend">
										<ul>
											<li>
												<label>公 司 名：</label>
												上海宝尊电子商务有限公司
											</li>
											<li class="locus">
												<label>所 在 地：</label>
												上海
											</li>
											<li class="shopkeeper">
												<label>商&nbsp;&nbsp;&nbsp;&nbsp;家：</label>
												<a href=" ">nike</a>
											</li>
											<li>
												<label>客&nbsp;&nbsp;&nbsp;&nbsp;服：</label>
												<span class="ww-light ww-large" data-nick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%88%B0%E5%BA%97" data-tnick="nike%E5%AE%98%E6%96%B9%E6%97%97%E8%89%A6%E5%BA%97" data-encode="true" data-display="inline">
													<a href=" " target="_blank" class="ww-inline ww-online" title="点此可以直接和卖家交流选好的宝贝，或相互交流网购体验，还支持语音视频噢。">
														<span>旺旺在线</span>
													</a>
												</span>
											</li>
										</ul>
									</div>
									<div class="other">
										<a class="enter" href="http://localhost:7525/merchant/index?scid=@Model.Merchant.Id" title="进入掌柜的店铺" target="_blank">
											<span style="display:none;">进入掌柜的店铺</span>
										</a>
										<a id="xshop_collection_href" href=" " mercury:params="id=71955116&amp;itemid=71955116&amp;itemtype=0&amp;ownerid=54e6f94343b5d2d647fdde8a93634496" class="J_TDialogTrigger J_PopupTrigger collection xshop_sc J_TokenSign" data-width="458" data-height="346" data-closebtn="true" style="width:84px">
											<span>收藏本店铺</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div id="J_DcLeft" class="J_DcAsyn">
					
				</div>
			</div>
		</div>
	</div>

	<div id="J_DcFt" class="J_DcAsyn">
		
	</div>
</div>
    <div id="footer">
    <div id="mall-desc">
        <dl id="ensure">
        <dt><span>邻居保障</span></dt>
        <dd>
@*            <span><i></i>7天无理由退换货</span>
            <span><i></i>提供发票</span>*@
        </dd>
    </dl>
    <dl id="beginner">
        <dt><span>新手上路</span></dt>
        <dd>
            <a href="http://localhost:7525/Account/register" target="_blank"><i></i>免费注册</a>
@*            <a href="" target="_blank"><i></i>开通支付宝</a>
            <a href="" target="_blank"><i></i>支付宝充值</a>*@
            <a href="http://localhost:7525/OtherPage/DataResource?secitonName=帮助中心" target=""><i></i>帮助中心</a>
        </dd>
    </dl>
    <dl id="payment">
            <dt><span>支付方式</span></dt>
            <dd>
                @*<a href="http://kuai.alipay.com/product/" target="_blank"><i></i>支付宝快捷支付</a>*@
                <a href="" target="_blank"><i></i>货到付款</a>
                @*<a href="" target="_blank"><i></i>网上银行支付</a>*@
            </dd>
        </dl>

    <dl id="seller">
        <dt><span>商家服务</span></dt>
        <dd>
           <a href="http://localhost:7525/weblogin/login.aspx" target="_blank" class="join"><i></i>商家入驻&gt;&gt;</a>
           <a href="http://localhost:7525/weblogin/login.aspx" target="_blank"><i></i>商家中心</a>
		@*<a href="" target="_blank"><i></i>智库</a>*@
           <a href="http://localhost:7525/OtherPage/DataResource?secitonName=开铺规则" target="_blank"><i></i>开铺规则</a>
        </dd>
    </dl>
            <script type="text/javascript">
                $("#ensure dt span").attr("style", "background-position-x:0px;background-position-y:0px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
                $("#beginner dt span").attr("style", "background-position-x:0px;background-position-y:-20px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
                $("#payment dt span").attr("style", "background-position-x:0px;background-position-y:-40px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
                $("#seller dt span").attr("style", "background-position-x:0px;background-position-y:-60px;display:block;font-family:微软雅黑;font-size:18px;font-style:normal;font-variant:normal;font-weight:500;height:25px;line-height:1.5;overflow:hidden;text-align:left;width:73px;text-indent:0;background-image:url('');");
        </script>
    <!--[if IE 6]><br /><![endif]-->
    <h4 class="go-home"><a href="http://localhost:7525/index.html" target="_blank" title="返回首页">返回首页</a></h4>
    </div>
    <div id="copyright">
        <!-- foot links from tms start -->
    <p id="footer-Tmallinfo">
        <a href=" " target="_blank">关于本站</a>
        <a href=""  target="_blank">帮助中心</a>
        <a href="" target="_blank">网站地图</a>
        <a href=" " target="_blank">诚聘英才</a>
        <a href=" " target="_blank">联系我们</a>
        <a href=" " target="_blank">网站合作</a>
        <a href="">版权说明</a>
    </p>
    <p id="footer-otherlink">
	<a target="_blank" href="#">邻居在线集团</a>@*：	
      邻居在线网络 - <a target="_blank" href=" ">中国站</a> <a target="_blank" href=" ">国际站</a>*@ 
    @*  <a target="_blank" href="">全球速卖通</a> <a target="_blank" href="">日文站</a> | *@
	@*<a target="_blank" href=" ">邻居在线网</a> | *@
@*	<a target="_blank" href=" ">邻居网</a> |
	<a target="_blank" href=" ">聚划算</a> |
	<a target="_blank" href="http://www.alipay.com/">支付宝</a> | 
	<a target="_blank" href="http://www.yahoo.com.cn/">中国雅虎</a> | 
	<a target="_blank" href=" ">邻居在线联盟</a> | 
        <a target="_blank" href=" ">集团研究中心</a> |
        <a href=" " target="_blank">邻居在线天下</a> | 
        <a href="" target="_blank">邻居网</a> *@
    </p>
    <p>Copyright&nbsp;2003-2013, 版权所有邻居在线.COM <br>
    增值电信业务经营许可证：重B2-20110446<br>网络文化经营许可证：
    <a href="" target="_blank">重网文[2012]0234-028号</a>
    <br>互联网医疗保健信息服务 审核同意书 重 卫网审【2012】6号
    <br>互联网药品信息服务资质证书编号：重-（经营性）-2012-0005</p>
        <!-- foot links from tms end -->
    </div>
        <div id="server-num">版本V0.81</div>
</div>
</body>
</html>
<script type="text/javascript">
    TShop.initFoot({});
</script>
						    <script type="text/javascript">
						        //debugger
                            </script>